[2022-07-19 18:45] HiltonGiesenow commented on #1753
sounds good, will pick this up

[2022-07-19 19:23] #1739 closed

[2022-07-19 21:35] gavinbarron commented on #1767
**Initial blockers:**
`samples/sp-webpart` has dependency on `@microsoft/sp-core-library@1.13.0` which locks the node version < 15.5.0

`node-sass` must be > 6.0 to run on node 16+
`samples/react-app` uses `react-scripts@3.0.0` this introduces a transitive dependency on jest@24.9.0 which fails to mee the requirement for `jest@">=26 <27" from ts-jest@26.5.6`

[2022-07-20 05:15] Ofer-Gal commented on #1644
Yes it is

[2022-07-20 10:55] chandraprakash-condeco opened #1772 "[BUG] Styling issue with FluentUI Checkboxes when we insert mgt-person / mgt-people (in react: <Person /> <People />) graph tags in react component file"
**Describe the bug**
We are facing some styling issue with FluentUI Checkboxes when we insert mgt-person / mgt-people (in react: <Person /> <People />) graph tags in our react component file.
Look like mgt tag styles are making a conflict with FluentUI styles. When we insert the mgt tags, the styles of the Fluent Checkbox have been removed. And this is only happening with the Checkboxes.
Other con

[2022-07-20 14:30] sebastienlevert commented on #1644
With this repro, I can't get your issues... Is there anything that impacts it?

https://stackblitz.com/edit/mgt-1644?file=App.tsx

[2022-07-20 15:18] Ofer-Gal commented on #1644
Guess the only difference is that my implementation is in a SPFx webpart and real 365 tenant rather than "MockProvider"
My provider init in the ...webpart.ts is:
[code]
Thanks for the help

[2022-07-20 22:47] #1756 closed

[2022-07-20 22:56] gavinbarron opened #1775 "Update sp-webpart sample to use SPFx 1.15."
# Proposal: Update sp-webpart sample to use SPFx 1.15

## Description
Currently this sample is targeting SPFx 1.13.0 we should have a sample that reflects the latest SPFx version

## Rationale
SPFx is a key use-case for MGT. We should be current.
Furthermore v1.13 has a dependency issue that blocks upgrading the library to ensure that will build using Node v16

## Preferred Solution
Updated depend

[2022-07-21 03:08] gavinbarron commented on #1644
Interesting.
This seems to be a conflation of defaultSelectedUserIds and selectedUsers.
Based on my experimentation defaultSelectedUserIds is only used during initialization.

Compare these two behaviors:
[Defer loading until default list populated - defaultSelectedUserIds](https://stackblitz.com/edit/mgt-1644-dplt9r?file=App.tsx)
[Load immediately - update the value bound to selectedPeople](https

[2022-07-21 12:58] Ofer-Gal commented on #1644
Both have the `await sleep(5000);` and both seem to fix at first. when I I clicked [Load immediately - update the value bound to selectedPeople](https://stackblitz.com/edit/mgt-1644-aurssr?file=App.tsx)  a second time, I see just icons.
![image](https://user-images.githubusercontent.com/5054931/180218953-d204ac9a-4291-4059-9dc7-9bdbd8dfa105.png)

I will try the first method in the web part later.

[2022-07-21 14:02] gavinbarron commented on #1644
Yeah, the selectedPeople option expects an array of person type objects, not just an array of ids, so I made a shameless hack in the interests of showing the functionality, note how the array contains objects with the id property set.

@Ofer-Gal I'm going to mark this as closed now, please feel free to re-open if you need to.

[2022-07-21 15:20] #1754 closed

[2022-07-21 15:28] sebastienlevert opened #1777 "Update docs mgt/v3 feature branch to the latest to start our documentation process"
https://github.com/microsoftgraph/microsoft-graph-docs/tree/mgt/v3

[2022-07-21 16:10] chandraprakash-condeco commented on #1772
Please find the video link
https://www.dropbox.com/s/0fvfj6e9ps59ew3/React-App-with-dev-tool.webm?dl=0

Happy to show you the problem in a quick session-sharing meeting.
A quick help is highly appreciated.

[2022-07-21 17:34] gavinbarron commented on #1777
https://github.com/microsoftgraph/microsoft-graph-docs/tree/mgt/v3 has been updated with all commits from main

[2022-07-21 17:34] #1777 closed

[2022-07-21 19:22] EisenbergEffect commented on #1772
Hello @chandraprakash-condeco. Thanks for reporting this issue. I'm one of the technical leads on the Fluent UI Web Components. I wasn't aware of this issue until today. I wanted to let you know that I'm following up internally to get all the relevant people together so we can find out what's going on here. Thanks for your patience.

[2022-07-21 22:35] sebastienlevert commented on #1772
Thanks for jumping in @EisenbergEffect! I would love @chandraprakash-condeco if you could provide a simple repro of your code to understand how you are using both MGT and Fluent UI Web Components together! This would be extremly useful for us to help debugging this issue.

Thanks!

[2022-07-21 23:01] gavinbarron commented on #1772
@chandraprakash-condeco if you can either share a minimal reproduction as Seb suggested, or let us know what versions of mgt and fluentUI you're using (Web Components / React + Semver) that would be really helpful for our team to pin this down.

[2022-07-22 04:48] Ofer-Gal commented on #1644
In my SPFx Web Part (now MGT 2.6.0) it only show correctly when
[code]
When using variables
[code]
then in the component
[code]
It shows nothing.

Do you want to leave it only good for demos? :-)
Actual usage will always involve using variables, and with multi, it will always be an array .

Thanks any way

[2022-07-22 08:19] chandraprakash-condeco commented on #1772
@gavinbarron @sebastienlevert @EisenbergEffect  Please find the source code from dropbox, it has readme.txt inside.
https://www.dropbox.com/s/mbs2gjg0xwhpy0z/Project.zip?dl=0

Happy to answer further queries or jump on a call for further assistance.

[2022-07-22 16:06] sebastienlevert commented on #1644
Interestingly enough, this works using our Web Component, but it has a hard time with React, probably because of the way it seems to only support initialization. @gavinbarron what if we reopen this and look in details later? This seems like a valid scenario as I would say devs should not hardcode user ids in their code 😎

[2022-07-22 17:24] gavinbarron commented on #1644
@Ofer-Gal thank you for calling out this challenge. This has to be addressed. We can't ship code that isn't useful in production scenarios as you rightly point out.

@sebastienlevert yes, this is a real-world issue and we need to resolve it.

[2022-07-22 18:02] gavinbarron commented on #1772
Thank you @chandraprakash-condeco that sample reproduction was most useful.

Here's what I can make of the situation. You have a dependency on `@fluentui/web-components^2.5.3` and a dependency on `@microsoft/mgt-react^2.5.2`.

`@microsoft/mgt-react` has a transitive dependency on `@fluentui/web-components@0.22.1` via `@microsoft/mgt-components`

The mgt-file-upload component uses fluent-checkbox,

[2022-07-22 18:40] gavinbarron commented on #1772
@chandraprakash-condeco I did think of a work-around that might help.

The underlying issue is that the v0.22.1 version of fluent-checkbox is registering first. If you can delay the loading of the mgt based components until after the fluentui components, then you'd get the latest version of the fluent-checkbox.

This can be done by putting the usages of mgt component into a wrapper components that

[2022-07-24 13:14] HiltonGiesenow commented on #1753
I'm working on this a bit now, and to start I want to try get the workaround working that I've read about in other issue numbers. I'm struggling to set the headers per https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/1224 - I'm not sure if interfaces have changed, or if it's because I'm working in an SPFx webpart that's making the difference. I posted it on SO as well, over here: h

[2022-07-25 12:14] musale commented on #1743
@FredrikEkstroem sorry for the late reply. Yes, the react files are auto generated.

[2022-07-25 14:03] chandraprakash-condeco commented on #1772
Thanks @gavinbarron, let us try the workaround.

[2022-07-25 15:06] KelvinJaci opened #1778 "[Docs] Get Started tutorial mgt-agenda and people-picker"
The mgt-agenda and people-picker components are not showing the person card on the meeting or the search bar for users in a newly created app on Azure AD.
The components are not responding as described on the document.
The workaround is to delete all the data which is already cached by the app and add a scope attribute to the msal-provider.
 This issue is related to issue #1753

[2022-07-25 19:09] gavinbarron opened #1779 "[BUG] Title Tag in mgt.dev html template needs fixing"
**Describe the bug**
Search results when searching for Microsoft Graph Toolkit Playground the title shown uses the Webpack default

**To Reproduce**
1. Seach using the term Microsoft Graph Toolkit Playground
3. Observe the result for mgt.dev
4.
![image](https://user-images.githubusercontent.com/7122716/180855417-a83306b8-f517-4ac5-911c-3dcfa7a3cd25.png)

**Expected behavior**
This should provide a

[2022-07-26 16:48] HiltonGiesenow commented on #1753
@sebastienlevert , I looked more into this the last few days, and got a good test scenario. I see in the end that for the `/users` endpoint, the mgt is actually sending the correct headers and has been there for quite some time (see https://github.com/microsoftgraph/microsoft-graph-toolkit/blame/e9920ef0f6a1deae53d075517d02551cd1a67c5e/packages/mgt-components/src/graph/graph.user.ts#L320), so it's

[2022-07-26 19:01] #1713 closed

[2022-07-27 11:21] aycabas opened #1785 "[BUG] Login component & MSAL2 Provider authentication doesn't work in v2.6.0"
Below code is tested in a plain HTML file on Chrome and Edge, _Sign in_ button appears in the page, but not clickable to proceed for auth:

[code]

Same code works with v2.5.1, but doesn't work with v.2.5.2 and v2.6.0.
cc/ @sebastienlevert

[2022-07-27 14:41] sebastienlevert commented on #1785
I can reproduce this 100%. @musale / @gavinbarron. Is there something happening with mgt-loader?

[2022-07-27 16:29] gavinbarron commented on #1785
This looks to have been caused by the move back to having mgt-loader dropping the scripts into the page synchronously.

Having the provider in the body of the html and not in the head is a workaround, but would not help if someone used a script in the head to do the provider initialization. Having the provider in the head is causing the Localization helper to run and attempt to read the dir attrib

[2022-07-28 06:53] virender-gupta1 opened #1789 "People picker does not show results for other email values"
We have few users with other emails apart from primary email. But the people picker does not show any result when searched with the other email value. Is it possible to search the users with other email values?

[2022-07-28 14:07] aycabas commented on #1785
Thanks @gavinbarron I'll proceed with your workaround suggestion for my project.

[2022-07-29 16:20] #1785 closed

[2022-08-01 16:01] #1764 closed, assigned to nobody

[2022-08-01 17:54] logasja opened #1790 "mgt-element Login Error"
I am trying to use the mgt-components library to log a user into an electron app using Vue 3. Though login button appears, when clicked I recieve the error "crypto.getRandomValues() not supported." I tried directly calling provider.login() to see if it was a dependency issue with the mgt-compontents library but I recieve the same error. Any help on this would be greatly appreciated!

[2022-08-01 22:09] #1475 closed

[2022-08-02 11:02] #1763 closed

[2022-08-03 11:33] AndersSahlin opened #1795 "[BUG] People picker user-ids does not work"
**Describe the bug**
When specifying the `user-ids` property, the people picker component displays the top users instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a People Picker component
2. Specify a number of user ids or emails in the `user-ids` property
3. Focus the component to show the list of possible users to select
4. The component shows the top 6 users

**Expected behavi

[2022-08-03 15:17] AndersSahlin opened #1796 "[BUG] People picker caches found people indefinitely"
**Describe the bug**
When specifying the `user-ids` property to limit the possible selection of people in the people picker, the flyout menu will never update after its first render, even if the `user-ids` list has changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a People Picker component
2. Specify a number of user ids or emails with the `user-ids` property
3. Focus the componen

[2022-08-03 15:20] AndersSahlin commented on #1796
A dirty workaround I have used is to clear the field manually after the `user-ids` property is updated.

[code]

[2022-08-03 18:31] logasja commented on #1790
I see that msal-node was not installed in my repo, works now.

[2022-08-03 18:31] #1790 closed

[2022-08-03 22:50] gavinbarron commented on #1790
@logasja Thanks for following up and closing this out when you found the root cause, it's much appreciated

[2022-08-03 23:03] gavinbarron commented on #1795
Thanks for raising this and finding the root cause @AndersSahlin.
If you have the time, we welcome PRs from the community

[2022-08-04 09:24] AndersSahlin commented on #1795
I created a PR #1798 that reverts the change.

[2022-08-04 09:34] AndersSahlin commented on #1796
I'm not sure what the purpose of `defaultPeople` is, maybe caching or preventing creation of identical objects.

One possible fix could be to clear the `defaultPeople` list in the `requestStateUpdate` function:

[code]

[2022-08-04 10:21] AndersSahlin commented on #1796
Fixed in PR #1799. This will also affect other properties in the people picker, and fix the caching issue for those as well.

[2022-08-04 18:32] #1795 closed

[2022-08-04 20:42] gavinbarron opened #1800 "Enable use of BYO Data in toolkit & auth context sharing from Graph Explorer"
# Proposal: Allow users to authenticate on mgt.dev

## Description
We should allow users to sign and render components in the playground on mgt.dev using their own data.
This should be extended to allow users of Graph Explorer to visualize mgt components in the context of GE using their own data

## Rationale
Being able to visualize a component with your own data is far more compelling and may lea

[2022-08-05 17:22] #1796 closed

[2022-08-06 14:36] apanwar22i commented on #1772
@gavinbarron Putting checkbox into wrapper component is working. It is loading the styles now.

[2022-08-08 23:21] gavinbarron commented on #46
@waldekmastykarz I don't think that's included here.

I assume the use case you're suggesting is for Teams where a user might exist in multiple tenants and wants to switch from tenant a to tenant b?

[2022-08-08 23:25] gavinbarron commented on #1627
Designs: https://www.figma.com/file/tVj3DubCqeip6mhw14Up0j/Microsoft-Graph-Toolkit?node-id=7926%3A116870

[2022-08-08 23:27] gavinbarron commented on #46
Closing this issue as the ability to switch identities using the mgt-login control is now implemented on the next/fluentui branch

[2022-08-08 23:27] #46 closed

[2022-08-09 15:41] JeffKam-Stn opened #1803 "[BUG] Person Card Contact Links Issues when not authenticated"
**Describe the bug**

Currently in our project we aren't really using any of the providers that come with the Microsoft toolkit to do authentication as that was built into the framework and we wanted to see if we could use the person-card component to show some user data in our app.

If you are not authenticated with some kind of provider and you manually set the person details in the person card

[2022-08-09 23:33] gavinbarron commented on #1803
Hi @JeffKam-Stn

I followed your reproduction steps and found that the team chat and calling links worked as expected:
![image](https://user-images.githubusercontent.com/7122716/183779097-ff7a4a96-c38d-4dc1-97de-3742fd3977fd.png)
![image](https://user-images.githubusercontent.com/7122716/183779144-623acdcb-823f-44f0-87cf-bdff8d60ee42.png)

I did run yarn and yarn build in the root directory before

[2022-08-10 22:30] JeffKam-Stn commented on #1803
I created this minimal repo in github https://github.com/JeffKam-Stn/person-card-sample for this. This sample should show that the contacts section links isn't working.
![phone_attempt](https://user-images.githubusercontent.com/57015820/184030942-12ba1ce6-2561-42c3-a348-3f966e13b9c0.gif)

I can see here that the contact card data is being set:
![image](https://user-images.githubusercontent.com/570

[2022-08-16 22:30] gavinbarron commented on #1803
@JeffKam-Stn thank you for the reproduction.
It appears that this is a Chrome specific issue as it's working as expected in Edge 104 but not in Chrome 104.
Interestingly I can see the successful assignment to the .value properties happening, long before the click events to start the call fired by user interaction.

I'll dig and see if I can find anything more.

[2022-08-17 15:52] gavinbarron commented on #1789
Hi @virender-gupta1 thank you for raising this issue.

We have work happening in this space at present which might resolve this issue: #1784
Let's monitor if that change resolves this issue for you and if not, we will undertake further investigation.

[2022-08-17 15:55] #1775 closed

[2022-08-17 21:21] gavinbarron commented on #1803
This is wild, there was a change in the v8 JavaScript engine between v 10.4.16.7 and v 10.4.132.22 (these being the version inside the current stable releases of Edge and Chrome respectively)

This issue doesn't occur in Firefox either.

[2022-08-17 22:54] araver commented on #1590
Do you have any recommendations for getting this to work in a SPA?

[2022-08-17 23:59] gavinbarron commented on #1590
If you have a reproduction that shows your scenario, then I'd be happy to take a look and see what I think the correct approach is.

[2022-08-18 13:51] araver commented on #1590
Here's some sample code. There's way more to the solution, but its Company IP that I can't share. OrgPeoplePicker is 2-3 components below index.
`indext.ts`
[code]
`OrgPeoplePicker.tsx`
[code]

[2022-08-23 13:29] kev1010 commented on #1769
I agree the samples could be looked at as test cases for the framework. The sample shouldn't contain a lot of extraneous code. It seems like this is more of a deployment setup issue. Would using the [directory](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#directory) configuration option solve the problem?

[2022-08-23 18:41] ggu123456 opened #1894 "It doesn't work with Angular 13 and typescript version 4.6.3"
I'm using VisulStudio 2022 to create an Angular projet, which has Angular v13 and TypeScript 4.6.3.
I followed the steps in this doc, but when I run the app , I got the following error. it seems the graph control doesn't work with angular 13 and typeScript 4.6.3

Error: node_modules/@microsoft/fast-foundation/dist/fast-foundation.d.ts:222:26 - error TS2320: Interface 'Anchor' cannot simultaneously

[2022-08-23 21:11] #1803 closed

[2022-08-23 21:19] gavinbarron commented on #1769
Sure, using the directory configuration would hide the problem of having dependency issues in our samples.
But IMO they should be kept up to date to, just not with as much criticality as for the core code.

[2022-08-23 23:11] kev1010 commented on #1769
I would agree they should be kept up to date, but I don’t agree with the
“term hide the problem”.  Following that philosophy, moving the project to
another repository would also be bidding the problem.

I would be in favor of failing the build if dependencies are out of date.

On Tue, Aug 23, 2022 at 5:19 PM Gavin Barron ***@***.***>
wrote:

[2022-08-23 23:50] gavinbarron commented on #1590
Thanks for your repro @araver
I took a look and cut it back further and then worked out wht I think is going on for you.
In React whenenver a state object is updated then the component that state belongs to and all children are re-rendered, this can leat to some undesirable side-effects, like re-initializing the global MGT provider if you have that inside a component which gets re-rendered. Additi

[2022-08-24 16:58] gavinbarron commented on #1451
Browser support for `::part()` is pretty good now, https://caniuse.com/?search=%3A%3Apart , and probably the best way we have outside of more CSS variables.

[2022-08-24 19:35] gavinbarron commented on #1225
It looks like web component analyzer will support what we need to make this fly in the future based on:
https://github.com/runem/web-component-analyzer/issues/169 and https://github.com/runem/web-component-analyzer/pull/157

I've raised https://github.com/runem/web-component-analyzer/issues/248 to see if this is going to be addressed soon.

[2022-08-25 16:31] njaci1 opened #1811 "[RELEASE] 2.6.1"
This issue tracks the publishing progress for a release. It will get updated as tasks are completed

#### GitHub Release Notes
  - [x] Author draft release notes
  - [x] Author release notes summary
  - [x] Publish

#### Bug Bash
  - [x] Bash bugs
  - [x] mgt.dev is embedable

#### Release
  - [x] Ensure `main` is up to date with `release/latest`
  - [x] Ensure `./package.json` version in `main` i

[2022-08-25 18:34] #1811 closed

[2022-08-25 18:35] gavinbarron commented on #1811
Release has been shipped! 🚀

[2022-08-29 17:04] gavinbarron opened #1813 "[BUG] [Accessibility] Insufficient color contrast on mgt.dev"
**Describe the bug**
Insufficient color contrast on mgt.dev overview page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mgt.dev
2. Run Accessibility Insights Fast Pass
3. Note the color contrast issues detected

**Expected behavior**
There are no color contrast issues

**Screenshots**
![image](https://user-images.githubusercontent.com/7122716/187254596-7b981a2d-b446-44fd-b2e4

[2022-08-30 00:36] gavinbarron opened #1817 "[Chore] Update to TypeScript 4.8.x"
**Describe the bug**
We're running a full major version behind on TypeScript. We should update so that we have less out of date dependencies.

**Additional context**
This will also help with adding component testing using Playwright

[2022-08-30 18:59] ThomasPe opened #1821 "PeoplePicker: exclude userids"
# Proposal: PeoplePicker userid not equals filter

## Description
I would like to exclude certain users from a search query by user id.

## Rationale
Currently it is not possible to exclude user ids from showing up in the results due [to limitations in Microsoft Graph](https://github.com/microsoftgraph/microsoft-graph-docs/issues/5910). However, there are scenarios where this makes sense from  a U

[2022-09-01 16:18] #1607 closed

[2022-09-01 16:18] #1199 closed

[2022-09-01 16:18] #1625 closed

[2022-09-01 18:10] gavinbarron commented on #1765
Adding an additional point on `mgt-spfx` this solution requires that all customizations built using mgt use `mgt-spfx`.
Otherwise, there are still going to be multiple attempts to register the custom element.

[2022-09-02 10:34] #1813 closed

[2022-09-02 11:18] #1817 closed

[2022-09-02 12:31] musale commented on #1821
Hello @ThomasPe, thank you for this issue. It's true that a local filter option can be provided for this scenario. Are you also thinking of an option that not only allows user IDs but also other properties like emails, or display names? I think for your specific scenario, a property like `exclude-userids` would be sufficient. For the other properties maybe a stringified object with a key-value of

[2022-09-05 10:13] lebiku opened #1840 "Missing localization for contact parts in PersonCard"
We have been localizing the [person card](https://docs.microsoft.com/en-us/graph/toolkit/customize-components/localization). I didn't find translation support for the contact detail information though. I checked the [code](https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt-components/src/components/mgt-person-card/sections/mgt-person-card-contact/mgt-person-card-conta

[2022-09-05 11:02] #1725 closed

[2022-09-05 11:19] musale commented on #1767
Hello @gavinbarron the latest CI run on `main` fails due to an incompatible node version 00865f30255e7b86c2df369e98bf9059c4601beb, is this a proper time to do the CI updates for the allowed node versions in the matrix?

[2022-09-05 14:49] ThomasPe commented on #1821
Hi @musale, thanks for taking a look at this. I think user-id would be the most common scenario (show me users I don't already have added). Additional filters would be nice, but maybe passing a very generic filter function would be the most flexible and easy to maintain solution.

[2022-09-07 10:21] musale commented on #1631
@Laxmidurga created a PR [here ](https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1841)

[2022-09-07 10:32] musale commented on #1632
Hello @Laxmidurga I have a pr for this [here](https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1842)

[2022-09-07 10:47] musale opened #1844 "CI builds are failing"
**Describe the bug**
CI builds targeted to be merged into `main` are failing because the CI only allows building on v12.x of node.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [00865f30255e7b86c2df369e98bf9059c4601beb](https://github.com/microsoftgraph/microsoft-graph-toolkit/runs/8187117419?check_suite_focus=true)
2. CI build for pr is failing

The same is observed on PRs raised ta

[2022-09-07 12:12] #1844 closed

[2022-09-07 12:52] Laxmidurga commented on #1631
Hey @musale, can i verify the issue in the below mentioned UI as am not able to find any URL to verify in attached PR.
https://mgt.dev/next/?path=/story/components-mgt-people-picker--people-picker

[2022-09-07 13:01] musale commented on #1631
Hello @Laxmidurga the pr has builds that are failing so the changes are not available on the UI. Let me fix that up and let you know to test.

[2022-09-07 13:35] Mnickii opened #1847 "Builds targeting next/fluentui branch failing due to nested dependency responselike requiring node >v14.x[BUG]"
**Describe the bug**
CI builds targeted to be merged into `next/fluentui` are failing because the CI only allows building on v12.x of node, and nested dependency responselike@3.0.0 requires a node >v14.x.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this link](https://github.com/microsoftgraph/microsoft-graph-toolkit/runs/8227623977?check_suite_focus=true#step:5:158)
2. CI build fo

[2022-09-07 14:40] Laxmidurga commented on #1631
Sure @musale

[2022-09-07 23:21] gavinbarron commented on #1767
@musale yes, I think that we should be updating our supported node versions to 14 and 16 as part of the v3 release.

I suspect that we'll have quite a few dependencies which might cause us issues as we do so but now is the time.

[2022-09-08 10:02] Laxmidurga commented on #1535
Hi @musale, @sebastienlevert As verified, issue does not repro in the below URL as keyboard focus is landing only once on the 'Microsoft Graph Toolkit playground' link. Hence, closing.

URL: https://mgt.dev/next/pr/1849/?path=/story/overview--page

[2022-09-08 10:02] #1535 closed

[2022-09-08 10:02] musale commented on #1536
@Laxmidurga This issue is fixed in [production](https://mgt.dev/next) and [next](https://mgt.dev/next) playgrounds. We can close it once you test it's satisfactory. I can't track down the fix that fixed this.

[2022-09-08 10:05] Laxmidurga commented on #1631
Hi @musale @sebastienlevert As verified, issue does not repro in the below URL. Hence, closing the bug.
URL: https://mgt.dev/next/pr/1841/?path=/story/components-mgt-people-picker--people-picker

[2022-09-08 10:05] #1631 closed

[2022-09-08 10:11] Laxmidurga commented on #1536
@musale @sebastienlevert As verified, issue does not repro in the below URL. Hence, closing the issue.
URL: https://mgt.dev/next/?path=/story/feedback--page
<img width="955" alt="image" src="https://user-images.githubusercontent.com/88436727/189096424-6c92c99c-3dea-4cdd-bf1f-7e47b012feef.png">

[2022-09-08 10:11] #1536 closed

[2022-09-08 10:36] ortegarenzy opened #1850 "[BUG] Person component keeps refetching images when stale"
**Describe the bug**
Person component keeps refetching 404 images when stale. At first, if there is no cache image yet for the said user, image is being cached even if it's null to prevent 404 errors. By when image is already stale, `graph.userWithPhoto` keeps refetching images since they are stale and `timeCached` was not updated. The issue is within is within [graph.userWithPhoto](https://github

[2022-09-08 14:08] gavinbarron commented on #1767
I saw that resolutions update @musale, thanks for that.
How about we update the matrix we're using to validate builds to cover 12,14, and 16 on our next branch so that we can gauge our progress on this? We'd likely need to accept failures on 14 and 16 as we progress on this work.
We could even use an additional action for this validation.
Thoughts?

[2022-09-08 16:21] #1362 closed

[2022-09-08 16:21] #1627 closed

[2022-09-08 16:49] musale commented on #1767
Yes we can! That would also be a good point to start before moving it to the main branch. I think with v16.x we shall have the most work.

[2022-09-10 05:33] YuzuLi opened #1853 "[BUG] mgt-people component: Cannot read properties of null (reading 'displayName')"
**Describe the bug**
When using mgt-people component by passing a list of user ids:
[code]

We can see the below error in console if some users have been removed and their IDs are invalid:

![image](https://user-images.githubusercontent.com/18181051/189469719-97327d43-b1aa-4124-9194-a1b394263e27.png)

The code throwing the error is here:

https://github.com/microsoftgraph/microsoft-graph-toolkit/b

[2022-09-12 07:42] musale commented on #1850
Hello @ortegarenzy thank you for bringing this up! I think adding the `ImageNotFound` code will fix this. Would you be up to make a PR for this?

[2022-09-12 07:46] musale commented on #1853
Hello @YuzuLi you're absolutely right with the code section that throws this error. Making the `user?.displayName` optional chain should mitigate this. Are you up to make the change and post a PR?

[2022-09-12 08:10] musale commented on #1800
Related to #259

[2022-09-12 15:52] gavinbarron commented on #656
This work was previously completed

[2022-09-12 15:52] #656 closed

[2022-09-12 16:00] gavinbarron commented on #621
@Mnickii I've assigned this to you as you're the best person to assess how well the new person card component supports templating of the sub-components.

[2022-09-14 11:54] #1850 closed

[2022-09-14 15:11] Mnickii commented on #1538
Hi @Laxmidurga, I have a fix for this in the PR [here](https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1855)

[2022-09-14 15:12] Mnickii commented on #1567
Hi @Laxmidurga, I have a fix for this in the PR [here](https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1855)

[2022-09-15 03:50] Laxmidurga commented on #1538
Hi @Mnickii, As verified issue does not repro in the below URL as keyboard focus is visible properly on controls. Hence, closing.
URL: https://mgt.dev/next/pr/1855/?path=/story/samples-general--login-to-show-agenda

[2022-09-15 03:50] #1538 closed

[2022-09-15 03:55] Laxmidurga commented on #1567
Hi @Mnickii, As verified issue does not repro in the below URL as keyboard focus is properly visible on 'Sign in' button. Hence, closing.
URL: https://mgt.dev/next/pr/1855/?path=/story/samples-general--login-to-show-agenda
PFA Screenshot:
<img width="960" alt="image" src="https://user-images.githubusercontent.com/88436727/190310272-de84d544-74a4-479d-9d71-cd5e87b7a4cb.png">

[2022-09-15 03:55] #1567 closed

[2022-09-15 10:28] Mnickii commented on #1583
Hi @Laxmidurga, I have a fix for this in the PR [here](https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1855)

[2022-09-15 11:03] Laxmidurga commented on #1583
Hi @Mnickii, As verified issue does not repro in the below URL. Hence, closing.
URL: https://mgt.dev/next/pr/1855/?path=/story/components-mgt-file-list-style--custom-css-properties

[2022-09-15 11:03] #1583 closed

[2022-09-15 20:32] #1753 closed

[2022-09-21 03:28] NathZ1 opened #1861 "[BUG] Using groupId property of PeoplePicker incorrectly requires User.Read.All scope"
**Describe the bug**
It appears that the PeoplePicker component is configured to require User.Read.All scope (in addition to People.Read and GroupMember.Read.All) but the Graph documentation for [/groups/${groupId}/members](https://learn.microsoft.com/en-us/graph/api/group-list-members) specifies (from least to most privileged): GroupMember.Read.All, Group.Read.All, GroupMember.ReadWrite.All, Grou

[2022-09-26 15:20] Mnickii commented on #1554
Hi @Laxmidurga, I have a fix for this in the PR [here](https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1865)

[2022-09-27 08:10] estruyf opened #1866 "[BUG] TeamsMsal2Provider its handleAuth method not working in Firefox"
## Describe the bug

We recently discovered that Firefox users cannot concent to our app. To test it out, we created a minimal app that only tries to authenticate the user. On every browser, except for Firefox, a popup will appear to log in and consent when the app gets loaded. The popup is created by the `@microsoft/mgt-teams-msal2-provider` its `TeamsMsal2Provider.handleAuth()` method.

We used

[2022-09-27 08:31] #1853 closed

[2022-09-27 13:27] gavinbarron opened #1868 "[BUG] Pressing any key when the remove button of a person in a people picker has focus removes the person"
Steps to reproduce the behavior:
1. Go to https://mgt.dev/?path=/story/components-mgt-people-picker--people-picker
2. Add a person
3. Press Shift + Tab to move focus to the remove button of the person element in the list of selected people
4. Press Shift (as is to move to another element via Shift + Tab
5. Note that on keydown the person is removed

**Expected behavior**
People are only removed fr

[2022-09-28 13:08] Laxmidurga commented on #1554
Hi @Mnickii, As checked now thw focus is not moving to '+7' button and for note section issue 'Go to my profile' button is not present in the UI now. Can you please let me know below asks.
1) '+7' button functionality designed to be non-interactive as previously the focus used to move to that control. (We thought, on activating it , we will find some more user profiles in the expanded dropdown. In

[2022-10-03 11:13] musale commented on #1868
@gavinbarron this is a very good catch! I dug a little deeper and also realized that after adding a number of people, navigating with the Tab key alone removes the person when the close icon is focused. The `keydown` event should be updated to a more specific method that handles the `Enter` keycode which removes the person and, ignores other keypresses that have no effect on the people. I'll leave

[2022-10-03 12:01] musale opened #1870 "[Docs] Update teams applications docs to indicate the use of the Developer Portal to manage apps"
## Description

Teams application [samples ](https://github.com/microsoftgraph/microsoft-graph-toolkit/tree/main/samples/teams-tab#microsoft-teams-tab-sample) and [docs ](https://learn.microsoft.com/en-us/graph/toolkit/providers/teams-msal2?tabs=ts#configure-your-teams-app) tell the developers to use App Studio. App Studio has reached it's end-of-life and the [Developer Studio ](https://learn.micr

[2022-10-04 10:21] musale commented on #1840
Hello @lebiku could you clarifyfor me, is this the part that you're referring to?

![image](https://user-images.githubusercontent.com/8081536/193795511-39215558-5cee-47d5-9c32-b2e56fa49483.png)

[2022-10-04 10:23] musale commented on #1821
@ThomasPe that's a good idea. We'll discuss it more internally and let you know the way forward.

[2022-10-04 10:29] musale commented on #1800
On cache invalidation, the starting point would be to re-create the cache keys. Maybe a clientid-provider-other-options pattern. "Other options" include query patterns passed i.e. searched terms. From previous issues that touched on the caching layer, I found this necessary to propagate the changes made.

[2022-10-04 10:38] musale commented on #1789
Hello @virender-gupta1 I just wanted to let you know that #1784 was merged. Could you test it and let us know if it fixed your issue too?

[2022-10-04 18:47] lebiku commented on #1840
Hello @musale Yes, it's exactely those parts. Thank you for investigation.

[2022-10-05 08:41] musale commented on #1840
Great. I have put up a PR for it. You can check out the built storybook to test.

[2022-10-05 10:45] musale opened #1873 "[Docs] update docs.microsoft.com links to learn.microsoft.com links"
## Description

Update the links in the documentation that are https://docs.microsoft.com to https://learn.microsoft.com. This will prevent any redirection failures in the documentation.

### Additional notes

- Ensure that locales are not hard-coded.
- Absolute links that can be made relative links should also be updated to make future changes like this avoidable.

[2022-10-05 15:22] sebastienlevert commented on #1866
Just to confirm. You current setup is via Teams on the web on Firefox, right? Can you share the Firefox version?

@musale could this be related to MSAL or it's a MGT one?

[2022-10-05 15:30] estruyf commented on #1866
Using version `105.0.1`

[2022-10-05 15:50] musale commented on #1866
It has to be MSAL. During my repro, v105.x.x Firefox I faced a login issue. I'm still investigating further on this trajectory. I'll post updates soon.

[2022-10-05 17:08] sebastienlevert commented on #1821
Hello @ThomasPe. Can you expand a little bit more on this topic? I'm curious as today, the component will strip users already selected in the PeoplePicker. Is it that it would be selected "somewhere else", for instance a owner / members scenario where you wouldn't want a user to select a member that is already in the owners picker? This will help us! Thanks!

[2022-10-05 17:10] sebastienlevert commented on #1800
I did an exploration of this in the context of GE by leveraging the same client-id. This would allow seamless auth between 2 apps. This would also allow the same scopes to be used for MGT. You can look here :

* https://github.com/microsoftgraph/microsoft-graph-toolkit/tree/sebastienlevert/graph-explorer-stories
* https://github.com/sebastienlevert/microsoft-graph-explorer-v4/tree/sebastienlevert/

[2022-10-05 17:11] ThomasPe commented on #1821
Sure! I'm using the Picker to select users one by one as with perhaps 20+ people selected showing all will get too crowded imo.
You can see how it works in this video around the 10s mark: https://www.zeitplan.io/videos/Zeitplan.io.mp4

[2022-10-05 17:16] sebastienlevert commented on #1821
Absolutely makes sense! This is a great example that definitely sells the use case! We'll discuss internally on the next steps and see how we can make them as close to the API as possible. Client-side filtering might be tricky for a list of users, so we'll have to keep that in mind! Thanks!

[2022-10-05 17:18] ThomasPe commented on #1821
appreciate the work you're all doing, thanks!

[2022-10-06 12:04] Mnickii commented on #1554
Hi @Laxmidurga, you're definitely in the right URL, sorry for the misunderstanding.
The '+7' button is currently designed as non-interactive so we are removing the focus on it until this functionality is supported.
The 'Go to my profile' button had been completely removed but has now been replaced with My Profile button.
Hope this clears it up.

[2022-10-06 12:30] Laxmidurga commented on #1554
Thanks for clarification @Mnickii
Closing the issue as it is no more repro in the above URL.

[2022-10-06 12:30] #1554 closed

[2022-10-07 14:14] aaclage commented on #1749
Hi @sebastienlevert, to retrieve folder from file-extensions just need to be include in the array as empty.

You can test using https://mgt.dev/?path=/story/components-mgt-file-list-properties--get-file-list-by-extensions
Sample: File extension with folders
`<mgt-file-list file-extensions="docx, xlsx,"></mgt-file-list>`
Sample: Just folders
`<mgt-file-list file-extensions=""></mgt-file-list>`

Did

[2022-10-07 17:12] sebastienlevert commented on #1749
You win! I wasn't aware... I think we should definitely make our documentation more clear about this. Would you be willing to take a stab at our docs and explicitly call out this scenario? Good catch @aaclage!

[2022-10-11 00:32] gavinbarron opened #1878 "[BUG] Storybook CI deploy fails"
**Describe the bug**
https://github.com/microsoftgraph/microsoft-graph-toolkit/actions/runs/3221500597/jobs/5269510575

Looks like the token in secrets has expired, but the token may not be needed according to the docs: https://github.com/JamesIves/github-pages-deploy-action

**Expected behavior**
Storybook deploys on for CI succeed

[2022-10-11 06:16] #1847 closed

[2022-10-11 07:51] NathZ1 commented on #1593
Presence is not working regardless. The proposed workaround of using userId doesn't work when photos are loaded from elsewhere unfortunately.On 21 Mar. 2022 11:31 pm, Sébastien Levert ***@***.***> wrote:
So, when the personImage is coming from elsewhere, you are saying the presence is not loaded?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you w

[2022-10-11 10:16] #1873 closed

[2022-10-11 11:01] #1789 closed

[2022-10-11 12:26] YahorDauhaliuk commented on #1866
@sebastienlevert, @estruyf, @musale
We are experiencing the same problem. There is another discussion in teamsJS repo but seems the problem lies on the mgt side.
https://github.com/OfficeDev/microsoft-teams-library-js/issues/1280

[2022-10-11 17:04] sebastienlevert commented on #1800
Absolutely agree. This scenario was really for Graph Explorer, excluding the Playground as a standalone!

[2022-10-11 18:46] #1878 closed

[2022-10-12 19:35] sebastienlevert commented on #1201
Closed by #1801

[2022-10-12 19:35] #1201 closed

[2022-10-13 09:51] kon-iro opened #1881 "[BUG] Group icon not visible"
**Describe the bug**
If you bind data to mgt-person using the Group data obtained using mtg-get, you cannot get the icon.

**To Reproduce**
[code]

**Expected behavior**
The endpoint used to get the icon is set to "/group/{id}/photo".
The correct endpoint is "/groups/{id}/photo"

**Environment (please complete the following information):**
 - OS: Windows11
 - Browser . edge, chrome
 - Framework  n

[2022-10-13 16:35] sebastienlevert commented on #1312
We need to keep in mind the fact we are using unpkg to deliver our sample apps and we recommend it in our how-to...

[2022-10-13 19:57] patmoo opened #1882 "[BUG][People Picker] Tab keypress while focus is on selected person close button removes person."
**Describe the bug**
Tab keyboard press clears the selected person when focus is on close button.

**To Reproduce**
Steps to reproduce the behavior:
1. select a person from the drop down
2. click above the control
3. tab into the control
4. tab again (focus moves to the close button)
5. tab again (selected person is removed)
This can be reproduced [here](https://mgt.dev/?path=/story/components-mgt

[2022-10-14 13:15] sebastienlevert commented on #1882
This would be a duplicate of the closed issue here : https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/1868

We will be releasing the latest package later today so you can expect an updated and fixed behavior! Thanks for reporting!

[2022-10-14 13:16] sebastienlevert commented on #1881
Definitely a bug, thanks for submitting the PR!

[2022-10-14 13:37] waldekmastykarz opened #1884 "Add new template that's used when the user is not signed in"
# Proposal: Add new template that's used when the user is not signed in

## Description

To all components, add a new template that's used when the user is not signed in.

## Rationale

Currently, when defined, the no-data template is used, even when the user has not signed in to the app yet. This leads to situations like:

<img width="803" alt="image" src="https://user-images.githubusercontent.co

[2022-10-14 14:06] waldekmastykarz opened #1885 "Incorrect information about attendees in the default template in mgt-agenda"
**Describe the bug**

The default template in mgt-agenda shows incorrect information about attendees.

**To Reproduce**

Create two meetings: 1 with 2 attendees and another with 3 attendees.
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/11164679/195866063-bf69e596-7389-4dea-b8b5-00108bd1bba7.png">
<img width="1102" alt="image" src="https://user-images.githubuserconte

[2022-10-14 15:06] waldekmastykarz opened #1886 "Bug: mgt-agenda is showing incorrect time"
**Describe the bug**

mgt-agenda is showing incorrect time

**To Reproduce**

- ensure, that your M365 calendar is set to a timezone other than UTC, eg. UTC+2 (Amsterdam)
- create and event in your calendar
   <img width="406" alt="image" src="https://user-images.githubusercontent.com/11164679/195877820-2e197cc7-7aab-4ce1-a0a0-419180567ae7.png">
- load the event in mgt-agenda without specifying th

[2022-10-14 19:00] gavinbarron opened #1887 "[RELEASE] 2.6.2"
This issue tracks the publishing progress for a release. It will get updated as tasks are completed

#### Blog Post
  - [ ] Author and stage
  - [ ] Publish

#### GitHub Release Notes
  - [ ] Author draft release notes
  - [ ] Author release notes summary
  - [ ] Publish

#### Docs
  - [ ] Create docs PR
  - [ ] Get docs PR reviewed and approved
  - [ ] Merge docs PR

#### Design
  - [ ] Design re

[2022-10-14 21:25] aslynblohm opened #1888 "[BUG] Unable to support high contrast mode when combining people picker and person components"
**Describe the bug**
My team is using the people picker component within our Teams application and we've found that we're unable to properly control the text color of the Person components rendered in the people picker on hover.  This is specifically an issue in high contrast mode, where the default text color of all text is white.  This is very difficult to read when the hover color for high cont

[2022-10-14 21:29] aslynblohm commented on #1888
<img width="412" alt="Screenshot 2022-10-14 135449" src="https://user-images.githubusercontent.com/115840350/195946608-cac1de7a-e572-4b08-b381-5649e1de83a0.png">

Expected behavior (I added the hover class as described above and generated this image by explicitly hovering on the text.  Hovering anywhere else produces the image above)
![image](https://user-images.githubusercontent.com/115840350/195

[2022-10-17 15:47] #1840 closed

[2022-10-17 16:11] patmoo opened #1889 "[BUG] People Picker pop up does not appear with keyboard"
**Describe the bug**
Landing on the people picker input from keyboard focus does not allow for Enter key press to open suggestions flyout pane.

**To Reproduce**
Steps to reproduce the behavior:
1. Tab focus to People Picker input
2. Click Enter on keyboard

Can repro from here: https://mgt.dev/?path=/story/components-mgt-people-picker--people-picker&source=docs

**Expected behavior**
While focus

[2022-10-17 18:29] gavinbarron commented on #1312
I've alerted some of our DevRel folks to this proposed change.
The unpkg issue is a larger one in that none of the links we currently provide in documentation to unpkg are versioned. This means that publishing v3 will likely break existing production applications that have been built following the current guidance.

[2022-10-17 18:33] gavinbarron opened #1895 "[Docs] Update unpkg links to be versioned"
## Description
unpkg links to load script need to be versioned so that users following our documentation are not inadvertently updated to a new major version release.

Documentation with script links like:
[code]

Need to be updated to:
[code]

Additional documentation on the use of specific versions or SemVer ranges should also be considered.

Issue arose from discussions on #1312

[Document with

[2022-10-17 18:46] sebastienlevert commented on #1889
Hello @patmoo! Thanks for reporting this bug! This is a clear bug that should be fixed. The expected behavior is that on focus should trigger the panel to open.

We will be fixing this soon!

[2022-10-17 18:51] sebastienlevert commented on #1886
Hey @waldekmastykarz, would you be willing to take a stab at a PR and we'll review it and see if this works?

[2022-10-17 18:56] sebastienlevert commented on #1885
Hey @waldekmastykarz! Thanks for reporting! Would you be willing to take a stab at a PR? We'd love to review! If not, let us know as we also believe this is a clear bug. Thanks!

[2022-10-17 19:03] sebastienlevert commented on #979
@musale @Mnickii Can you make sure this issue is updated with the latest PR / issues we have on Fluent? thanks!

[2022-10-17 19:05] sebastienlevert commented on #977
Closed by #1199

[2022-10-17 19:05] #977 closed

[2022-10-17 20:24] sebastienlevert commented on #1866
@musale can you create an issue on the MSAL side and follow-up with them? https://github.com/AzureAD/microsoft-authentication-library-for-js/issues?q=is%3Aissue+is%3Aopen

[2022-10-17 20:30] sebastienlevert commented on #1861
Thanks @NathZ1! This is an interesting topic as I would assume User.Read.All would be required for other picker scenarios. Your expectations is when using a groupId, we should avoid requesting this scope, correct?

@gavinbarron I'd love to discuss this one more as I think it's a valid scenario, especially in a zero trust mindset. I don't know if our components can be fine grained at that level, bu

[2022-10-18 15:00] #1881 closed

[2022-10-18 15:24] sebastienlevert opened #1896 "Document current CSS variables and perform rationalization"

[2022-10-18 16:51] sebastienlevert commented on #1894
I will be closing is as a duplicate of #1748

[2022-10-18 16:51] #1894 closed

[2022-10-18 16:56] #1325 closed

[2022-10-18 17:01] sebastienlevert opened #1897 "Planner component should be updated to the latest Fluent UI design"
Figma file [here](https://www.figma.com/file/2uBa2lODCTSj1CZSI6USee/Microsoft-Graph-Toolkit?node-id=2231%3A0&t=vCszDquAEF60UjJI-0)

[2022-10-18 17:05] #1367 closed

[2022-10-18 19:15] patmoo opened #1898 "[BUG] [Component: People Picker] People Picker Selected Person Close button label generic"
**Describe the bug**
The selected people close button aria labels are not unique and don't specify which person the close button is associated with.

**To Reproduce**
Steps to reproduce the behavior:
1. select a person from suggestions
2. while focus is on input, shift-tab to the close button of the selected person
3. Focus will land on the close button.
4. All selected people have a close button

[2022-10-18 19:32] patmoo opened #1899 "[BUG][Component: People Picker] There is no way to associate the input with a visible label"
**Describe the bug**
The implementation of the People Picker does not allow for a visible label to be associated with the internal input element of the control. There aria-label attribute defined directly on the input element will take precedence over every other pattern of label association. The is also no ability for a consumer of this control to change that aria-label value.

**To Reproduce**
S

[2022-10-18 23:04] patmoo opened #1900 "[BUG] People Picker Selected People close icon has character in private Unicode range"
**Describe the bug**
Accessibility Insights test fails due to the close-icon Unicode character used in `renderSelectedPeople`.

**To Reproduce**
Steps to reproduce the behavior:
Run of Accessibility Insights (for Windows) test on a people picker with a few selected people.

https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt-components/src/components/mgt-people-picker/

[2022-10-19 00:56] gavinbarron commented on #1898
Thanks for raising this @patmoo
This is definitely and accessibility issue, would you be willing to submit a fix for this?

[2022-10-19 00:58] gavinbarron commented on #1899
Thanks @patmoo can you outline a scenario where you'd want to provide a custom label rather than using the built-in label so that we can better prioritize this issue?

[2022-10-19 01:04] gavinbarron commented on #1900
Thanks for finding this @patmoo
It's slightly disconcerting that it is not detected when using Accessibility Insights for the web as these are web components, not windows controls.
Or is this a false positive?

[2022-10-19 05:31] sebastienlevert commented on #1621
Adding @nikithauc to have a look from a Graph SDK lens.

[2022-10-19 06:40] waldekmastykarz commented on #1886
Totally! 💪

[2022-10-19 06:41] waldekmastykarz commented on #1885
Totally! Let me give it a try and we'll take it from there

[2022-10-19 16:14] patmoo commented on #1899
Hi @gavinbarron,

A custom aria-label is not the primary goal. The issue is that the current aria-label prevents the ability for a visible label element to be associated with the input element within the People Picker.

The expectation would be:

That this code
[code]
Should work the same as this code
[code]

A few potential alternatives would be
1) to pass in a value to overwrite the existing `ar

[2022-10-19 16:18] patmoo commented on #1898
Hi @gavinbarron,

Yeah, I will add a work item for this. I can try to have a PR up by the end of the week.

Thanks,

[2022-10-19 17:33] patmoo commented on #1900
That is a fair point. I can try and push back on this one a bit. It may very well be the case that this issue is not applicable for a web application, as the aria-label should provide sufficient information for assistive technologies.

[2022-10-20 06:37] NathZ1 commented on #1861
Hi @sebastienlevert, you are correct - there seems to be no need to require this scope, as the graph query works fine without it. Additionally, looking through the People Picker permission documention, it appears that User.Read.All is only stated as needed when group-id is set, with other configurations only requiring User.ReadBasic.All -

https://learn.microsoft.com/en-us/graph/toolkit/components

[2022-10-20 16:47] gavinbarron opened #1905 "[Docs] Update unpkg links in mgt repo"
## Description
Use version pinning to ensure that v2 is the currently linked package version in all cases in the mgt repo when pulling in scripts from unpkg

[2022-10-20 22:40] saahilchawande123 opened #1907 "[BUG] NVDA announces a person's name twice (Person component - Microsoft Graph Toolkit)"
**Describe the bug**
I am using the Person component from Microsoft Graph Toolkit and it looks like this:
![image](https://user-images.githubusercontent.com/116312427/197071808-86803731-dc6a-4eed-ba52-1d250589dee6.png)

Here is the snapshot of the code that I am using to display the Person component:
`<Person
tabIndex={-1}
    className={classes.person}
    personDetails={personDetail}
    fetchIm

[2022-10-20 23:28] gavinbarron commented on #1861
For the people picker directly, no it's not needed AFAIK.
However, to render the selected people we user the `mgt-person` which in turn uses the `mgt-person-card` which on the organization pane requires the User.Read.All scope: https://learn.microsoft.com/en-us/graph/toolkit/components/person-card#microsoft-graph-permissions
<img width="292" alt="image" src="https://user-images.githubusercontent.c

[2022-10-21 05:51] virender-gupta1 opened #1908 "People picker - Existing enteries getting deleted unintentionaly"
In MS Graph people picker component, if we paste an email address, it does not show results. Then if we press backspace after the pasted email, it deletes the already selected enteries in the component

[2022-10-21 06:59] musale commented on #1866
Issue raised here https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/5324. I'll be keeping tabs on a fix or way forward for it.

[2022-10-21 08:28] musale commented on #1907
Hello @saahilchawande123 you're right! The photo is announced first and that's why you hear the name mentioned twice. To make it better, I would suggest we update the mention of the photo to say "photo" for example: "Diego Siciliani photo". This makes it clear that it's a photo being mentioned. What do you think about that?

[2022-10-21 08:55] musale commented on #1908
Hello @virender-gupta1 thank you for bringing this issue up. I would like some clarification:
- When you press the backspace, the expectation is that if there are any selected people, they will be removed. Then when you paste an email, it's expected that it will load the person the email belongs to, or it will clear the email from the input. Is this what is happening for your case? I get the sense

[2022-10-21 09:10] musale commented on #1888
Hello @aslynblohm what I'm understanding is that in contrast themes, you have styling that sets a background color for the person. However, the text color doesn't change. So, you need a way to be able to change the text color in these high contrast modes?

[2022-10-21 14:00] Rafaelki opened #1909 "[BUG] Accessibility - Person focus"
**Describe the bug**
The react "Person" component, doesn't get the focus.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following code:
[code]
2. Put the focus in the input and then press tab in the keyboard. Check the focus skips the Person component.

I can see that it works in Storybook, but it doesn't work with the react component.

**Expected behavior**
I would expect the same

[2022-10-21 15:28] #1886 closed

[2022-10-21 16:51] saahilchawande123 commented on #1907
Yeah, that sounds great to me. Just to confirm, what would the screen reader read for the Person component after the update is made?

[2022-10-21 21:46] gavinbarron opened #1910 "Update mgt core packages to build using Node 12-16"
Ensure that the core packages build using node versions 12, 14, and 16

[2022-10-24 07:17] njaci1 commented on #1072
@yyiinnggzz please add more details on this issue

[2022-10-24 07:48] #1209 closed

[2022-10-24 09:22] musale commented on #1907
With Windows narrator it would read "Diego Siciliani photo Diego Siciliani HR Manager".

[2022-10-24 14:19] #1072 closed

[2022-10-24 18:13] #1150 closed

[2022-10-24 18:15] #1132 closed

[2022-10-24 18:19] #1133 closed

[2022-10-24 18:36] sebastienlevert commented on #995
Now supported via userFilters :

[code]

[2022-10-24 18:36] #995 closed

[2022-10-24 18:53] sebastienlevert commented on #1907
Let's use "Photo for Diego Siciliani", that way we can account for scenarios with an avatar, initials, etc.

[2022-10-24 19:05] sebastienlevert commented on #1743
@FredrikEkstroem Can you confirm that v2.6.2 solved this issue? @HiltonGiesenow provided a great PR for this topic! Thanks!

[2022-10-24 20:18] sebastienlevert commented on #1749
Thanks for the PR. After review of the issue, this is mostly using an undocumented feature and could leak other files (files without extensions). I think this feature is still valid and we will be working on it based on our priorities. Thanks!

[2022-10-24 20:38] musale commented on #1907
@sebastienlevert actually, that's way better!

[2022-10-25 05:04] virender-gupta1 commented on #1908
Hi @musale, The browser is Chrome. 3rd point you have mentioned is exactly what is happening but its in chrome rather than firefox.

I am not able to upload the recording here as it exceeds 10 MB. if still needed, i can add to a google drive and share the link here.

[2022-10-25 08:10] musale commented on #1908
@virender-gupta1 you can share a google drive link here :)

[2022-10-25 19:53] aslynblohm opened #1915 "[BUG] When tapping on the people picker component on mobile iOS, the device zooms into the field"
**Describe the bug**
When tapping on the people picker component on mobile iOS devices (doesn't seem to repro on tablet), the device zooms in to the people picker search box, which can take the user out of the flow of work.

Some research on the issue suggests that this occurs because the font-size of the input is less than 16px (https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-inp

[2022-10-25 22:08] #1898 closed

[2022-10-25 22:21] #1885 closed

[2022-10-26 13:23] njaci1 commented on #1266
Issue being tracked here #1267

[2022-10-26 13:23] #1266 closed

[2022-10-26 13:45] njaci1 commented on #1324
closed with PR #1801

[2022-10-26 13:45] #1324 closed

[2022-10-26 13:52] njaci1 commented on #1390
To be reopened on need basis in future

[2022-10-26 15:21] njaci1 commented on #1429
Currently being progressed through issue #1624

[2022-10-26 15:21] #1429 closed

[2022-10-26 17:16] aslynblohm commented on #1888
We're actually not setting the background color, just using what comes with the component, but everything else you said is exactly right!

[2022-10-26 17:33] patmoo opened #1916 "[BUG] [Component: People Picker] Pressing Tab key while flyout is open auto selects the first person in the suggestion list"
**Describe the bug**
Pressing tab key while the search result flyout is open auto selects the first person in the suggestion list.

**To Reproduce**
Steps to reproduce the behavior:
1. click into the people picker so that the flyout opens
2. press tab key
3. observe that the first person in the list is selected

You can repro this issue in the component storybook:
https://mgt.dev/?path=/story/comp

[2022-10-26 20:29] nikithauc commented on #1621
Looks like MGT 2.6 takes on a dependency of the Graph JS library 2.2.1

Can you upgrade and verify if the issue persists @topce?

[2022-10-26 23:17] #1905 closed

[2022-10-26 23:47] gavinbarron commented on #1916
Thanks @patmoo

My expectation here is that when the suggestion list is open, and the text input has focus there is no selected item in the suggestion list.
The flow of focus from here is a little subjective and I'd like our designer to weigh in. But to my mind we should likely follow the [fluent ui combo box](https://fluent-components.azurewebsites.net/?path=/docs/components-combobox--combobox) i

[2022-10-26 23:48] #1910 closed

[2022-10-27 01:50] patmoo opened #1918 "[BUG] [Component: People Picker] Suggestions flyout not accessible using iOS Voiceover. (Cannot select/interact)"
**Describe the bug**
While using Voiceover on iOS it is not possible to interact with the suggestions flyout.

**To Reproduce**
Steps to reproduce the behavior:
1. Given iOS device using Voiceover
2. Navigate to People Picker storybook example page
3. Try to make a selection or use the people picker via Voiceover gestures.
6. See error

**Expected behavior**
Someone using Voiceover on an iOS devic

[2022-10-27 15:04] sebastienlevert opened #1919 "[BUG] SharePointProvider should be using the BaseComponentContext instead of the WebPartContext"
**Describe the bug**
Currently, we redefine the WebPartContext type in MGT. This is OK for WebParts, but scenarios like App Customizers or Command Sets could leverage MGT and this would prevent a "clean" way to offer it.

[2022-10-27 15:54] sebastienlevert opened #1920 "[BUG] Builds on PRS should only trigger with new commits"
**Describe the bug**
Right now, comments are affecting our builds and slow down speed to test Storybook. The faster we can get Storybook to build and deploy, the better while ensuring the code builds!

[2022-10-27 16:30] #1870 closed

[2022-10-28 06:43] topce commented on #1621
@nikithauc still same error :
 has been blocked by CORS policy: Request header field sdkversion is not allowed by Access-Control-Allow-Headers in preflight response.
 You can reproduce it yourself if you try to update to one drive :
1.Login to personal account using msal2 provider and mgt-login
2. try to upload file
const uploadTask = await OneDriveLargeFileUploadTask.create(
graphClient,
file,
op

[2022-10-28 09:40] waldekmastykarz commented on #1216
It would be interesting to see if we can replace the custom JavaScript code for loading images/additional information with mgt-get that has the notion of loading and loaded templates. Let me give it a try

[2022-10-28 09:47] waldekmastykarz commented on #1216
It seems like using mgt-get works just fine: https://github.com/waldekmastykarz/mgt-htwoo-files/blob/35be3e9ecc69c06c654f2e07bab263baf2d39789/index.html#L17-L30

[2022-10-28 09:47] #1216 closed

[2022-10-31 09:45] musale commented on #1916
@patmoo @gavinbarron there is an update to this behavior with the latest release https://mgt.dev/?path=/story/components-mgt-people-picker--people-picker where the tab no longer selects the first person. It keeps going down the search results (the person image then the next person). Is that sufficient to close this issue?

[2022-10-31 17:46] sebastienlevert opened #1925 "[Docs] Add isIncrementalConsentDisabled to Learn"
## Description

[2022-10-31 19:44] gavinbarron commented on #1916
@musale this behavior is being addressed in #1922

[2022-10-31 20:02] #1743 closed

[2022-11-01 14:19] #1907 closed

[2022-11-01 14:20] musale commented on #1888
@aslynblohm I made a PR for this https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1926 and I would like to know if that will also fix your issue.

[2022-11-01 14:21] musale commented on #1908
Hello @virender-gupta1 just a friendly reminder to share the link when you can :)

[2022-11-01 19:49] sebastienlevert commented on #1053
Duplicate #1030

[2022-11-01 19:49] #1053 closed

[2022-11-01 19:50] sebastienlevert commented on #1126
The new JS SDK will support Observability. We will be building based on it.

[2022-11-01 19:50] #1126 closed

[2022-11-01 19:50] sebastienlevert commented on #1182
Closing for now, based on PowerApps architecture.

[2022-11-01 19:50] #1182 closed

[2022-11-01 19:52] sebastienlevert commented on #1203
Duplicate #1710

[2022-11-01 19:52] #1203 closed

[2022-11-01 19:53] sebastienlevert commented on #1200
Duplicate #1607

[2022-11-01 19:53] #1200 closed

[2022-11-01 19:53] #1196 closed

[2022-11-01 19:54] #1267 closed

[2022-11-01 19:54] #1195 closed

[2022-11-01 19:55] sebastienlevert commented on #1213
Teams toolkit solves this. Closing for now.

[2022-11-01 19:55] sebastienlevert commented on #1194
Stale issue. Closing.

[2022-11-01 19:55] #1194 closed

[2022-11-01 19:56] #1052 closed

[2022-11-01 19:57] sebastienlevert commented on #1050
I'd love to get more insights on your thoughts here @gautamdsheth. Can you share how Agenda and / or Tasks would be used with mgt-pagination? Thanks!

[2022-11-01 20:01] #1900 closed

[2022-11-01 20:01] #1363 closed

[2022-11-01 20:04] #127 closed

[2022-11-01 20:07] #1630 closed

[2022-11-01 20:07] #1629 closed

[2022-11-01 20:08] sebastienlevert commented on #1610
Dup of #971

[2022-11-01 20:08] #1610 closed

[2022-11-01 20:09] sebastienlevert commented on #1512
Dup of #450

[2022-11-01 20:09] #1512 closed

[2022-11-01 20:10] #259 closed

[2022-11-01 20:11] sebastienlevert commented on #1184
Relates to our discussion this week @gavinbarron

[2022-11-01 20:16] #450 closed

[2022-11-01 20:16] #530 closed

[2022-11-01 20:16] #546 closed

[2022-11-01 20:17] #13 closed, assigned to nobody

[2022-11-01 20:18] #262 closed

[2022-11-01 20:18] #238 closed

[2022-11-01 20:21] sebastienlevert commented on #42
Dup of #1530

[2022-11-01 20:21] #42 closed

[2022-11-01 20:23] sebastienlevert commented on #1533
Will work with v3! Closing as fixed in our @next branch!

[2022-11-01 20:23] #1533 closed

[2022-11-01 20:24] sebastienlevert commented on #1499
Adding thoughts to this. Could this be a series of samples with `mgt-get`?

[2022-11-01 20:24] #1073 closed

[2022-11-01 20:26] #1407 closed

[2022-11-01 20:26] #1509 closed

[2022-11-01 21:45] #1918 closed

[2022-11-01 21:45] #1916 closed

[2022-11-02 03:49] sebastienlevert opened #1927 "[Investigation] Evaluate options for chat notifications delivery"
Evaluate options for chat notifications delivery

## Description
As part of internal research, we want to identify if GNB is a reliable solution for some of the capabilities related to chat in the Toolkit

[2022-11-02 16:37] #1444 closed

[2022-11-02 16:38] sebastienlevert commented on #1433
This should add new strings available for localization.

[2022-11-02 19:50] sympmarc opened #1929 "[BUG] Disabled users are shown in the Persona Card"
**Describe the bug**
The Personal Card is displaying disabled users in Org Charts. I'm seeing this in the PnP Modeen Search Search Results Web Part.

**To Reproduce**
Steps to reproduce the behavior:

To reproduce, you need to have user profiles in SharePoint with Manager values. Those user profiles must be disabled in AAD. If you search for the Manager in Microsoft Search and look at the Org Char

[2022-11-02 23:12] aslynblohm commented on #1888
Yes, I think it will!  Thank you!!!

[2022-11-02 23:58] gavinbarron opened #1930 "[BUG] Msal2Provider no longer uses explicitly provided PublicClientApplication"
**Describe the bug**
Running the sample angular app on the next/fluentui branch fails due to a regression in the Msal2Provider that removes the check for a supplied Msal2Provider

Regression introduced here where the check on `'publicClientApplication' in config` is removed:
https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1804/files#diff-95d33da1bd55960f18ef8cd32a7e67362052542328706

[2022-11-03 15:53] #1507 closed

[2022-11-03 16:26] gavinbarron commented on #1689
This is an interesting issue.

We generate the typing of events and properties on the React components based on the results that we get from the [web components analyzer](https://github.com/runem/web-component-analyze)

I have an open issue on that repo asking for information on why we are not getting the types of the event to match the CustomEvent<T> type that we are actually using and documentin

[2022-11-03 16:34] sebastienlevert commented on #1544
Let's remove the availability of the Search input to cover this Accessibility issue. @musale

[2022-11-03 22:07] gavinbarron commented on #1929
Thanks for raising this issue @sympmarc
Just so that we have a clear understanding of the problem an example of the issue could be if Pradeep was disabled in AAD and still rendered in this view, is that correct?
![image](https://user-images.githubusercontent.com/7122716/199843257-559282a2-7d93-497c-8c57-5a135a57fca3.png)

[2022-11-03 22:59] gavinbarron commented on #1929
I did a little more digging assuming that it is this pane and specifically showing direct reports where the AAD account is disabled.

This pane is populated using the `/users/{id}/manager` and `/users/{id}/directReports`. Unfortunately the `/directReports` navigation property doesn't currently support the use of `$filter` which would allow us to ensure that we don't fetch the accounts which are no

[2022-11-03 23:20] sympmarc commented on #1929
Yes, that's what I'm talking about. If you look at the same person in the "standard" people card, you won't see the disabled users. That would lead me to believe there must be a way to filter somehow.

[2022-11-03 23:30] Rafaelki commented on #1909
Hi @musale, thanks for looking into this, and sorry for the late response.

I am working in a SharePoint environment.
I have the MGT SPFx library in the app catalog.

This is my code:

`import * as React from 'react';
import { Person } from '@microsoft/mgt-react/dist/es6/spfx';

const TestPerson: React.FunctionComponent<any> = () => {
  return (
    <>
      <input type="text" />
      <Person

[2022-11-04 16:21] gavinbarron commented on #1929
@sympmarc Assuming that you're meaning the OOTB person card that looks like the screen shot below, that doesn't use the graph APIs directly but passes all of its data via web sockets to another service to provide all of the user data you see in that card. As a Graph only control set, we have different constraints on how we deliver the same outcome. We'll get a solution; it just may be that we need

[2022-11-04 16:30] sympmarc commented on #1929
Of course, it's different! (But should it be?) Yes, you've got what I mean again.

And that's what leads to the confusion from an end user perspective. They see disabled users in the mgt view and not in the OOTB person card.

[2022-11-04 22:01] #1600 closed

[2022-11-05 11:07] NathZ1 opened #1934 "[BUG] PeoplePicker groupIds prop results in many 400 (Bad Request) Graph API errors"
**Describe the bug**
When either a single groupId or multiple groupIds (separated by a comma as required per MGT documentation) is passed into PeoplePicker component groupIds prop, as soon as you click into the PeoplePicker component it returns a heap of 400 (Bad Request) errors (see screen shot below). It seems to be splitting the string incorrectly and doing a graph request for each CHARACTER of

[2022-11-07 00:47] sebastienlevert commented on #1934
This might be related to React vs. Web Components (as you can't pass an array to a web component). @musale can you have a look?

[2022-11-07 22:44] gavinbarron commented on #1934
We can't pass an array directly to a web component, but the WebComponent wrapper works by setting the properties on the underlying object rather than needing to serialize data into the DOM when it doesn't need to.

Setting the correct typing on the property ensures that the generated prop for the React Component matches the expected type of the property

[2022-11-08 00:03] gavinbarron commented on #1934
Based on testing this locally
[code]
Is working correctly as expected

[2022-11-08 08:02] devdavest opened #1936 "[BUG] Not checking for null when checking photo value in cache"
**Describe the bug**
The problem arose when I was trying to partially clear cache memory. Namely, when I am updating a photo of a user, cache memory doesn't let the photo be refreshed instantly, but after a specified amount of time. To work around it, on photo update I clear cache for user photos only. Then, when api is asking for getPhotoFromCache() it gets null, but checks for undefined, so it c

[2022-11-08 16:19] gavinbarron opened #1938 "[BUG] Build is failing due to using Node 12"
**Describe the bug**
Incompatible dependencies for building using Node 12 which is out of LTS

**Expected behavior**
Update build pipelines to use Node 14

[2022-11-08 22:01] #1685 closed

[2022-11-09 12:36] sebastienlevert commented on #1909
@Rafaelki do you see this only on SPFx? Are you using the mgt-spfx package? I'm wondering if this is specific the way it's loaded on the page.

[2022-11-09 18:25] gavinbarron commented on #1611
@sebastienlevert can you show me how to repo this issue?

[2022-11-09 20:52] sebastienlevert commented on #1611
Use the following tag :

`<mgt-file-list class="mgt-dark" enable-file-upload></mgt-file-list>`

with this css prop

[code]

[2022-11-09 21:11] #1938 closed

[2022-11-09 21:24] #1934 closed

[2022-11-10 01:34] gavinbarron commented on #1637
The underlying cause here is that the div containing the storybook tree of stories `<div id="storybook-explorer-menu"` has `tabindex=0` this causes the entire div to be treated as a interactive element and read aloud. This tab index is set by storybook and may not be feasible to remove without resorting to hacking the dom through JavaScript.

After removing the search component it may be possible

[2022-11-10 14:28] sebastienlevert opened #1940 "[People Picker] Person Card should be optional"
# Proposal: [People Picker] Person Card should be optional

## Description
As discussed in  #1861, we think people picker should be, by default, without the person card. We need the ability to allow person card via a specific boolean attribute

`<mgt-people-picker show-person-card></mgt-people-picker>`

## Rationale
Person Card is heavy on permissions and we believe we should let developers decide

[2022-11-10 14:40] sebastienlevert commented on #1821
What we would suggest is to modify our code to do local filtering but taking into account the number of excluded ids to amend the number of items being returned and slice the X first that are not excluded.

Would you be willing to take a stab a send a PR? Thanks!

[2022-11-10 17:01] #1248 closed

[2022-11-10 19:32] gautamdsheth commented on #1050
hi @sebastienlevert , sorry for late response.

Was a really long time back that this feature idea came to my mind. I was mostly hoping for a generic page range (1,2,3 ...) or `prev/next` or some standard pagination options.

Now that I think about it, for agenda, it would make sense to have something like `today, tomorrow, week or month` view.

Let me know if you need more information or details

[2022-11-10 22:44] #1936 closed

[2022-11-11 00:17] gavinbarron commented on #1611
TY @sebastienlevert, it looks like this is resolved in v3, do we want to burn effort trying to fix this for v2 given that there's no publicly accessible docs for the version of the fluent web components at the version that v2 is using??

[2022-11-11 00:23] sebastienlevert commented on #1611
No, we can close!

[2022-11-11 00:23] #1611 closed

[2022-11-11 00:44] sebastienlevert commented on #1899
Does this work today?

[code]

I'm wondering if this is an issue with the shadow dom?

[2022-11-11 00:48] aslynblohm commented on #1899
It doesn't work today because of the shadow dom issue.  Since we removed the hardcoded aria-label in this PR: https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1922, it no longer announces it as "people-picker-input", but we still can't associate a label with it.

[2022-11-11 00:50] sebastienlevert commented on #1899
So the goal would be the label to be announced for the people picker when nested or when using the `for=""`?

[2022-11-11 00:58] aslynblohm commented on #1899
I'm not sure using the `for=""` will ever work since the id used in the `for` would be an id in the shadow dom and the label wouldn't be in the shadow dom.

I've actually tried nesting as well and that also doesn't read out the label when navigating to the input.  Not certain on why that is.

It seems like the easiest solution would be to add an attribute for the `aria-label` that can be set so th

[2022-11-11 20:01] gavinbarron commented on #1899
How are you testing the label association?
I recall playing with the #1922 changes, removing the placeholder, wrapping a `label` as a parent of `mgt-people-picker` and getting a pass on the a11y tools (and getting a fail when there was no parent label too)

[2022-11-11 21:41] aslynblohm commented on #1899
I was testing it within our code - so there's definitely a chance that something else we've done is messing with the functionality somehow.  Here's how I had the code with Label being from fluent ui and VivaPeoplePicker wrapping the graph toolkit people picker.
[code]

That produces this html
[code]

But when the screen reader reads the field, it still doesn't announce the label, which it should a

[2022-11-14 08:19] #1888 closed

[2022-11-14 11:24] musale opened #1944 "[Docs] update 404 URLs in READMEs and Learn portal"
## Description

URLs in the following locations are leading to 404 error codes:

Description | Suggested link
-------------|-----------------
[Providers](https://github.com/microsoftgraph/microsoft-graph-toolkit#providers) enable... | https://learn.microsoft.com/en-us/graph/toolkit/providers/providers|
URL in [people-filter property description](https://learn.microsoft.com/en-us/graph/toolkit/comp

[2022-11-14 17:40] Rafaelki commented on #1909
I am using the mgt-spfx library. Let me try to use mgt-react directly...

[2022-11-14 21:47] #1899 closed

[2022-11-15 00:04] gavinbarron commented on #1920
@sebastienlevert as best I can tell the only time this is triggering for Storybook deployments that we don't really want it to is when another label is added to the PR.

Please let me know if there's a case I'm missing here.

[2022-11-15 07:26] waldekmastykarz commented on #1011
I looked into this a while back and the conclusion then was, that it would be challenging, because the scopes that components need depend on their configuration (see for example the scopes required by the [people component](https://learn.microsoft.com/en-us/graph/toolkit/components/people#microsoft-graph-permissions)). Unfortunately, component's configuration is known only after it rendered, which

[2022-11-15 15:59] yejuntak commented on #1915
**Suggested Solution**

Change can has been validated through the Microsoft's design system.
Change of font size to 16px to higher is the optimal solution. Font-size suggest would be keeping it as 16px and make developers to customize css.

[2022-11-15 17:17] gavinbarron commented on #1011
Thanks @waldekmastykarz, agreed, there are a number of challenges with establishing the scopes which are needed based on the configuration of the component that make it impractical.

As a comprise to this @sebastienlevert and I have been discussing this and think that each component will have two sets of scopes, a minimal and a default, the default would be the maximum scopes. Effectively we'd be

[2022-11-15 19:10] aslynblohm opened #1949 "{Linked:Bug3144444} [BUG] Focus not visible on close button in people picker with iphone with a bluetooth keyboard."
**Describe the bug**
The close icon next to a selected person's name works as expected with regards to focus everywhere except on iphones with a bluetooth keyboard attached.  We've tested on Android with Talkback and with a bluetooth keyboard, Chrome, Firefox and Edge and iOS with Voiceover and those all work as expected.  But when navigating with a bluetooth keyboard on iOS, the focus isn't visib

[2022-11-15 19:19] aslynblohm opened #1950 "{Linked:Bug3125921} [BUG] New CSS variables for hover text don't work as expected"
**Describe the bug**
This commit: https://github.com/microsoftgraph/microsoft-graph-toolkit/commit/041c71e6cc43880f4e29ce7bdf7f3defef9ccf4d added a few new CSS properties for text color and hover text color.  However, the hover text color property (`--dropdown-item-text-hover-color` doesn't quite work as expected.  The color only works when hovering directly over the text, not over the rest of the

[2022-11-15 19:45] sebastienlevert commented on #1920
I reviewed... And it seems I was absolutely wrong. Closing!

[2022-11-15 19:45] #1920 closed

[2022-11-15 20:01] gavinbarron opened #1951 "[CD] next/fluentui"
We need to deploy changes to the next/fluentui branch to the mgt.dev site under the fluentui folder

[2022-11-16 20:24] #1951 closed

[2022-11-16 20:26] gavinbarron opened #1955 "[BUG] PR builds are failing with compilation issues"
**Describe the bug**
https://github.com/microsoftgraph/microsoft-graph-toolkit/actions/runs/3475641954

**Expected behavior**
PR builds compile as expected

[2022-11-16 21:45] gavinbarron commented on #1721
This may be related to the behavior we saw during development of the new version of the Agenda component were FluentUI cards use a `contain: content` CSS rule. This was overcome in this commit by https://github.com/microsoftgraph/microsoft-graph-toolkit/pull/1867/commits/1e037576727881638cb67fc1222b1ff0327c8107

[2022-11-17 14:26] Mnickii opened #1957 "Add quick message to new person card fluent design"
Figma file [here](https://www.figma.com/file/tVj3DubCqeip6mhw14Up0j/Microsoft-Graph-Toolkit-(Do-not-use%2C-see-enclosed-link)?node-id=7683%3A117566&t=8vBhUJD9wvrJJGIK-0)

Use the chat and chatMessage resource type to send a quick message in a chat.

[2022-11-21 06:34] #1593 closed

[2022-11-23 02:12] SLdragon opened #1961 "[TeamsFxProvider] Suggest using TeamsUserCredential instead of TeamsFx class for mgt-teamsfx-provider"
[TeamsFx SDK](https://www.npmjs.com/package/@microsoft/teamsfx) has released 2.0.0, it recommended to use TeamsUserCredential instead of TeamFx class to have better coding experience and easily to customize authentication configurations.

So for TeamsFxProvider, it has a change to support TeamsUserCredential instead of TeamsFx class, the releated PR can be found here: https://github.com/microsoftg

[2022-11-23 16:36] #1961 closed

[2022-11-28 19:14] gavinbarron commented on #1927
A modified version of the ACS + Graph sample application has been made using the Graph Notification Broker.

It is available at https://github.com/gavinbarron/acs-x-graph-chat-sample/tree/feat/gnb

Key findings:
- When creating subscriptions using the GNB tool it's necessary to maintain a mapping of subscriptions to ThreadEventEmitters which needs to be passed through an intermediary mapping objec

[2022-11-28 20:10] gavinbarron opened #1962 "[BUG] People Picker Aria Label not rendering in Firefox"
**Describe the bug**
When the aria-label attribute is set on the mgt-people-picker component it does not render an aria-label attribute on the input element when using Firefox

**To Reproduce**
Steps to reproduce the behavior:
As listed above.

**Expected behavior**
The `aria-label` should render no matter what browser is being used

**Environment (please complete the following information):**
 -

[2022-11-28 21:26] #979 closed

[2022-11-29 06:48] #1950 closed

[2022-11-29 06:58] #1544 closed

[2022-11-29 17:15] #1707 closed

[2022-11-29 19:22] sebastienlevert commented on #1929
@sympmarc quick update from our side! We are going to tackle this in our next sprint (December) with an ETA around mid-December. Quick nudge to @wobba that this will require a new version of MGT within the PnP Modern Search web parts.

[2022-11-30 17:54] #1962 closed