[2020-06-24 15:56] lucas66 commented on #505
Thanks @nmetulev! That worked.  Is the scopes attribute a new requirement?  I had poked around at a POC a couple weeks ago with only the client ID and it was working okay.  But this unblocks me.  Thanks so much!

[2020-06-24 17:43] nmetulev commented on #505
Glad to know it worked. The scopes are not required but I would recommend to add them so the user sees all the permissions at once instead of one at a time. We have an issue (#450) to discuss how to make this more obvious and easier to use. I'll go ahead and close this issue.

In your case, what I imagine is happening, because you are using the mgt-loader from unpkg, that always points to the late

[2020-06-24 17:43] #505 closed

[2020-06-25 04:45] #473 closed

[2020-06-25 17:13] GPetrites opened #509 "[BUG] Error for guest/external users"
Guest/external users in Teams are not able to execute graph calls against the Team/Tenant. It appears that the query might be going against their home tenant as opposed to the tenant for the Team they are in.

The code is running within a popup with Teams initiated by a bot:

[code]

Within the popup, I registered the Teams provider:

[code]

And displayed the login UI:

[code]

After logging in,

[2020-06-25 18:14] shweaver-MSFT commented on #479
This issue was fixed by PR #508. Closing.

[2020-06-25 18:14] #479 closed

[2020-06-25 21:35] adrien-chaussabel commented on #390
Currently there is no supported endpoint for a calls deep link. It appears that there is experimentation using:

`https://teams.microsoft.com/l/call/0/new?{queries unknown}`

which will create a call with no invited users. The MS Teams dev support (microsoftteamsdev@microsoft.com) has said that it's currently a feature ask with no ETA. Once this becomes a supported feature, adoption should be stra

[2020-06-25 21:46] shweaver-MSFT commented on #499
The `main` branch has been created, set as default, and protected!

I left `master` alone, so folks can have some time to move over. The git history is identical, so you should just be able to check out the new `main` branch, and any PRs can be moved over to `main` as well

[2020-06-25 21:57] shweaver-MSFT commented on #499
I jumped the gun! Waiting on a PR to update internal references from "master" to "main" as well.

[2020-06-25 22:22] #499 closed

[2020-06-26 01:05] nmetulev commented on #390
Great overview, thank you for looking into this and writing it out. I agree with your recommendation - let's put this on hold until an officially supported deep link is available in the platform

[2020-06-26 01:13] nmetulev commented on #509
Hi @GPetrites, thanks for creating an issue.

I wonder if specifying the tenant when you initialize the Teams Provider will help here?

[code]

[2020-06-26 12:19] skyhawk92 opened #512 "[BUG] React mgt not working in IE11 or Outlook Desktop"
**Describe the bug**
I am using mgt people picker and before that mgt login in react outlook Add In project. For a test I took this template: [https://github.com/OfficeDev/Office-Addin-TaskPane-React](url)
Everything is working in Edge and also in Outlook desktop app, but as soon as I add mgt to project, it stops working on desktop and also on IE11, since Outlook desktop is using integrated IE11

[2020-06-26 19:34] shweaver-MSFT commented on #229
I don't think we are going to be able to explicitly version components. LitElement definitely makes it difficult anyway.

We traditionally decorate classes with `@customElement('mgt-foo')`. Unfortunately, LitElement won't let us do this because it attempts to reuse the same constructor to define a new element, which causes an error.

DOESN'T WORK 😢
[code]

My next thought was to do something like

[2020-06-26 20:12] vogtn commented on #276
We've managed to patch together a cross-browser compatible solution, which will require the following process:

1. `install` the following packages:
`npm install -D babel-loader @babel/core @babel/preset-env webpack`
`npm install -D @webcomponents/webcomponentsjs regenerator-runtime core-js`
`npm install  @microsoft/mgt`

2. Insert the following config in your `gulpfile.js` just above your `build.

[2020-06-26 20:25] GPetrites commented on #509
No change.  The new code is shown below.  search.tenantId is the tenant id for the tenant contains the group/team.

[code]

User 1 is a member of the tenant and can successfully retrieve members of the group.

User 2 is a guest in the tenant and the Team and receives a 404 when trying to retrieve members of the same group. Through the native Teams UI this user is able to view the Teams membership.

[2020-06-29 20:28] shweaver-MSFT commented on #429
Closed by PR #513

[2020-06-29 20:28] #429 closed

[2020-06-29 20:34] shweaver-MSFT opened #515 "Publish release 1.3.1"
This issue tracks the publishing progress for a release. It will get updated as tasks are completed

- [x] Prep the release branch
  - [X] Create the release branch
  - [x] Update the package version
- [x] Publish release to GitHub
  - [X] Write release notes
  - [x] Publish release notes
- [x] Publish docs
  - [x] Create docs PR
    - https://github.com/microsoftgraph/microsoft-graph-docs/pull/89

[2020-06-30 03:46] nmetulev commented on #276
Note: for this solution, don't use the common-js bundle and instead use the default imports:

[code]

I will close this issue given the above solution

[2020-06-30 03:46] #276 closed

[2020-06-30 08:22] stevebeauge commented on #276
The solution is complex and painfull to apply to each future webparts that will have to use this toolkit.

Can't you "simply" (don't know the actual impact) update the SharePointProvider to include the correct polyfill for this usage ?

[2020-06-30 15:29] wawrzy opened #518 "[BUG] Contact icons not clickable in Person Card"
**Describe the bug**

Unable to use icons in person card to send a message / email.

![Capture d’écran 2020-06-30 à 17 13 34](https://user-images.githubusercontent.com/13482923/86145305-1168f100-baf7-11ea-9045-64b32c06979e.png)

**To Reproduce**

1. Go to https://mgt.dev/?path=/story/components-mgt-person--person-card-hover
2. Move mouse on avatar
3. Click on Mail / Phone / Message icon
4. See t

[2020-07-01 00:52] nmetulev commented on #276
It's a good suggestion, and it's what we were trying to do. The issue we kept running into was trying to juggle the right set of pollyfils in the right order so they don't conflict with the pollyfils applied from SPFx, and work on different browsers. There was always something that didn't work, and we didn't feel confident in the end result.

Instead, moving the bundling to the SPFx build process

[2020-07-01 00:56] #515 closed

[2020-07-01 03:33] vogtn commented on #518
@wawrzy thanks for finding this issue and the details provided. It seems like the linear gradient overflow feature we implemented had been causing this issue. I've provided a fix in the linked pull request.

If all goes well, this should go out with our `1.3.2` release.

[2020-07-01 03:57] nmetulev commented on #518
PR merged, this will go out with 1.3.2 later this week

[2020-07-01 03:57] #518 closed

[2020-07-01 09:51] ChiragRupani opened #522 "[BUG] mgt-person throwing error when person photo is not available"
If particular person has no photo uploaded, the internal graph API returning error message - "The photo wasn't found" and `photoResponse` is undefined causing unhandled promise rejection with error - "Cannot read property `content` of undefined"
at below line:

https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/5a339d47ded530cd9bec5408afdbf5bc3f277f64/packages/mgt/src/graph/graph.user.

[2020-07-01 15:30] nmetulev opened #523 "Update people component to leverage getPresencesByUserId for fetching presence"
## Description

The graph now has an api to get the presence for multiple users: https://docs.microsoft.com/en-us/graph/api/cloudcommunications-getpresencesbyuserid?view=graph-rest-beta&tabs=http

The people component currently uses batching to handle multiple presences [(source)](https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt/src/graph/graph.presence.ts#L54) and

[2020-07-01 17:19] #307 closed

[2020-07-01 18:34] beth-panx opened #524 "[BUG] Presence badge background color and icon color design change"
**Describe the bug**
Team has discovered different themes and possibilities of color combination for presence badges.
examples:
light color:
<img width="346" alt="1 10 49 12 AM" src="https://user-images.githubusercontent.com/7429891/86279326-ad920700-bb8e-11ea-9428-87535f0ec11c.png">
dark:
<img width="56" alt="Screen Shot 2020-07-01 at 11 32 28 AM" src="https://user-images.githubusercontent.com/74

[2020-07-01 19:40] shweaver-MSFT opened #525 "Publish release 1.3.2"
This issue tracks the publishing progress for a release. It will get updated as tasks are completed

- [x] Prep the release branch
  - [x] Create the release branch
  - [x] Update the package version
- [x] Publish release to GitHub
  - [x] Write release notes
  - [x] Publish release notes
- [x] Publish storybook from release branch
- [x] Publish NPM package from release branch
- [ ] Merge release

[2020-07-01 20:32] #525 closed

[2020-07-01 20:49] shweaver-MSFT opened #527 "2.0 Release Plan"
# 2.0 Release Plan

This plan captures our work for the 2.0 release. The goal is to have a strong release and focus on adding highly requested components, improving existing components by ensuring web framework and web standard compatibility, and avoiding any future breaking changes. To ensure a quality release, we are not committing to a date for this release. However, we expect the release to la

[2020-07-06 19:56] shweaver-MSFT opened #528 "Add more features to person card to align with 1st party person card"
# Proposal: Add more features to person card to align with 1st party person card

## Description

Update the Person card to support additional workflows, similar to the person card component in other first party experiences.

[2020-07-06 19:59] shweaver-MSFT opened #529 "All components should support web accessibility standards"
# Proposal: All components should support web accessibility standards

## Description

Ensure all components meet WIA-ARIA guidance for accessible web UI.

- [x] string localization
- [ ] Tab order
- [x] RTL
- [ ] Review existing alt/aria tags
- [ ] Color contrast

Components
- [ ] Person #874
- [ ] PersonCard #874

## Additional Context

https://www.w3.org/WAI/standards-guidelines/aria/

[2020-07-06 20:04] shweaver-MSFT opened #530 "Create a Fluid based component"
# Proposal: Create a Fluid based component

## Description

Investigate the Fluid preview and identify any potential opportunities to integrate MGT and the Fluid framework.

## Additional Context

https://aka.ms/FluidPreview/Support

[2020-07-06 20:05] shweaver-MSFT opened #531 "New component: Calendar"
# Proposal: Create a Calendar component

## Description

## Rationale

## Preferred Solution

## Additional Context

[2020-07-06 20:07] shweaver-MSFT opened #532 "New component: Search"
# Proposal: Create a Search component

## Description

Create a new component that acts as a search input field and uses the Graph "Search" endpoint to display results.

## Additional Context

https://docs.microsoft.com/en-us/graph/search-concept-overview

[2020-07-06 20:10] shweaver-MSFT opened #533 "New component: File Picker"
# Proposal: Create a File Picker component

## Description

Create a component that shows a users OneDrive files in a file traditional picker experience.

## Additional Context

https://docs.microsoft.com/en-us/graph/api/resources/onedrive

[2020-07-06 20:12] shweaver-MSFT opened #534 "New component: Document Card"
# Proposal: Create a Document Card component

## Description

Create a new component that displays a document preview with available metadata.

[2020-07-06 20:16] shweaver-MSFT opened #535 "Integrate MgtReact package into main repo"
# Proposal: Integrate MgtReact package into main repo

## Description

The mgt-react preview lives here: https://github.com/nmetulev/mgt-react

Take the React code and migrate it to the main MGT repo as a new `mgt-react` package under the `packages/` folder.

[2020-07-07 17:00] vogtn commented on #512
Hi @skyhawk92

sorry to hear about the issues with our components and react. I assume since you were able to get the toolkit running in react/edge enviornment you're utilizing our [mgt-react](https://github.com/nmetulev/mgt-react) wrapper.

Since the components are running in ie11 in your app, there are additional polyfills required which are listed [here](https://github.com/microsoftgraph/microso

[2020-07-07 19:13] shweaver-MSFT commented on #42
Need to identify the scope of testing. What are we testing and how?

[2020-07-07 19:31] shweaver-MSFT commented on #46
This feature is blocked until msal.js supports multi account login.

[2020-07-07 19:33] shweaver-MSFT commented on #47
This issue has been resolved by adding templating support to MgtLogin. Closing

[2020-07-07 19:33] #47 closed

[2020-07-07 19:34] shweaver-MSFT commented on #75
This will be addressed in V2 theming support. Closing.

[2020-07-07 19:34] #75 closed

[2020-07-07 19:47] shweaver-MSFT commented on #102
Need to understand full scope of support needed:
- WIA-ARIA
- Left-to-right

[2020-07-07 19:51] shweaver-MSFT commented on #149
This will be addressed in new redesign of MgtPersonCard #281

[2020-07-07 19:51] #149 closed

[2020-07-07 19:53] shweaver-MSFT commented on #158
I will attempt to address in this in #281

[2020-07-07 19:54] shweaver-MSFT commented on #159
I will attempt to address this in #281

[2020-07-07 19:55] shweaver-MSFT commented on #533
This is a duplicate of #173

[2020-07-07 19:58] shweaver-MSFT commented on #423
I will attempt to address #210 here as well

[2020-07-07 20:02] shweaver-MSFT commented on #237
This issue has been addressed with recent blog posts and release of mgt-react-preview
- https://github.com/nmetulev/mgt-react
- React: https://developer.microsoft.com/en-us/graph/blogs/a-lap-around-microsoft-graph-toolkit-day-13-using-microsoft-graph-toolkit-with-react/
- Angular: https://developer.microsoft.com/en-us/graph/blogs/a-lap-around-microsoft-graph-toolkit-day-14-using-microsoft-graph-to

[2020-07-07 20:02] #237 closed

[2020-07-07 20:03] shweaver-MSFT commented on #238
This could be accomplished with a sample page or storybook page depicting the experience.

[2020-07-07 20:10] shweaver-MSFT commented on #263
Offline support seems unnecessary

[2020-07-07 20:12] shweaver-MSFT commented on #266
Waiting on developments in Fluent UI

[2020-07-07 20:18] shweaver-MSFT commented on #285
MSAL.js does not support app permissions. This is not something we can do. We recommend that you use the ProxyProvider with your own backend. Closing

[2020-07-07 20:18] #285 closed

[2020-07-07 20:20] jgw96 commented on #263
Hey yall! Let us know if you want any guidance or anything here. Depending on how far you might want to go with your offline experience you could either use one of our prebuilt service workers as a template https://www.pwabuilder.com/serviceworker, or for a more "in depth" offline experience you could use our service worker setup that we have in our starter https://github.com/pwa-builder/pwa-start

[2020-07-07 20:35] shweaver-MSFT commented on #391
This work is done! Will create new issue for V2 improvements

[2020-07-07 20:35] #391 closed

[2020-07-07 20:38] shweaver-MSFT commented on #413
Investigate if we can add a code construct to manage styles in this case.

[2020-07-07 22:16] shweaver-MSFT commented on #102
Need to see what other projects are doing. Also need to do string inventory for all components.

[2020-07-07 22:18] shweaver-MSFT commented on #529
Need to do string inventory for all components.

[2020-07-07 23:54] michael-hawker commented on #263
I suppose the Storybook is pretty heavily tied to the dynamic calls, but having general docs available offline for API reference can be useful.

Though also, since most of the examples are just using the mock provider anyway and returning similar data, just having it cache data and return the last call could be an interesting offline available playground?

[2020-07-08 00:12] MaJaHa95 commented on #522
Just repro'd the same issue. Oof.

It seems the cause ultimately boils down to the way `Batch` handles errors:

https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/162feb48bbc1a7fd02fbcdd313ef09b28a14c6c7/packages/mgt/src/utils/Batch.ts#L203

The Graph API returns an appropriate 404 for the image, and then `Batch` just `continue`s over it, failing to add it to the map returned here:

ht

[2020-07-08 04:52] nmetulev commented on #522
Great catch. @MaJaHa95, sounds like you already have a solution, do you fancy submitting a PR?

[2020-07-08 06:43] KaushalKhamar opened #537 "error while installing @microsoft/mgt package"
While installing  @microsoft/mgt package, it is throwing error as below

- 5500 silly fetchPackageMetaData error for @microsoft/microsoft-graph-types-beta@github:microsoftgraph/msgraph-typescript-typings#beta Error while executing:
- 5500 silly fetchPackageMetaData undefined ls-remote -h -t ssh://git@github.com/microsoftgraph/msgraph-typescript-typings.git

**Below is error**

npm ERR! code ENOENT

[2020-07-08 06:48] KaushalKhamar commented on #537
It seems like the issue has been resolved after installing GIT on the local machine.

[2020-07-08 06:48] #537 closed

[2020-07-08 07:39] KaushalKhamar opened #538 "Add Teams SSO provider"
Can we add auto-login functionality in the login component if I use this component in Teams application or any office 365 application?

[2020-07-08 15:45] MaJaHa95 commented on #522
@nmetulev Done ^^

[2020-07-08 16:21] #522 closed

[2020-07-08 18:34] vogtn opened #541 "[BUG] people-picker prop: "default-selected-user-ids" deletion issue"
**Describe the bug**

The `mgt-people-picker` component property `default-selected-user-ids` allows the user to set selected people on component initialization. After the component loads the selected people, if the user attempts to remove all the selected people via the mouse selection or backspace, they will reload and populate the area again.

**To Reproduce**
Steps to reproduce the behavior:

e

[2020-07-08 21:45] beth-panx opened #542 "[mgt.dev] Playground needs banner and term of use link"
## Description
Need to add banner and footer for privacy and term of use links.

## Rationale
Per msft policy

[2020-07-08 22:31] shweaver-MSFT commented on #229
I think I have a good solution based on https://open-wc.org/scoped-elements/
See #543

[2020-07-09 04:45] nmetulev opened #544 "[WIP]Expose MgtElement base class for creating Graph connected web components"
## Description
Build and expose a public class for other developers to extend and build their own Microsoft Graph web components. The base class should work directly with the Mgt provider service and abstract the complexity and lifecycle of calling the Microsoft Graph in a nicely packaged UI component.

## Rationale
The Microsoft Graph Toolkit has an internal common base class (MgtBaseComponent) t

[2020-07-09 19:49] shweaver-MSFT commented on #265
Now that Lerna has been implemented, we can break up the project into multiple packages. After team discussion, we have decided to break apart the project into the following package structure:

## Packages

### mgt-element
- BaseComponent
- BaseProvider
- IGraph
- IProvider
- SimplePovider
- TemplatedComponent
- Utils
  - TemplateHelper
  - Etc.

### mgt-msal-provider
- MsalProvider
- TeamsProvide

[2020-07-09 21:15] #504 closed

[2020-07-09 21:57] elisenyang commented on #173
@TBag @arsnyder16 I'm investigating adding a file list/picker component. Would love to get more details on how you would use this and what you expect it to do!

[2020-07-09 22:02] nmetulev commented on #538
Hi @KaushalKhamar, thanks for the suggestion. To clarify, is your suggestion to add an option to mgt-login to initiate the sign in process on page load without the user having to press sign in?

Ex:
[code]

Or, were you referring to a SSO (single sign on) scenario where the user does not have to sign in at all so `mgt-login` is not even required?

Are you able to share more about the use case and

[2020-07-09 22:29] adrien-chaussabel opened #545 "[BUG] Contact photo incorrectly retrieved because of wrong contact id"
**Describe the bug**
The wrong id is used to retrieve photos for contacts.

For example, "Alex Wilber" is both a user and a contact, and has no photo as a contact, even though one exists for him. When retrieving his photo, the contactId used is "cweA0-LqUUCpDZVcepeX3Q==". This is the id provided by the People API, however his id in the Contacts API is

It is possible to correctly retrieve his phot

[2020-07-10 00:25] adrien-chaussabel opened #546 "Replace calls of getUser() with getUserWithPhoto()"
The getUser method in graph.user.ts only has one call, which can be replaced with the more used getUserWithPhoto. Replacing getUser will reduce redundancy and improve readability.

[2020-07-10 05:36] KaushalKhamar commented on #538
Hello @nmetulev ,

I am referring to have the functionality of SSO. If I integrate into Teams app then the user should auto authenticate using SSO without manually authenticating.

[2020-07-10 16:36] elisenyang opened #547 "Add MGT tab to Graph Explorer"
# Proposal: Add MGT tab to Graph Explorer

## Description

Add a tab in Graph Explorer which shows a Toolkit component and it's code when a sample query is run.

## Rationale

Graph Explorer is the most visited site for developers learning and using Microsoft Graph and is a great way to introduce developers to the Toolkit.

## Preferred Solution

Graph Explorer team has created a PR with the integ

[2020-07-10 19:12] TBag commented on #173
FYI @jthake-msft @nmetulev

Hello, thanks for asking!

This request originated when we built the Meeting Capture Teams application.  You can find it here.  https://github.com/microsoftgraph/meetings-capture-sample

We implemented our own version of a file picker in the Meeting Capture application.  You can see where it is done here in the view:

https://github.com/microsoftgraph/meetings-capture-s

[2020-07-11 00:23] nmetulev commented on #538
Got it, thanks for clarifying. I like the idea of Teams SSO, but I don't know what the right approach is right now. We could use some help on this one.

Teams SSO is tricky as it requires a back end service. Depending on your backend, it would need to be something written in .net, js, python, etc. [Here is an example of a Teams app using SSO with the Graph Toolkit](https://github.com/microsoftgrap

[2020-07-13 11:17] skyhawk92 commented on #512
Hi @vogtn

I fixed the link to our sample app [https://github.com/skyhawk92/Office-Addin-Mgt-Test](url)

Since this is Add In project, it's settings look to me different than your sample. The configs are done in webpack.config.js. I also tried adding target "ie 11" there. I didn't know where to put the pollyfills, but tried in the main App file, which made no difference. It still works in Web Outl

[2020-07-14 19:54] kandari7 opened #549 "More filter in mgt-Tasks"
Is there any way in which I can filter task and show only the tasks which are not completed yet, and show only tasks up to specific number. For e.g. if I want to show only top 10 task to user.

currently the mgt-tasks fetches all the task which eventually impact the application performance.

[2020-07-16 20:12] jasonjoh opened #554 "Attendees not rendering in Agenda control when using non-MGT authentication and providing events array"
**Describe the bug**
Providing `events` property to `Agenda` from mgt-react renders events but does not render attendees.

**To Reproduce**
1. Clone the `mgt` branch of this repo: https://github.com/microsoftgraph/msgraph-training-reactspa/tree/mgt
1. Rename **./demo/graph-tutorial/src/Config.ts.example** to **Config.ts**.
1. Update the `scopes` array in Config.ts to:

[code]
1. Follow steps in ht

[2020-07-16 21:19] nmetulev opened #555 "[BUG] NPM Readme is non existent"
The mgt package does not have a readme. Copy the readme from the root to the mgt package!

[2020-07-17 16:05] vogtn commented on #512
Hi @skyhawk92 please try the following:

in your _package.json_ upgrade to:
[code]

Then run `npm install`

In your _App.tsx_:
[code]

Order is important here. Let me know if this doesn't work for you, I'll push a branch. Sorry for the wait!

[2020-07-17 18:12] jasonjoh commented on #554
Ugh, found the cause of this. I'm using `SimpleProvider` because this is an existing project that already handles login and auth. I just create the provider in my `Calendar` component like:

[code]

And then in the constructor of my component, I called:

[code]

`this.props.getAccessToken` is my own method that uses msal.js to get the token. This method was never getting called, which seemed suspi

[2020-07-20 16:58] nmetulev commented on #549
Hi @kandari7, you can create a filter function via the `taskFilter` property to control which tasks are shown by the component.

[code]

However, this will still fetch all tasks and I agree this can impact the app performance. The bigger issue with the tasks component is that it fatches all tasks for all folders, not just for the current view. On top of that, all tasks are refreshed when a task is

[2020-07-20 17:04] shweaver-MSFT commented on #549
@nmetulev, this is not covered by my upcoming changes. I'm doing a lot of refactoring, but not necessarily adding any new functionality. Adding a `max-tasks` or similar attribute would be a new feature.

[2020-07-20 22:05] nmetulev commented on #549
Sorry, I was asking about optimizing how tasks are loaded and how the API is used, not about adding the max-tasks feature. I imagine for the split between planner and todo, you will need to rewrite this anyway?

[2020-07-20 22:11] shweaver-MSFT commented on #549
It's a good time to do it, but not actually necessary for the split. The split out MGtTodo and MgtPlanner components are individually just as inefficient as the original 😅 I can look into it though. I've assigned myself to the issue so I don't forget.

[2020-07-20 22:38] kandari7 commented on #549
Great!!! hope to see more feature on mgt task and other components as well as this is emerging.

[2020-07-21 05:57] dandv opened #557 "[BUG] Wrong description for mgt-login on PWA Builder"
**Describe the bug**
At https://components.pwabuilder.com/component/graph_login, the description seems to be a copy/paste error from https://components.pwabuilder.com/component/install_pwa

[2020-07-21 06:49] skyhawk92 commented on #512
Hi @vogtn

sorry for late reply. I tried to add those lines you mentioned (and deleted the ones I added which were then doubled), and on the first look it seems that it works. Project opens in desktop outlook as well and upon sign in, takes us to web login.

So the main issues of not running in desktop is resolved, further functionalities are yet to be tried, but that I think is a separate issue,

[2020-07-21 16:05] nmetulev commented on #557
Thanks for the issue @dandv.

I believe this issue belongs in the [pwa builder features repo](https://github.com/pwa-builder/pwa-features), but I'll let @jgw96 comment on best way to handle this.

[2020-07-21 20:20] vogtn commented on #512
Glad to see it seems to be working. Closing since original issue seems to be solved. Please feel free to raise separate issues if individual functionalities are missing or broken, and we can resolve the specifics.

Thanks!

[2020-07-21 20:20] #512 closed

[2020-07-21 21:58] #554 closed

[2020-07-22 17:19] #555 closed

[2020-07-22 20:18] #542 closed

[2020-07-22 20:21] beth-panx commented on #524
Team has decided with the following design
<img width="598" alt="Screen Shot 2020-07-22 at 1 21 12 PM" src="https://user-images.githubusercontent.com/7429891/88224719-3ea04f00-cc1e-11ea-815e-b4184d67dfb2.png">

[2020-07-22 22:54] shweaver-MSFT commented on #428
We've decided to take a different approach for beta api consumption. This work is no longer necessary.

[2020-07-22 22:54] #428 closed

[2020-07-23 18:03] #541 closed

[2020-07-23 21:35] shweaver-MSFT opened #560 "Update prettier to enable more TS language features"
# Proposal: Update prettier to enable more TS language features

## Description

The version/configuration we use for prettier prevents us from using some more modern TS language features, such as Optional Chaining and Nullish Coalescing.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html

[2020-07-23 23:04] shweaver-MSFT commented on #265
I have a simple POC that shows the flow: https://github.com/microsoftgraph/microsoft-graph-toolkit/tree/shweaver/multi-package

Unfortunately, `npm start` doesn't work anymore. Luckily storybook works fine. Need to figure out why though.

[2020-07-24 20:41] shweaver-MSFT commented on #229
## We need your help

This is a tough one. After much discussion on the team, we aren't sure exactly the correct approach to solve this issue. A PR is available with my attempt at a solution, but it isn't perfect (#543).

The attempt is built on the assumption that all MGT instances would be used in an iframe, but to my chagrin this isn't always the case. In addition, support for scoped element re

[2020-07-24 20:42] shweaver-MSFT commented on #229
## We need your help

This is a tough one. After much discussion on the team, we aren't sure exactly the correct approach to solve this issue.

This attempt is built on the assumption that all MGT instances would be used in an iframe, but to my chagrin this isn't always the case. In addition, support for scoped element registries is not yet adopted by the W3C, so I had to work with a [polyfill](ht

[2020-07-28 18:28] #524 closed

[2020-07-29 21:26] dougroutledge opened #561 "Person Card - Add Transfer, Consult Transfer, Add to Conference buttons for call control. Also add these a new controls for quick access."
# Proposal: [Person Card - Add Transfer, Consult Transfer, Add to Conference buttons for call control.]

## Description

## Rationale

## Preferred Solution

## Additional Context

[2020-07-30 21:21] nmetulev opened #562 "[Docs] Update Provider docs"
I've noticed a bit of confusion about the providers recently which should be addressed in the documentation:

- [ ] When using SimpleProvider, the developer must call `provider.setState(ProviderState.SignedIn)` to indicate to all the component that they can start calling the graph. This is already called out in the documentation, but it is easily missed. It should be part of the code sample and ca

[2020-07-31 08:59] Mimetis opened #563 "Avoiding request to graph from mgt-login (cache workaround)"
# Proposal: Avoid graph request made by mgt-login (cache workaround)

## Description

The goal is to provide a solution to avoid the graph call by the `<mgt-login>` component every time you are loading a page where the component is in place, like this :

![image](https://user-images.githubusercontent.com/4592555/89017874-45fce200-d31b-11ea-867b-6de18828814a.png)

Each time you refresh the page, yo

[2020-08-03 16:14] stuart-bailey-uk opened #564 "[BUG] mgt-person component not working correctly when supplying user-id"
**Describe the bug**
Behaviour with the mgt-person component not working correctly when supplying user-id within an angular app.

The component works absolutely fine if I configure it to use the person-query attribute

    <mgt-person person-query="test@*****.onmicrosoft.com" view="oneLine" person-card="click"></mgt-person>

but if I try to use a valid user guid

    <mgt-person user-id="bc1f62d7-

[2020-08-03 19:37] shweaver-MSFT opened #565 "Tasks should be editable in MgtTasks"
# Proposal: Enable a task edit experience in MgtTasks

## Description

MgtTasks component allows you to create, delete, and update the completion status of a task, but otherwise doesn't support updating any other metadata (title, assignees, due date, etc.).

## Rationale

MgtTasks can be difficult to use due to the lack of an edit experience. If a task is created with complete data, but has a typo

[2020-08-04 19:24] #455 closed

[2020-08-04 19:25] shweaver-MSFT opened #569 "Update getting started section with guides and samples for vanilla JS, React, Teams, Angular, SPFx, .NET, etc."

[2020-08-04 19:25] shweaver-MSFT opened #570 "Add MGT tutorial to Teams developer docs"

[2020-08-04 19:28] tramadon opened #571 "[Design] Theming Inventory / List of CSS properties (Colors)"

[2020-08-04 19:40] #545 closed

[2020-08-04 19:50] jgw96 commented on #557
thanks @nmetulev ! @dandv this has since been fixed so I am going to close this issue, thanks!

[2020-08-04 19:50] #557 closed

[2020-08-04 20:50] shweaver-MSFT commented on #563
Hi @Mimetis, thank you for submitting this proposal. I agree that it is better to avoid the Graph call when possible. Luckily, @adrien-chaussabel is actively working on a solution for caching Graph calls in the toolkit #221. We expect to have caching available in preview builds of version 2.0.

Can you tell me more about your concerns with the timing of the `loginCompleted` and `logoutCompleted` e

[2020-08-04 23:15] #182 closed

[2020-08-05 14:48] aakash15patel opened #572 "mgt-people-picker - Doesn't work when I use App Service level authentication"
# Support Question

Currently I'm trying to implement **mgt-people-picker** into the **react project** which is deployed in **Azure App service**. There are two ways to authenticate the user

1. Authenticate using the MSAL library on the UI side.
2. Turn on the App Service Level authentication and keep the UI Code anonymous.

**mgt-people-picker**  is working fine for the first point mention above

[2020-08-06 07:59] Mimetis commented on #563
hi @shweaver-MSFT
Thanks for the comments.
For clarity I will open a new issue regarding the `loginCompleted` and `logoutCompleted` behaviors

[2020-08-06 07:59] #563 closed

[2020-08-06 08:38] Mimetis opened #573 "[BUG] loginCompleted and logoutCompleted events not fired at the good timing. ProviderState enums"
**Describe the bug**
- The `loginCompleted` and `logoutCompleted` are not delivered at the good timing.
- The `ProviderState` is incorrect (always == 2)

I'm using a `ProxyController` to rely on the **ASP.Net Core** authentication workflow.

In my situation `loginCompleted` is raised when the user clicks on the `<mtg-login>` component, and not eventually when the user is actually logged in.
In the

[2020-08-06 17:43] beth-panx commented on #564
Hello @stuart-bailey-uk I can't seem to repro this bug. I tried to use our [component playground](https://mgt.dev/?path=/story/components-mgt-person--person) and supplied the following queries. ```<mgt-person user-id="2804bc07-1e1f-4938-9085-ce6d756a32d2" view="oneLine" person-card="click"></mgt-person>
<mgt-person person-query="EmilyB@M365x214355.onmicrosoft.com" view="oneLine"></mgt-person>``` I

[2020-08-09 06:34] MaJaHa95 opened #575 "Allow UserAgentApplication to be passed directly into MsalProvider"
# Proposal

Add a way to instantiate `MsalProvider` with a `UserAgentApplication` that already exists.

## Description / Rationale

`MsalProvider` is _almost_ useful for those of us who use the toolkit in an Angular environment (or anywhere else where MSAL is already used, I suppose), but it falls critically short in that it creates its own `UserAgentApplication`, every time. This is useful when u

[2020-08-09 08:06] MaJaHa95 commented on #575
Created PR.

For reference, I specifically intend to use this with the [`MsalService` from msal-angular](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/1.3.4-release/lib/msal-angular/src/msal.service.ts#L30), which inherits from `UserAgentApplication` itself. It gets created and dropped into the DI container at startup, so it'd be simple to get it and set `Providers.global

[2020-08-10 15:53] nmetulev commented on #575
Hey @MaJaHa95, this is a great proposal, and thanks for submitting a PR. In fact, I went through the same thought process when creating the MsalProvider and experimented with allowing the developer to pass in a UserAgentApplication as an alternative to a clientId if they have one.

At the time, I was concerned our MsalProvider would interfere with the auth implementation from the developer (assumi

[2020-08-10 19:33] beth-panx opened #577 "Update contributor guide"
# Proposal: Update contributor guide

## Description
General instructions on project setup and how to get started with mgt repo

## Rationale
MGT team needs more community contributors. By setting up a contributor guide, we are providing documentations on how a new developer can get started with the repo.

## Additional Context
In accommodation to launch MGT Code Contribution Challenge

[2020-08-10 21:06] MaJaHa95 commented on #575
@nmetulev Fair enough. Yeah, I figured there was probably some reason behind the decision to not expose it.

MSAL.js is kinda designed to be the basis of auth for an Angular app. They inject their service [`MsalService`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.service.ts) into the DI container at startup, and I think I mentioned this so

[2020-08-11 00:45] MaJaHa95 commented on #575
@nmetulev Hmm, fair enough. Yeah, I hear you.

msal-angular is kinda designed to be the basis of auth for an Angular app. They inject their service [`MsalService`](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-angular/src/msal.service.ts) into the DI container at startup, and I think I mentioned this somewhere, but that class actually inherits straight from `

[2020-08-11 02:44] nmetulev commented on #575
I think you have a great point here, and I haven't consider the scenario with Msal for Angular where it creates the UserAgentApplication for you but you still have to write a ton of auth code. I think it's a fair use case and it makes sense for the MsalProvider to accept a UserAgentApplication.

This is how I'd categorize the use cases for MsalProvider with UserAgentApplication support:

1. Create

[2020-08-11 11:43] stuart-bailey-uk commented on #564
I also couldn't repeat in a stand-alone app.

[2020-08-11 11:43] #564 closed

[2020-08-11 15:44] tomorgan opened #578 "Proposal: PeoplePicker to support pasting lists of users"
# Proposal: PeoplePicker to support pasting lists of users

## Description
As a user wanted to add multiple users, I should be able to paste a delimited set of user names/aliases into the People Picker and have them be automatically converted if they match.

## Rationale
This is similar in functionality to the Outlook To bar (which is most regular users experience of a people picker). We have tele

[2020-08-11 16:08] beth-panx opened #579 "Update mgt.dev to pass accessibility scan"
# Proposal: Change colors and icons for mgt.dev to fulfill accessibility requirement

## Description
There are a couple of accessibility scan fails on mgt.dev that need to be updated.

## Preferred Solution
1. Get all errors using Accessibility Insights for Web tool
2. Work with design to find right colors
3. Update mgt.dev manager/panel portion

[2020-08-11 17:05] MaJaHa95 commented on #575
Awesome! Yep, I think those use-cases make sense.

I was also thinking last night, `MsalService` is [actually documented](https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angular#login-and-acquiretoken-apis) to expose the token acquisition and login functions publicly:

So that should also help mitigate some risk. Although a different caller _could_ be implement

[2020-08-11 19:44] tomorgan opened #580 "Proposal: PeoplePicker to support expansion of Distribution Lists"
# Proposal: PeoplePicker to support expansion of Distribution Lists

## Description
As a user, Distribution Lists (DL) should show in the list of IntelliSense entries when searching. I should be able to select a DL and "expand" it to add all users in that DL to the PeoplePicker.

## Rationale
Users expect this to work, as it's similar to behavior seen in Outlook and Teams. The Teams client today h

[2020-08-11 20:16] MaJaHa95 opened #581 "Should we have an msal-angular sample?"
# Proposal: Add msal-angular sample

## Description

Before we push too far forward with #575, I wanted to make a second Angular sample app, which uses msal-angular and does all the stuff I've been talking about there. This gives us a nice harness for some practical tests, and an example.

I tested the changes with a "real" app where I have with more functionality (e.g. route protection and API ca

[2020-08-11 22:09] shweaver-MSFT commented on #572
Hi @aakash15patel,

I'd love to learn more about your project. Are you able to provide a repro sample?

Also, you may find the ProxyProvider helpful for getting at Graph tokens. Check out the docs [here](https://docs.microsoft.com/en-us/graph/toolkit/providers/proxy)

[2020-08-11 22:24] shweaver-MSFT commented on #561
Hi @dougroutledge, Can you tell me more about the features you are proposing? Can you envision a solution or have a recommended approach?

[2020-08-12 11:56] dougroutledge commented on #561
Currently we get 5-10 requests per week wanting an attendant console solution that works with Microsoft Teams.  While experimenting with your library, and seeing the call, chat, email hover on the person icon, it occurred to me a similar "toolbar" type object would be fantastic.  Rather than having to hover over someone, be able to enable each button on a toolstrip would make it possible to add th

[2020-08-12 23:30] nmetulev commented on #581
Yes, I agree, makes sense to follow the Angular patterns and this sample makes a ton of sense, especially given the discussion from #575

[2020-08-12 23:41] nmetulev commented on #581
And to answer the question whether there should be one sample or two Angular samples - I'm leaning towards having two separate samples that show two ways to integrate with the MsalProvider in Angular. Any concerns with that approach?

[2020-08-12 23:43] nmetulev commented on #575
Makes sense. Looks like you already started the work on the sample. Once you've tested the integration in the sample and feel confident, go ahead and mark your MsalProvider PR as "Ready for Review" and I will go through, review it and test it. Sound good?

[2020-08-13 04:28] nmetulev opened #584 "[BUG] Publish new version to npm to fix missing readme in NPM package"
#555 added the readme but the package was not published

[2020-08-13 08:44] MaJaHa95 commented on #581
Nope! My only hesitation would be the extra maintenance burden of adding a new sample. Though they presumably don't need updates very often, and it's not like they have to be backward compatible.

I wish there was a good way to show both in the same sample. The code change is so trivial, if it were "real" code, I'd just pull it out into a configuration setting. I tried to make that one a little bi

[2020-08-13 09:43] MaJaHa95 commented on #575
Opened for review, have at it!

I'm fairly sure it should be working, so let me know if there are issues. I did use it to build the sample, so things _should_ hopefully be fairly smooth. I had a lot of version issues that made me a little nervous--I call that out in the PR--but I think that was just my own lack of experience with `npm link` showing.

[2020-08-14 19:09] shweaver-MSFT opened #587 "Publish release 1.3.4"
This issue tracks the publishing progress for a release. It will get updated as tasks are completed:

- [x] Prep the release branch
  - [x] Create the release branch
  - [x] Update the package version
- [x] Publish release to GitHub
  - [x] Write release notes
  - [x] Publish release notes
- [x] Publish storybook from release branch
- [x] Publish NPM package from release branch
- [x] Merge release

[2020-08-14 21:29] shweaver-MSFT commented on #587
Version 1.3.4 has been released 🚢🎉

[2020-08-14 21:29] #587 closed

[2020-08-14 21:36] shweaver-MSFT commented on #584
This has been fixed with the latest release 1.3.4

[2020-08-14 21:36] #584 closed

[2020-08-17 21:51] elisenyang commented on #569
Docs PR for new getting started guides:
https://github.com/microsoftgraph/microsoft-graph-docs/pull/9545

[2020-08-18 23:00] #572 closed

[2020-08-21 18:54] adrien-chaussabel opened #590 "[BUG] Storybook Badge is Broken on Readme(s)"
**Describe the bug**
The Storybook badge on the readme is dead, no image shows up.

**Expected behavior**
Storybook badge is viewable

**Screenshots**
![image](https://user-images.githubusercontent.com/22735023/90924061-9c51c380-e3a3-11ea-93cf-29cdb2423c4c.png)

[2020-08-26 01:26] shweaver-MSFT opened #592 "Integrate yarn to simplify dependency structure in the monorepo"
# Proposal: Integrate yarn to simplify dependency structure in the monorepo

## Description

Since integrating Lerna and converting to a monorepo, managing the expected location of a given dependency in the various node_modules folders can be difficult to determine and to control.

Yarn makes this a bit easier. Instead of having duplicate dependencies across the various `packages/mgt-*/node_module

[2020-08-27 16:23] #592 closed

[2020-08-28 21:27] shweaver-MSFT opened #595 "Update samples to reference local mgt projects"
# Proposal: Update samples to reference local mgt projects

## Description

Update the project references in the angular-app, vue-app, and sp-webpart samples to reference the local mgt projects, instead of from npm.

## Rationale

It's convenient to have the samples reference the local packages so that the toolkit and the sample can be modified simultaneously. It also enables us to work on samples

[2020-08-29 21:18] elav000 opened #596 "Add example test configuration for react-scripts to samples\react-app"
**Describe the bug**
While the example itself works just fine, if you try to add a test that pulls in any resource from @microsoft/mgt it will fail. I am trying to setup something similar in a create react app and am having some difficulty figuring out how to get jest setup properly with create-react-app and @microsoft/mgt.

It is probably related to issue [110](https://github.com/microsoftgraph/m

[2020-08-30 19:29] nmetulev opened #597 "[Caching] - the cache should indicate when a person does not have an image in the graph"
**Describe the bug**
The cache should keep track of people (users, contacts, etc) who do not have images in the graph so the components don't request it unnecessarily. Currently, if a person does not have an image in the graph, the components try to fetch an image each time the page is refreshed since the cache does not contain a cached image.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-08-31 18:15] shweaver-MSFT opened #598 "Migrate basic structures to mgt-element"
A stub for mgt-element exists and builds. Now it is time to migrate the rest of the base classes and interfaces over as well.

[2020-08-31 18:17] shweaver-MSFT opened #599 "Spec out FilePicker"
Create a spec for the proposed FilePicker component #533

[2020-08-31 18:21] shweaver-MSFT opened #600 "Add support for P1 entities"
Add support for caching of P1 entities as described in #221

[2020-08-31 18:21] #600 closed

[2020-08-31 18:22] shweaver-MSFT opened #601 "Add support for P2 entities"
Add support for caching P2 entities as described in #221

[2020-08-31 18:46] shweaver-MSFT commented on #596
Hi @elav000, thanks for submitting this. As you have seen, our testing setup in the toolkit leaves some to be desired... I agree that we should offer some testing examples :)

There are *some* jest tests for Mgt, but they are **very** stale. We should see if we can get jest working in the main project, as well as in a sample app 👍

[2020-08-31 19:16] shweaver-MSFT opened #602 "Create initial prototype for FilePicker"
Create an initial prototype component for the FilePicker, pre-spec. #599

[2020-08-31 19:21] adrien-chaussabel opened #603 "Support eTag checking for photos in the cache"
Add support for eTag checking for photos in the cache as described in #221

[2020-08-31 19:27] shweaver-MSFT commented on #561
Hi @dougroutledge, this request is out of scope for our current roadmap. This request is very specific, and we are targeting more generic experiences for our next version. We are working on making the toolkit more extensible in the future. Stay tuned for more developments in 2.0.

[2020-08-31 19:27] #561 closed

[2020-08-31 19:29] dougroutledge commented on #561
That's unfortunate as Skype for Business Online has a limited amount of time, we are being hounded daily by people wanting to move to Teams, but this hole forces us to recommend other providers.

[2020-08-31 19:42] beth-panx opened #604 "Add dark theme to mgt-people-picker"
# Proposal: Add dark theme to mgt-people-picker

## Description
0. Add common colors and mixins base on design
1. Revamp mgt-people-picker css classes and structure
2. Add scss variables and mixins to support dark theme

## Rationale
MGT components right now support light theme. Developer community has asked for dark theme, Microsoft Teams theme, and custom themes.

## Preferred Solution
Enable de

[2020-08-31 19:48] beth-panx opened #605 "Add dark theme to mgt-teams-channel-picker"
# Proposal: Add dark theme to mgt-teams-channel-picker

## Description
0. Add common colors and mixins base on design
1. Revamp mgt-teams-channel-picker css classes and structure
2. Add scss variables and mixins to support dark theme

## Rationale
MGT components right now support light theme. Developer community has asked for dark theme, Microsoft Teams theme, and custom themes.

## Preferred Solu

[2020-08-31 19:51] #535 closed

[2020-08-31 20:00] elav000 commented on #596
Thanks @shweaver-MSFT! It's greatly appreciated.

[2020-08-31 21:30] shweaver-MSFT commented on #97
The initial investigation has been complete. @beth-panx, please add any relevant findings from the investigation and open up new issues to cover the work.

[2020-08-31 21:30] #97 closed

[2020-09-01 06:34] sainagarjunareddytadiparthi opened #606 "[BUG] Call Notification is showing up when teams is opened in browser"
**_Call notifications are missing when initiating a call with cloud communications api_**

I have a bot configured with the required permissions to make a call to users using cloud communications api. I have initiated a call using postman. We have two users whom we want to add into the call. one of them is using Teams CLIENT and other one is logged into teams in a browser.

When we initiate a call

[2020-09-01 20:55] shweaver-MSFT commented on #606
Hi @sainagarjunareddytadiparthi, I'm sorry you are running into an issue. After reading your description though, I'm not sure that the Microsoft Graph Toolkit is the culprit. We don't support the Cloud Communications API in MGT. I suggest looking for the support team in charge of the cloud comm api.

[2020-09-01 20:57] #606 closed

[2020-09-03 03:14] agneszitte-nventive commented on #159
I would like to help for this issue 😊

[2020-09-03 18:26] HiltonGiesenow opened #609 "[BUG] Mgt-Login not firing a loginCompleted event"
As per my [SO post](https://stackoverflow.com/questions/63725426/mgt-login-not-firing-a-logincompleted-event/63728844#63728844):

**Describe the bug**
The login component is not firing the 'loginCompleted' event, so I can't execute my own custom logic based on that.

**To Reproduce**
Steps to reproduce the behavior:

Code as per the following

        document.querySelector('mgt-login').addEventLi

[2020-09-03 20:13] shweaver-MSFT opened #611 "mgt-spinner sub-component"
# Proposal: mgt-spinner sub-component

## Description

Create a new *mgt-spinner* sub-component to consolidate the loading UX across components.

## Rationale

We use loading spinners in a few components, and it is needed again in the person card update. Instead of copy/pasting the spinner in, I think it would make more sense to extract it into it's own sub-component, and then consume it that way.

[2020-09-04 16:12] #609 closed

[2020-09-04 19:07] #603 closed

[2020-09-04 20:12] chingucoding commented on #100
I think the best idea would be to expose an additional property such as "rawPersonData" that holds the raw result. What should that be named? Does this need an API review?

[2020-09-07 09:00] katungi commented on #378
@shweaver-MSFT Can I help fix this bug ??

[2020-09-08 06:47] KaushalKhamar commented on #538
Is there any way by which I can implement SSO in the react app for MGT?
Can we implement a custom provider and add a method to get tokens in custom provider?
Can you please provide a to implement custom provider where I can setup method for getting user tokens.

[2020-09-08 10:11] alwessels opened #614 "mgt-people-picker Ignoring group-id attribute"
Hi

I added the mgt-people-picker as below:
`<mgt-people-picker group-id="11111111-1111-1111-1111-111111111111"></mgt-people-picker>`

When I initially click on the picker it shows only users from the specified group (as expected), but as I start typing it search for all users and not just those in the specified group.

I saw the initial Graph query it use in the back-end is `/groups/{id}/members`

[2020-09-08 17:55] #611 closed

[2020-09-09 20:01] beth-panx opened #616 "Theming should have global support"
# Proposal: Theming should have global support

## Description
 Theming is designed currently to support each component separately. Need to investigate how to configure theming on a global level and factor out attribute 'theme' to base component.

Ideally, developer should be able to add attribute to body tag (TBD) and configure all mgt components to use the same theme.

## Rationale
Right now if

[2020-09-09 20:22] #604 closed

[2020-09-09 21:40] #598 closed

[2020-09-10 18:02] #575 closed

[2020-09-11 14:57] beth-panx opened #620 "[BUG] mgt-task header (add new) font on MacOS is not consistant"
**Describe the bug**
<img width="453" alt="Screen Shot 2020-09-11 at 7 52 55 AM" src="https://user-images.githubusercontent.com/7429891/92940707-4604fd00-f404-11ea-853c-7b156d7044a1.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to mgt.dev on macOS
2. open mgt-tasks story

**Expected behavior**
Font should be same as body

**Screenshots**
See description

[2020-09-11 19:15] #581 closed

[2020-09-11 19:57] shweaver-MSFT opened #621 "Update templating in mgt-person-card"
# Proposal: Update the templating in mgt-person-card

## Description

mgt-person-card has had a major UI overhaul, but has not yet had the templating/extensibility model re-evaluated.

## Rationale

The old person card had it. The new one needs it too.

## Preferred Solution

### Additional Details

The V1 Person Card provided an additional details area below the contact details to show custom thi

[2020-09-11 20:02] shweaver-MSFT opened #622 "Add Files section to updated person card"
# Proposal: Add Files section to updated person card

## Description

The new person card design calls for a Files section with files shared between the users.

## Rationale

Add Files API integration to enable user's to see common files between them.

## Preferred Solution

Need to figure out what the proper Graph calls are for getting the common files between the users and the file icons.
Also n

[2020-09-11 23:18] shweaver-MSFT opened #624 "Person card should filter out non-person entities from organization section"
# Person card should filter out non-person entities from organization section

## Description

The person card organization section shows contacts from the `/people` endpoint, including those that are not actually people, such as conference rooms. Those should be filtered out

![image](https://user-images.githubusercontent.com/25832310/92980217-24c6ff80-f44a-11ea-86d0-d69fe6e039a9.png)

[2020-09-11 23:22] shweaver-MSFT opened #625 "Update person card profile timeline design when missing data"
# Update person card profile timeline design when missing data

## Description

The new person card design includes a profile section with timeline UX for education and work history. It looks fine with complete data, but when some data is missing, it looks pretty funny. Need to get design for missing data states.

![image](https://user-images.githubusercontent.com/25832310/92980337-a6b72880-f44a-1

[2020-09-14 04:34] mohamedcherifmo opened #626 "Microsoft Graph API change notifications in Graph Toolkit"
# Proposal: Add support for change notification when supported instead of using polling rate

## Description

The Microsoft Graph API get change notifications provides a webhook mechanism to deliver change notifications to clients so would be great to have for things like the agenda component (and would love mgt-get to also have it)

## Rationale

## Preferred Solution

## Additional Context

[2020-09-14 15:10] tamertameen opened #627 "[BUG] Error when importing from "@microsoft/mgt" in nextjs"
The following error is produced when running a dev instance of a nextjs application and trying to import @microsoft/mgt

![image](https://user-images.githubusercontent.com/20024018/93102100-28fa5380-f6bc-11ea-8ba2-115f069bb769.png)

**To Reproduce**
Steps to reproduce the behavior:
1. create a nextjs application "npx create-next-app app_name"
2. cd app_name
3. npm install @microsoft/mgt
4. modify

[2020-09-14 20:12] vogtn commented on #627
Thanks for the details, it does seem to be an issue. It seems like there may be some additional setup or steps necessary.

This probably doesn't satisfy your case, but through `mgt-loader` the components seem to be mostly working:
[code]

[2020-09-14 21:24] shweaver-MSFT opened #629 "Create theme viewer/editor page"
# Proposal: Create theme viewer/editor page

## Description

Create a page to view the toolkit components and tweak the theme values on the fly. The page should also allow a developer to export their theme and use it in their mgt-enabled application.

## Rationale

## Preferred Solution

## Additional Context

[2020-09-14 21:48] #528 closed

[2020-09-14 21:55] beth-panx opened #632 "[BUG] mgt-person avatar for non person entity needs work"
**Describe the bug**
![image](https://user-images.githubusercontent.com/7429891/93142084-30106a00-f69a-11ea-9382-c53e719c6403.png)

**Expected behavior**
The avatar should be 'initials' of entities. If not, the default avatar should be smaller.

**Additional context**
This is probably caused by the initial calculation function taking a js property that doesn't exist in non-person entities.

[2020-09-15 17:41] shweaver-MSFT commented on #627
The difference with mgt-loader is that it will check for es5 vs es6 compatibility and potentially inject the `wc/webcomponents-loader.js` library. Perhaps adding the webcomponents loader will fix the issue.

Snippet from mgt-loader:
[code]

[2020-09-15 17:55] shweaver-MSFT commented on #573
@Mimetis, @niko, How does this sound?

1. The existing instances of `loginCompleted`/`logoutCompleted` events should be renamed to `loginClick`/`logoutClick`
1. The existing `loadingCompleted` event stays, and the appropriate `loginCompleted`/`logoutCompleted` are fired as well.

I like having the coupling of `*Click` and `*Completed` because I can tell specifically when each login/logout process

[2020-09-15 18:46] Mimetis commented on #573
Sounds really good to me ! 👍

[2020-09-15 21:23] vogtn opened #633 "[BUG] mgt-person-card webkit scroll-overflow"
**Describe the bug**
The mgt-person-card leverages a scroll bar to allow the user to access additional information hidden by the accessible window:
![overflow](https://user-images.githubusercontent.com/11411686/93265583-a6c26b80-f75d-11ea-9b9a-305d39dd5800.png)

This appears to be missing in webkit (tested safari/chrome) making it difficult to access the content:

![Screen Shot 2020-09-15 at 2 05

[2020-09-15 21:30] anoopt opened #634 "MGT component to get data from term store"
# Proposal: A new component that displays data from term store using the Microsoft Graph APIs for Taxonomy

## Description
A dropdown or a similar control that gets the child terms under a specified `termset id` and outputs the details (id, name).
There should also be capability to get child terms under a specified `term id`.

## Rationale
The output of this component can be used in tagging data.

[2020-09-15 21:52] shweaver-MSFT commented on #378
@katungi yes please! 😍🙏✨🧠

[2020-09-15 22:05] shweaver-MSFT commented on #626
Hi @mohamedcherifmo, thanks for submitting this proposal. This issue seems related to #264.

We believe this will need an additional service to support. Have you thought more about a solution for implementing webhooks in the toolkit?

[2020-09-15 22:11] shweaver-MSFT commented on #634
Hi @anoopt, Thanks for submitting this proposal!

This is a great idea for a new SharePoint focused component. This is not in our current roadmap, but would you be willing to implement this and submit it as a contribution? We are actually running a contest currently and awarding prizes for good contributions! Find more details here: https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/ma

[2020-09-16 13:39] kandari7 opened #636 "People Picker is not working after publish"
I am using mgt People picker to fetch users from Azure AD, however the people picker is not fetching any user from that tenant.
When I check the Network tab on browser console I find out that the people picker is only sending request to graph/me/people?filter=startswith('A') where I checked the network tab for working solution it makes two request to graph api
1. graph/me/people to fetch relevance

[2020-09-16 19:53] shweaver-MSFT opened #639 "[BUG] Angular sample readme out of date"
**Describe the bug**
The readme wasn't updated fully after the latest work on the angular-app sample.

Make it accurate.

[2020-09-16 19:58] shweaver-MSFT opened #640 "[BUG] Angular sample doesn't refresh view when logging in"
**Describe the bug**
When signing in to angular-app sample, the page will continue to display "You are not logged in!" Even after login has completed.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the angular-app sample readme to get it running
2. Open the sample in a browser
3. Press the login button to sign in (Sign out first and refresh if necessary)
4. Complete the auth flow
5.

[2020-09-16 20:47] elisenyang opened #641 "[BUG] mgt-person-card spacing is off"
**Describe the bug**
There's a large gap between the profile photo and the user's information. Looks like the space between the photo and "send email is too small as well.

The spacing changes once you expand the card.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/27507835/93390160-430e7000-f83b-11ea-92af-513ae2e424

[2020-09-16 21:06] vogtn opened #642 "[BUG] Update react-app sample readme with startup info"
**Describe the bug**

Currently the `readme.md` for the `samples/react-app` sample is a default-ish `create-react-app` generated readme:
https://github.com/microsoftgraph/microsoft-graph-toolkit/tree/main/samples/react-app

We should update for consistency across samples and ease of use example:
https://github.com/microsoftgraph/microsoft-graph-toolkit/tree/main/samples/angular-app

**Environment

[2020-09-16 22:09] shweaver-MSFT commented on #639
Closed by mistake. Reopening

[2020-09-17 21:23] #642 closed

[2020-09-17 21:56] vogtn commented on #636
Hi @kandari7

can you provide more details on this issue or a repro? We are unable to provide help with the information given.

[2020-09-17 23:11] amrutha95 opened #644 "Search in people-picker with type="any" not behaving as expected [BUG]"
**Describe the bug**
This is specific to the people-picker component with type="any" (People and groups)
When I enter characters in the search, the search stops displaying results even though there are results matching the query.

**To Reproduce**
Steps to reproduce the behavior:
For eg. here when I look for the letter "b", it works fine :

![image](https://user-images.githubusercontent.com/224717

[2020-09-18 06:12] kandari7 commented on #636
@vogtn have updated the question.

[2020-09-18 22:10] #644 closed

[2020-09-18 23:54] mohamedcherifmo commented on #626
It’s a bit related to issue #264 but my thinking is more of:
Phase 1:
- For agenda (calendar view) and todo where the rate of change might not be too high I would do an initial retrieval which would be stored in browser cache / dB (together with the delta id)
- polling can be used (as a phase 1) and polling would only retrieve the diff and update the local data store
- on adding a task the task wo

[2020-09-20 21:54] anoopt commented on #634
Thank you @shweaver-MSFT - I am willing to implement this. I will assign it to myself in the coming weeks.

[2020-09-21 05:10] katungi commented on #378
@shweaver-MSFT where can I find the editor in the codebase, I can only locate the components. Can you help me locate it?

[2020-09-21 15:30] RobPethick opened #646 "Clear error when no auth provider is registered"
# Proposal: Improve set up for using components to fetch data

## Description
While I may be wrong I expect I'm not the first person to try to implement a component, forget to add the auth provider or add it incorrectly and spend a long time trying to work out the issue

## Rationale
Currently the only signal you have that no provider is present is the lack of API calls - but this is unclear. I tr

[2020-09-21 15:34] RobPethick opened #647 "Improve documentation around Simple Provider"
# Proposal: some additional documentation around the simple provider

## Description
With a non-simple auth case we decided to try the SimpleProvider - and I'm really happy about the interface provided. My only real beef is that it took me a long time to work out that I needed to manually set the status on the provider.

## Rationale
I think SimpleProvider covers for a lot of use cases and a bit m

[2020-09-21 15:38] RobPethick opened #648 "Improve Scope casing for simple provider"
# Proposal: Improve Scope casing for simple provider

## Description
Scopes in Microsoft's Oauth are case insensitive - however when the token is returned they are always given in PascalCase - the simple provider requests them in lowercase

## Rationale
As mentioned - there is no difference between "User.Read.All" and "user.read.all" in terms of the actual endpoints but all the documentation and t

[2020-09-21 15:51] RobPethick opened #649 "Batch requests between separate mgt-person components"
# Proposal: Improve performance by batching requests between separate mgt-person components

## Description
When I put 50 mgt-person cards on the page I can see that the requests for the user and their photo are batched up (so I see 50 rather than 100 requests) but it would be great if the requests could be batched between the different components.

## Rationale
This seems like a fairly common use

[2020-09-21 17:02] #639 closed

[2020-09-21 17:02] #640 closed

[2020-09-21 18:56] #641 closed

[2020-09-21 19:51] tramadon commented on #216
![Uploading mgt_todo_mobile.png…]()

[2020-09-21 19:54] tramadon commented on #216
<img width="375" alt="mgt_todo_mobile" src="https://user-images.githubusercontent.com/46977768/93814574-8edd6280-fc09-11ea-8143-0972c72d7872.png">

[2020-09-21 20:45] tramadon commented on #220
![todo_no_available_tasks](https://user-images.githubusercontent.com/46977768/93819454-96543a00-fc10-11ea-826b-783db62a370d.png)

[ic_notasks.svg.zip](https://github.com/microsoftgraph/microsoft-graph-toolkit/files/5258039/ic_notasks.svg.zip)

[2020-09-22 00:10] tramadon commented on #395
<img width="1024" alt="todo_no_meetings_today" src="https://user-images.githubusercontent.com/46977768/93833381-4e8fdb80-fc2d-11ea-9dd6-a6dfcf00c3dd.png">
[ic_no_meetings_today.svg.zip](https://github.com/microsoftgraph/microsoft-graph-toolkit/files/5258706/ic_no_meetings_today.svg.zip)

[2020-09-22 00:45] vogtn commented on #636
Thanks @kandari7,

 Just to confirm:  The implementation of the people pickers in both instances are exactly the same, however your tenants (different tenants)  are yielding different results of searched people. In this case no users are found at all.

The people-picker itself doesn't yield person searching results from the `graph/me/contacts` endpoint. That's probably the mgt-person component, wh

[2020-09-22 06:18] kandari7 commented on #636
Thanks @vogtn ,
I've tried both the queries as suggested by you, please find the response below from the queries.
`https://graph.microsoft.com/v1.0/me/people `- this returns 2result one is **logged in user** and other **all company**
`https://graph.microsoft.com/v1.0/users` - this returns all the user in the tenant.

[2020-09-22 08:03] metahumantobe opened #651 "[BUG] Cannot read property 'globalProvider' of undefined"
Earlier while defining global provider following code is used:

  let provider = mgt.Providers.globalProvider;

But now mgt.Providers is undefined because of which globalProvider is throwing error and not able to search for the people in mgt-people-picker. I'm using SimpleProvider to create as global provider.

[2020-09-22 10:16] sagardeshpande85 opened #652 "Cannot set property 'globalProvider' of undefined while using SimpleProvider for mgt-people-picker"
The code worked fine in all the environments until few hours back when we suddenly started getting the below error in browser console while working with mgt-people-picker using SimpleProvider.

**Error from browser console -**
Uncaught TypeError: Cannot set property 'globalProvider' of undefined

**Code - below highlighted line throwing error**

myMSALObj.handleRedirectCallback(authRedirectCallBac

[2020-09-22 17:19] shweaver-MSFT commented on #646
Hey @RobPethick, this is great feedback. I totally agree there should be some warning emitted.

[2020-09-22 21:23] shweaver-MSFT commented on #651
Hi @metahumantobe, can you tell me more about how you are referencing the mgt library? Where is `mgt` defined in your example? I ask, because I typically see the Providers object imported and used directly.

Setting the global provider looks something like this in JS:
[code]

Once the globalProvider value is set, you can access it again from other places using the same `Providers.globalProvider` v

[2020-09-22 21:28] shweaver-MSFT commented on #652
Hi @sagardeshpande85, can you tell me about what changed in your project to cause this error? Did you change which version of the toolkit you are using?

[2020-09-22 21:34] shweaver-MSFT commented on #649
@RobPethick, I agree that batching the Graph calls across components is a great aspiration. Today, we have one off calls to the Graph in each component. We do cluster some calls, but most components act independently. There would need to be some sort of mechanism created to manage the calls in and out of the toolkit for all components.

Back in my Silverlight days I used something aptly named the

[2020-09-22 21:37] tramadon commented on #127
<img width="2650" alt="keyboard_input_focus" src="https://user-images.githubusercontent.com/46977768/93940152-d551c080-fce0-11ea-9012-2536d9c026e2.png">

Main (cards, containers etc.)
opacity: 0.5;
border: 6px solid #296EEA;
border-radius: 6px;

Secondary #1 (small icons)
border: 2px solid #666666;

Secondary #2 (links)
border: 2px dashed #0078D4;

[2020-09-22 22:10] shweaver-MSFT commented on #647
We had the same idea, defined in #562.

[2020-09-22 22:12] shweaver-MSFT commented on #648
@RobPethick, does the casing cause any issues in your project?

[2020-09-22 22:55] shweaver-MSFT commented on #626
@mohamedcherifmo, I like your idea for polling, it would be easier to manage than setting up a separate service. Is this something that you'd be willing to prototype?

[2020-09-22 23:00] #627 closed

[2020-09-22 23:07] shweaver-MSFT commented on #651
@metahumantobe, thanks for submitting this. I know exactly what the issue is! Yesterday we released out next preview, [2.0.0-preview.1](https://github.com/microsoftgraph/microsoft-graph-toolkit/releases/tag/v2.0.0-preview.1).

It looks like you are using the hosted version via unpkg, which is always updated to the latest release. This means you are now pulling down our preview version. There are s

[2020-09-22 23:07] shweaver-MSFT commented on #652
@sagardeshpande85 , thanks for submitting this. I know exactly what the issue is! Yesterday we released out next preview, [2.0.0-preview.1](https://github.com/microsoftgraph/microsoft-graph-toolkit/releases/tag/v2.0.0-preview.1).

It looks like you are using the hosted version via unpkg, which is always updated to the latest release. This means you are now pulling down our preview version. There a

[2020-09-22 23:14] beth-panx opened #653 "Support headers in mgt-get"
# Proposal: Add support for headers in mgt-get

## Description
To support api's such as [List users beta](https://docs.microsoft.com/en-us/graph/api/user-list?view=graph-rest-beta&tabs=http)

## Rationale
There are times graph api supports passing of additional headers. Right now mgt-get doesn't have this as an option. Developer will need to overwrite the graph client to achieve this.

## Preferre

[2020-09-23 04:12] metahumantobe commented on #651
Thank you very much. Referring to latest production release version helped to resolve the issue.

[2020-09-23 05:24] HiltonGiesenow commented on #651
I've hit this too, and the same fix worked (thanks). Any guidance on how to deal with this in V2?

[2020-09-23 09:23] sagardeshpande85 commented on #652
Hi @shweaver-MSFT Thank you for the response.
As you pointed correctly, we were using hosted version via unpkg which caused this issue.
After replacing it with v1.3.4 it started working as expected.
**One question** - Could we continue to use below 1.3.4 version without any issue or would there be any change in this version (I believe the changes would be released as part of next version v2.0.0 an

[2020-09-23 15:27] nmetulev commented on #651
This is a bug in V2.0 and should be fixed before release. Reopening issue for tracking

[2020-09-23 16:30] shweaver-MSFT commented on #651
This issue speaks a lot to the complications of moving the Providers construct to the mgt-element package. It really forces the default workflow of using mgt to require references to the mgt-element package as well.

[2020-09-23 17:52] shweaver-MSFT commented on #652
@sagardeshpande85, you can continue to use the 1.3.4 version from unpkg going forward. This version will remain stable going forward. I like the extra control, because when V2 is finally officially released you get to decide when to make the switch.

[2020-09-23 17:52] #652 closed

[2020-09-23 17:54] shweaver-MSFT commented on #651
@HiltonGiesenow, I don't have any guidance for you quite yet. This package split is a newer thing for us, so it's got some kinks we are thinking through.

[2020-09-23 20:15] RobPethick commented on #648
It did initially within my simple provider as when I checked the scopes I currently had in my cached token against the scopes requested here they didn't match - obviously a .toLowerCase() fixed it. But it seems to me that it would be better for this to match the scopes returned in the decoded JWT token

[2020-09-23 20:16] RobPethick commented on #647
Ah great - this can be closed then!

[2020-09-23 20:16] #647 closed

[2020-09-23 20:44] shweaver-MSFT commented on #648
That makes sense. The reason you see lowercase scopes emitted by the toolkit is because we used all lower case letters across the project. Not for any specific reason, it just is.

I think the work for this issue would be to create a construct/enum to manage scope strings so we don't hardcode them everywhere. We would then need to update each of our Graph calls to use the scope enums instead of ha

[2020-09-23 22:09] jeffwilcox commented on #651
Interested to follow this conversation, too. My team is excited to try and use the newer react components... if we jump back to the 1.3.x world, how much pain are we signing up?

(Let me know how I can help, our app is auth'd for the various graph APIs in the Microsoft tenant and our goal is to use the ProxyProvider with our prod internal app)

[2020-09-23 23:08] shweaver-MSFT opened #656 "Update sp-webpart sample to use local refs"
# Proposal: Update sp-webpart sample to use local refs

## Description

#595 mentions that the other samples have been updated to the local mgt packages instead of the published one. This is the last one.

## Additional Context

There seems to be some issues with the sample and the yarn/Lerna environment. Some investigation is needed to figure out what is wrong here.

[2020-09-24 02:59] vogtn commented on #636
We're looking into how we can replicate this properly to silo the issue. Just to make sure the aad app itself is setup for mulitentant use:

![aad](https://user-images.githubusercontent.com/11411686/94095539-cb11ee00-fdd6-11ea-806f-e9d1404681f2.png)

any other information or replication info please update here. We'll update once we are able to replicate and determine a solution from there.

[2020-09-24 06:38] kandari7 commented on #636
yes, the Supported account type is Any Azure AD directory - Multitenant.
will it be possible to connect over a call?

[2020-09-24 21:58] nmetulev opened #657 "[BUG] mgt-msal-provider authority attribute breaks auth"
**Describe the bug**
Using the `authority` attribute in `mgt-msal-provider` breaks auth and will not allow the user to sign in.

**To Reproduce**
[code]

**Expected behavior**
`authority` should work and allow the use to sign in to the specified tenant

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS:

[2020-09-24 22:21] nmetulev commented on #657
This is user bug, not toolkit bug. The fix here is to use the full authority string, such as https://login.microsoftonline.com/<tenant>/

[2020-09-24 22:21] #657 closed

[2020-09-25 00:15] vogtn commented on #636
Ok great just confirming the details.

On our own, we are able to setup an tenet[tenent-1] with Multitenant and login from another tenet[tenet-2] into the tenet-1 client id. With tenet-2 you can use the people-picker to pick the `people` from the `tenet-1` 's accessible users.

Yes we can connect over a call, feel free to search my profile for contact and then we can set up something, I think we'l

[2020-09-25 06:15] kandari7 commented on #636
One more thing that I noticed is I am not able to fetch the users MS Teams. I've mailed you from my personal email address. Please let me know when can we connect.

[2020-09-25 06:20] metahumantobe commented on #651
@shweaver-MSFT Hi, Thank you for the resolution. As you mentioned to download the packages using command `npm i @microsoft/mgt@1.3.4` but I'm unable to download the packages and getting the error `C:\Program Files\Git\cmd\git.EXE ls-remote -h -t ssh://git@github.com/microsoftgraph/msgraph-typescript-typings.git` everytime. Can you please help regarding this issue in downloading npm package ?

[2020-09-25 13:38] chingucoding opened #658 "E-mail address mgt-core@microsoft.com does not accept e-mails"
If one is not part of Microsoft, sending an e-mail to mgt-core@microsoft.com results in getting back the following e-mail:

![image](https://user-images.githubusercontent.com/16122379/94273723-121df180-ff45-11ea-8fa4-cca0f9acb626.png)

The email address is linked in the readme (albeit not correctly).

[2020-09-25 15:21] beth-panx commented on #658
Hi @chingucoding! Sorry about the confusion. I created a security group that excepts external emails at mgt-help@microsoft.com. Any questions / comments / feedback are welcome. I will be sure to update the Contest.md in our repo. Is that where you saw the mgt-core alias?

[2020-09-25 15:57] #658 closed

[2020-09-25 16:11] chingucoding commented on #658
The email is also mentioned in the readme.md in the middle of the following line: https://github.com/microsoftgraph/microsoft-graph-toolkit/blame/main/readme.md#L153

[2020-09-25 16:17] beth-panx commented on #658
@chingucoding Awesome!! I will look for the PR :)

[2020-09-25 16:26] chingucoding commented on #658
I assume that the email might not be available immediately might take some time until it receives external emails? Or could there be a typo in the email? I tried to send an email but got an error:

![image](https://user-images.githubusercontent.com/16122379/94291964-9af45780-ff5c-11ea-9ae4-a51e1d57f4f0.png)

[2020-09-25 16:55] beth-panx commented on #658
Yes the provision will take a little bit. I created it this morning. I will keep an eye out on it and update you here when it's ready! Sorry about the inconvenience.

[2020-09-25 16:56] chingucoding commented on #658
No worries, glad that we could sort it out so quickly! Thank you for your help!

[2020-09-25 18:40] nmetulev commented on #636
@kandari7 and @vogtn, I encourage you to keep the conversation in the open here on GitHub so we can ensure it is helpful for others in the community.

@kandari7, it is not clear how you've setup your solution and we need your help to be able to reproduce this issue. What would help is for you to provide a step by step repro of your setup so we can replicate it in our own environment. Things like y

[2020-09-25 18:44] nmetulev commented on #651
@jeffwilcox, our goals is to not cause major breaking changes for the end user with 2.x. Would love to hear any feedback you have on the react wrappers - I'm happy to help if you are running into any issues or if you have any questions.

[2020-09-25 18:44] nmetulev commented on #651
@metahumantobe, do you have git installed on your machine? If not, installing git should solve the issue.

[2020-09-25 18:48] kandari7 commented on #636
@nmetulev agree, will it be possible for you to share your email address, I will mail you the deployment document that I have created

[2020-09-25 19:11] nmetulev commented on #636
You can send me [files here](https://www.dropbox.com/request/goSB3mMPB33YUDvcjrDq)

[2020-09-25 20:23] jeffwilcox commented on #651
Thanks for the comments @nmetulev. The wrapper and element package actually ended up working just fine!

Unfortunately I think we're just not going to be able to use this because of the admin consent rules around these people endpoints, etc. We've been asked to justify why these are "critical to the function of the app", and really, it's just a value-add for us to get access to user photos, show t

[2020-09-25 21:32] sps-smith commented on #652
Hi @shweaver-MSFT this worked for me also. Thanks

[2020-09-28 04:06] elav000 opened #662 "[BUG] types field should point to index.d.ts in package.json for mgt-react instead of types.d.ts (which doesn't exist)"
**Describe the bug**
The types field is incorrect in package.json for mgt-react

**To Reproduce**
Steps to reproduce the behavior:
1. Import anything from @microsoft/mgt-react in your TypeScript project
2 Notice that VSCode cannot find the module

**Expected behavior**
The types should be found

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please com

[2020-09-28 18:22] elisenyang commented on #569
Getting started guides for vanilla JS, Teams, SharePoint, React, and Angular are published at https://docs.microsoft.com/graph/toolkit/get-started/overview

[2020-09-28 18:22] #569 closed

[2020-09-28 18:22] #547 closed

[2020-09-28 22:35] mohamedcherifmo commented on #626
I've started trying out a few options. So far the idea i see would be best is indexedDB and delta sync. I'd certainly be interested to prototype it yes

[2020-09-28 22:54] shweaver-MSFT commented on #626
That's wonderful! Thank you 😊

Feel free to open up a draft PR with the prototype whenever you are ready.

[2020-09-28 23:22] #651 closed

[2020-09-29 21:27] #614 closed

[2020-09-29 22:11] #662 closed

[2020-09-29 23:26] #595 closed

[2020-09-30 22:02] shweaver-MSFT opened #664 "Release 1.3.5"
Do a minor release with these bug fixes:
- https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/609
- https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/644

[2020-09-30 22:13] shweaver-MSFT commented on #602
The basic concept is a way to quickly view and select a relevant file item from OneDrive, with a link to show the full OneDrive File Picker for more control. The developer can then use whatever item is selected by the user to do further operations.

I am currently using the /me/insights/used API to get the recently used items and then display them in a list.

The items are accessed like so:

[code

[2020-09-30 22:14] shweaver-MSFT commented on #602
The prototype work is done. Next we need to form a spec and build the real deal.

[2020-09-30 22:14] #602 closed

[2020-10-01 00:14] #664 closed

[2020-10-01 12:08] chingucoding commented on #100
I would like to work on this issue, though my typescript skills are pretty limited. If that's fine, feel free to assign this to me @nmetulev @beth-panx .

[2020-10-01 15:52] nmetulev commented on #100
Hey @chingucoding, happy for you to take this.

However, re-reading this issue now, I'm not so sure there is anything we need to do here though. The person component exposes the `personDetails` property that contains the raw object already as they were received from the graph. The type of that property is  `IDynamicPerson` which masks most of those properties. Casting that property to `any` or the

[2020-10-02 00:19] mohamedcherifmo commented on #626
I managed to complete it as a Blazor Wasm app. Would you like me to convert it to pure html and JS
Or would you like me to share it as is?

[2020-10-05 18:35] shweaver-MSFT commented on #533
This is also related to #173, which calls for a FileList component. Since we also show a File list experience in mgt-person-card, it might make sense to create FileList as its own component and then consume it in the FilePicker and PersonCard.

[2020-10-05 18:44] abeisleem opened #666 "[BUG] Console error (404 Not Found) when implementing Templates on Person & Login"
**Describe the bug**
Implementing the Templates feature on a Person & Login component leads to an error in the console log. The personImage renders fine and it behaves correctly, but would be nice to get rid of this error/confirm that its a known issue as opposed to an implementation error on my part.

**To Reproduce**
Implement the Templates feature as indicated in the documentation found [here](

[2020-10-05 18:51] shweaver-MSFT commented on #666
Hi @abeisleem, my first thought is that maybe the value is undefined during the first render passes (while loading the provider and getting state from the Graph). I see that the request includes `[[personImage]]` which tells me that the value is missing.

When the errors occur, is the value for personImage `undefined`? I'm wondering if passing `null` instead could fix it.

[2020-10-05 19:29] abeisleem commented on #666
Hey @shweaver-MSFT, I wouldn't attribute it to your first thought as the code I provided is triggered manually by the user _way_ after the provider is loaded and such.

What is interesting is that the provided code is encapsulated by a for-loop of size 5 but the console only spits 2 errors.

I went ahead and added the personImage object to the UI to inspect its value and it contains an image uri s

[2020-10-06 13:46] kandari7 commented on #636
Hi @nmetulev I've uploaded the document in the shared link.

[2020-10-07 13:55] metahumantobe opened #667 "When try to find a user in mgt-people-picker which has middle initial name doesn't fetch the result if middle initial name is not included"
Suppose a user has name **abc.x.yz@somecompany.com** and his/her name is _Abc X Yz_ then if we search the user in mgt-people-picker with input **abc yz** then it gives not result but if searched **abc x yz** then only it gives the result.

In our current application the user doesn't know the email ID and most users use only First name and last name, but if user try to search for other users which

[2020-10-07 17:37] abeisleem commented on #666
Is anybody else experiencing this?

[2020-10-07 17:51] vogtn commented on #667
The people picker currently only supports searching by the following entities,
 [Available options are: person, group, any](https://docs.microsoft.com/en-us/graph/toolkit/components/people-picker#properties)

in the case of person:

The people picker works, by taking the input value provided by the user and requests from the graph on the `me/people` and `users` endpoints
https://github.com/microso

[2020-10-07 21:39] shweaver-MSFT commented on #666
@abeisleem I've done my best to reproduce the error, but things are working fine for me so far. Are you able to share an isolated repro sample with us? That might be the easiest way for us to learn more about what is causing the issue.

[2020-10-08 15:30] metahumantobe opened #672 "[BUG] While typing in mgt-people-picker to search the user, the name of the user is getting truncated."
In our application, if we try to search a user in mgt-people-picker and type in normal speed then the words typed are getting truncated and thus showing wrong results.
For example, if I try to search a user whose name is _Abcdef_ and I started typing in mgt-people-picker at normal speed. But while typing, the letters get truncated in between and it searches e.g. _Abcef_ and shows no results found.

[2020-10-08 19:28] #622 closed

[2020-10-08 19:28] #281 closed

[2020-10-08 19:29] #624 closed

[2020-10-08 19:29] #442 closed

[2020-10-08 20:53] nmetulev opened #674 "[2.0] Remove deprecated properties for 2.0"
All deprecated properties should be removed before 2.0 is released

1. mgt-person `show-name` and `show-email` and '@' for person-image
1. MgtTemplatedComponent `templateConverters`
1. MgtBaseComponent `useShadowRoot` and `isShadowRootDisabled`

[2020-10-08 21:45] vogtn commented on #672
Hi @metahumantobe,

Can you provide more details on your implementation, we are unable to recreate this issue with our latest or available implementations . This could be related to a previous version of the toolkit might be already fixed or an incorrect reference to the package.

 **Environment (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. edge, chrome, safari]

[2020-10-08 23:23] #597 closed

[2020-10-09 02:01] #666 closed

[2020-10-09 07:05] metahumantobe commented on #672
Hi @vogtn,

Following are the details as requested:

- OS: Windows 10
- Browser: Chrome
- Framework: ASP.Net WebForms (Framework version 4.6.1)
- Context: Web
- Version: 1.3.4

Thank You.

[2020-10-09 15:57] nmetulev commented on #636
Thanks @kandari7 - I appreciate that you shared your instructions. However, the instructions are very involved and require setting up several azure services and configurations - it would be a huge time investment for us. The instructions also don't include any code which makes it difficult to understand how the toolkit is used.

I need your help to reduce the issue to a simple and reproducible pro

[2020-10-09 17:19] shweaver-MSFT commented on #509
@GPetrites, I've spent a bit of time attempting to reproduce the issue, but I'm not quite clear on the proper project/environment setup. Can you share a sample with the issue isolated?

[2020-10-09 18:27] beth-panx opened #675 "Add mixins to enhance devX in design system"
# Proposal: Add mixins to enhance devX in design system

## Description
Now that we have theming as part of the repo. We have started categorize colors and mixins. Would be nice to have margins/font size/etc to be part of mixins to enhance developer experience.

## Rationale

## Preferred Solution
TBD

## Additional Context

[2020-10-09 18:37] shweaver-MSFT commented on #599
An initial prototype was created, but I was not yet able to validate that the FilePicker SDK will work for our scenario. The FilePicker team says they are just not quite ready for third-party integration yet. We should follow up with them in a few months.

[2020-10-09 20:57] vogtn commented on #672
@metahumantobe  Thanks for the additional details.

Is this similar to what you are experiencing? Searching for "patti" after backspacing seems to debounce the keypress and remove one of the "t" in the search.
![file](https://user-images.githubusercontent.com/11411686/95630645-0c410980-0a37-11eb-8f3b-04db53085fdf.gif)

[2020-10-10 05:03] abeisleem opened #677 "PeoplePicker selection event listeners trigger inconsistently based depending on keyboard vs. mouse"
**Describe the bug**
The people picker event listeners trigger in an inconsistent way when a selection is made depending on whether it was selected with a mouse click or keyboard enter.

If mouse click: 'blur' triggers then 'selectionChanged' triggers
If keyboard enter: only 'selectionChanged'

**To Reproduce**
1. Attach these event listeners to an mgt-people-picker element:
![image](https://user-

[2020-10-10 14:42] metahumantobe commented on #672
Yes, we are facing the exact same issue. While searching for the user's name it removes one of the characters.

[2020-10-12 17:15] vogtn commented on #672
@metahumantobe

Thanks for confirming functionality. We'll add update this with a PR and fix as soon as we can.

[2020-10-12 17:31] vogtn commented on #677
@abeisleem

Thanks for the details, confirming the issue, it seems blur is not firing due to the following
`event.preventDefault()`

https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt/src/components/mgt-people-picker/mgt-people-picker.ts#L1009

This is specific to the `tab` key,  since this is also used for accessible navigation of the page. The ux we decided wanted t

[2020-10-12 18:17] nmetulev opened #678 "[Caching] Cache Agenda calls"
Re: #221

Calendar calls used by the agenda component should be cached. The events will need to be cached individually and diffed with the actual call from the graph when updated.

[2020-10-12 18:19] nmetulev opened #679 "[Caching] Cache Teams Picker calls"
Re: #221

Team and channel calls used by the Teams Picker component should be cached.

[2020-10-12 18:21] nmetulev opened #680 "[Caching] Cache should be separated by tenant and user"
When cache stores are created in indexdb, they should be created with the tenant and user id's in the name so they are unique to that signed in user. This will allow caching to work for multiple users.

[2020-10-12 20:31] jasonjoh opened #681 "Agenda should allow better control over time zone"
# Proposal: Support time zones

## Description

Allow me to:

- Specify a specific time zone on the component (maybe a `timezone` property?)
- Disable any adjustment of the date/times and render exactly what's given

## Rationale

Currently, the agenda component assumes two things:

- The date/time values on events are in UTC
- I want to render them in the browser's time zone

These assumptions le

[2020-10-12 20:43] shweaver-MSFT opened #682 "[BUG] Handle 404 errors for failed photo requests"
**Describe the bug**
When we make requests for user photos, we don't know if they actually exist or not. For users without a photo, the Graph will appropriately return a 404 response, because the resource was not found. However we also emit this 404 response to the console, cluttering it up for toolkit consumers.

**Expected behavior**
Since we expect some calls for photos to fail, it is reasonabl

[2020-10-12 20:52] shweaver-MSFT opened #683 "Expose getInitials and getColorFromName from MgtPerson"
# Proposal: Expose getInitials and getColorFromName from MgtPerson

## Description

When extending the Person component, it is nice to have access to the getInitials method so that the component can be overridden in some ways, but still support the same initials/coloration logic.

## Rationale

Overriding parts of the component without access to our initials/coloration logic, makes it difficult to

[2020-10-12 21:50] nmetulev commented on #601
Closing this one for #678 and #679

[2020-10-12 21:50] #601 closed

[2020-10-13 18:16] shweaver-MSFT commented on #632
@nmetulev there are two issues here, and only one of them is actually in the person component.

1. First off, the style for the avatar is off. It should be shrunk and centered.
2. The second part is that the calling component in this example (person-card), was passing the wrong data.

I have a fix for both #632 :)

[2020-10-13 22:08] #221 closed

[2020-10-13 23:23] nmetulev opened #685 "[React] Create React hooks for calling Microsoft Graph"
## Description
Add the following hooks to mgt-react:

* `const [isSignedIn] = useIsSignedIn()`

* `const [response, loading, error, load] = useGet(resource, deps, options)`
    where:
    * resource: string - the resource to fetch from the graph (ex: `/me`)
    * resource: unknown[] - an array of dependencies - values that must be valid before the graph call can be made
    * resource: GetOptions

[2020-10-13 23:42] nmetulev opened #686 "[Providers] Expose graph client helpers in Providers namespace"
## Description
Create helpers to simplify using the graph client

* `Providers.graphClient` - gets the current graph client provider if available and user is signed in
    Same as
[code]

* Providers.state - gets the current provider state
    Same as
[code]

## Rationale
For developers using the graph client, these helpers can make the developer experience better and make the code more readable.

[2020-10-14 00:22] #632 closed

[2020-10-14 00:26] nmetulev commented on #626
Hey @mohamedcherifmo, that's so cool. Pure HTML and JS would be ideal (if possible) since most of us are not familiar with Blazor :)

[2020-10-15 06:00] #100 closed

[2020-10-15 06:48] waldekmastykarz opened #689 "Add support for loading group images in person"
# Proposal: Add support for loading group images in person

## Description

Add support for loading group images in the person component so that it can be used for showing Microsoft 365 Groups as well as people.

## Rationale

Microsoft 365 Groups are one of the main building blocks in Microsoft 365. As such, there are many scenarios for exposing them to users. The existing person component would

[2020-10-15 12:49] in8aakbh opened #690 "Person components in a Fluent UI DetailsList do not update"
The MGT `Person` components in a Fluent UI `DetailsList` in SPFx web part do not update when items' sort order is updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Fluent UI `DetailsList` to a React component in SPFx web part
2. Click on any Column Heading with implemented logic for sorting the list items on column click
3. While the list items are sorted and all other columns v

[2020-10-15 15:17] nmetulev commented on #690
Hi @in8aakbh, thanks for creating the issue. I'm unable to repro this with the latest preview (2.0-preview.3), I'm wondering if this is something that was already fixed - could you try it?

Here is my output for reference:

![ezgif-6-cd8e463a5c68](https://user-images.githubusercontent.com/711864/96149419-273fcd80-0ebe-11eb-9700-4f129c7688b8.gif)

[code]

[2020-10-15 16:12] nmetulev commented on #667
@metahumantobe, one solution we can try here is to fall back to splitting up the search query by spaces and search for those tokens individually in the graph. For example, for `abc x yz`, if we don't find a value, we can split up the string to `abc` `x` `yz` and search the graph for `abc` only. This is not going to guarantee to work, but it will at least show some results. We could even go further

[2020-10-15 17:23] metahumantobe commented on #667
Hi @nmetulev ,

For such user ( `abc x yz`),  `givenName` is `abc x`,  and `surname` is `yz`.

[2020-10-15 17:39] nmetulev commented on #267
Closing this issue as all components are done with the exception of mgt-task which will be split up in future releases to mgt-todo and mgt-planner

[2020-10-15 17:39] #267 closed

[2020-10-15 17:41] nmetulev commented on #625
Already merged

[2020-10-15 17:41] #625 closed

[2020-10-15 18:04] shweaver-MSFT commented on #682
Turns out this is not something we control. From the toolkit POV, we do our best to handle any network errors that occur. The actual cause of the errors showing up in the console is because Chromium itself prints them automatically when any network error occurs.

If you want to suppress the errors, there is now a setting for this in the Chromium dev tools. More info here:
https://stackoverflow.com

[2020-10-15 18:04] #682 closed

[2020-10-15 18:34] nmetulev opened #691 "[Proxy Provider] Create Node sample"
Create a Node.js sample with Proxy Provider

[2020-10-15 18:48] beth-panx commented on #538
@simonagren Here is the issue. Thanks for showing up some cool updates on this. Looking forward to this provider! 🤗

[2020-10-15 18:50] simonagren commented on #538
Feel free to assign me if you want :)

[2020-10-15 18:59] beth-panx opened #692 "[BUG] EU cookie banner should be removed"
**Describe the bug**
The cookie for vortex / adobe analytics is deemed essential now and the banner can be removed.
Note We will need the banner when we implement auth to allow users to sign in.

**Expected behavior**
No EU cookie banner present

[2020-10-15 20:43] HaveSpacesuit opened #693 "[BUG] No way to set storeAuthStateInCookie to false"
https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/f2916001184945718ada309229ce080496e3fdc8/packages/mgt/src/providers/MsalProvider.ts#L373

Tracing through the code I noticed this line. If I pass in `storeAuthStateInCookie` as false via the config, it will be overridden by `|| true`.

Since you are using TypeScript 3.7, you should be able to fix this by using `?? true` instead of `||

[2020-10-15 21:17] shweaver-MSFT commented on #599
There is a code sample in email from the FilePicker team! Won't share it here, but it has the basic code needed to support the scenario from a non-React env.

[2020-10-15 21:39] elisenyang commented on #173
@TBag @arsnyder16

Thanks for your feedback! We have a spec in #688 for three new components: mgt-file, mgt-file-list, and mgt-file-picker.
I would love to get your review and feedback on if this will meet your requirements and would be something you're interested in using.

[2020-10-15 21:40] elisenyang commented on #533
Specs for mgt-file, mgt-file-list, and mgt-file-pickers are completed in #688

[2020-10-15 21:52] sebastienlevert opened #695 "[BUG] When using mgt-person with person-query="me", show-presence fails with the right permissions"
**Describe the bug**
When using `mgt-person` with the attribute `person-query="me"`, according to the [Microsoft Graph Permissions](https://docs.microsoft.com/en-us/graph/toolkit/components/person#microsoft-graph-permissions) section on the documentation, I would expect that I could provide just Presence.Read as I'm referring to the connected user. Though, when looking at the code, it definitely r

[2020-10-15 22:34] nmetulev commented on #573
Hey @Mimetis, there are couple things going on here.

1. The `loginCompleted` and `logoutCompleted` events in `mgt-login` fire after the `login` and `logout` methods finish executing. Here is the code inside the mgt-login component:

[code]

    In your code, the login and logout methods simply navigate the user to the right route and don't actually sign in/sign out the user:

[code]

    These me

[2020-10-15 23:47] shweaver-MSFT commented on #621
Work is in progress, but I am going on leave for a while. I have it partially written in this branch: https://github.com/microsoftgraph/microsoft-graph-toolkit/tree/shweaver/621

So far I've created functions to handle the rendering of the additional-details templates. I also added a `hasData` abstract getter to the base section so that I could then (but have yet to do) pivot upon and conditionall

[2020-10-16 06:42] KaushalKhamar commented on #538
Let me know if i can help you to create this provider. @simonagren

[2020-10-16 17:00] #636 closed

[2020-10-16 18:12] nmetulev commented on #695
Good catch. I created #697 to fix this

[2020-10-16 18:50] amrutha95 opened #698 "At-mention mgt component"
# Proposal: Feature request for an mgt component that allows me to tag or '@' mention people.

## Description
As a user I should be able to mention people in a text area. A dropdown should be triggered on the '@' symbol that loads the people in the organization and filters based on the query.

## Rationale
This feature should be added to enable commenting with the @ mention capability. Right now t

[2020-10-16 19:21] nmetulev commented on #693
Great catch. I've fixed this in #699

[2020-10-18 02:40] sebastienlevert commented on #538
Same here! To complete my thoughts that started on Twitter, I was wondering if mgt-login + the Teams SSO Provider could play somewhat nicely together to achieve an SSO without the need to invoke the login capability of mgt-login. Basically, automatically going through the loops of auth on load and if the required scopes are already consented, simply send (or assign?) something to mgt-login so it a

[2020-10-18 07:23] simonagren commented on #538
I think first off all we need to decide if pre-consent is the way to go. Because using the id-token, requesting an access token via MSAL - you won't be able to consent to other than the "limited scopes". Maybe for people building third party applications, this is not prefered? But certainly open for discussion.

The main ideas is that you don't need the mgt-login at all, you do an internal login b

[2020-10-18 07:31] simonagren commented on #538
What I built so far works with pre-consent. It skips the login component and signs the user in, there's no MSAL involved at all. And then the components can request an access token, that comes back from the backend. And all the components work and display the data :) After some discussion, we decided to change this a little.

@sebastienlevert feel free to think about these things I wrote :D

[2020-10-19 08:48] in8aakbh commented on #690
Thanks for your response @nmetulev! I upgraded the `@microsoft/mgt-react` package to **2.0.0-preview.3**, but I'm still facing the same issue. I've checked in my code at [https://github.com/in8aakbh/mgt-people](https://github.com/in8aakbh/mgt-people) if you want to have a look at it.

[2020-10-19 16:32] nmetulev opened #700 "Agenda should have a refresh method to reload loaded data"
## Description
Agenda should have a refresh method that can force reload the events

## Rationale
The agenda component does not refresh the data unless the page refreshes. Adding a refresh method will give the developer control over when the data gets reloaded without the page being reloaded

## Preferred Solution
[code]

[2020-10-19 18:18] TBag commented on #173
Nice, thanks for sharing.  The components look very helpful.  Are you considering a component that can upload files too?

[2020-10-19 20:11] nmetulev commented on #173
Hey @TBag, this component we've envisioned as a way for the user to download or attach something from OneDrive. But I think you have a valid question around upload - what would you like to see for upload experience?

[2020-10-19 21:10] arsnyder16 commented on #173
@elisenyang These looks like great building blocks for what i would like. I am looking for a full file picker where you can apply sorting and filtering based on metadata.

Something that i can replace [One Drive file picker](https://docs.microsoft.com/en-us/onedrive/developer/controls/file-pickers/js-v72/?view=odsp-graph-online) with so i don't need a popup, and instead just host within my react a

[2020-10-19 22:33] nmetulev opened #701 "[People Picker] support filtering group members without fetching all members first"
## Description
When using the people picker with a group id, the people picker fetches all members first and filters the query on the client. THis works for groups with small number of members, but it becomes expensive for large groups. Now that the group members apis supports filtering on the graph, the people picker should use the members api with a filter clause to search for members.

## Prefe

[2020-10-20 11:31] TBag commented on #173
Hi @nmetulev, thanks for asking.  An upload control would be pretty simple, just need a button to open up the Browse dialog to find the file you want and a way to specify where the file is going, I imagine the destination is a property you set on the control.  It would be nice to be able to upload to SharePoint doc libs and OneDrives.  It would also be nice if we could fire the upload event at a t

[2020-10-20 16:44] beth-panx commented on #691
This is something we are looking at in collaboration with creating the Teams SSO experience #538 that community is driving. The simple version of spec is as below:
- A simple Graph connect sample with node.js as backend. Official [sample here](https://developer.microsoft.com/en-us/graph/get-started/node.js) and [tutorial here](https://docs.microsoft.com/en-us/graph/tutorials/node)
- Adding MGT com

[2020-10-20 17:16] jasonjoh commented on #691
GIMME

[2020-10-20 19:00] #509 closed

[2020-10-20 22:21] nmetulev opened #702 "Create a Wiki page for resources and samples outside of this repo"
Create a README page for resources and samples outside of this repo

[2020-10-21 00:20] mohamedcherifmo commented on #626
Ok will work on converting it and send the PR once completed :)

[2020-10-21 01:58] #677 closed

[2020-10-21 02:39] jasonjoh commented on #691
I'm down to do this during our upcoming hack week (11/2).

[2020-10-21 04:31] nmetulev commented on #690
Thanks for sharing your code @in8aakbh - I'm able to repro the issue now. I'll investigate and report once I know the root cause.

[2020-10-21 04:39] nmetulev commented on #173
Thanks @TBag - if I'm understanding this correctly, the component would be a simple button that would open the browser file picker for the user to select file(s). Once the file(s) is/are selected, they would be uploaded to a developer specified location and the component would have the appropriate events to update the developer. Does that sound about right?

I'm not clear on the use case - do you

[2020-10-21 04:42] nmetulev commented on #46
This should now be possible with msal 2.0. Docs: https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/login-user.md#account-apis

[2020-10-21 12:10] TBag commented on #173
You’re welcome.  Yup, that’s the gist of it.

Check out the Meeting Capture app, it illustrates a use case where we upload pre-read materials associated with a meeting.

At a broader level, essentially anytime you are using a Graph accessible back end storage location the upload control allows you to include upload functionality anywhere you want in your app at the click of a button.  Wow!  Sounds

[2020-10-21 15:42] elisenyang opened #703 "New Component: mgt-file"
# mgt-file

The File component is used to represent an individual file/folder from OneDrive or SharePoint by displaying information such as the file/folder name, an icon indicating the file type, and other properties such as the author, last modified date, or other details selected by the developer. The developer or application provides the identifiers for a file and the component will generate th

[2020-10-21 15:47] elisenyang opened #704 "New Component: mgt-file-list"
The File List component displays a list of multiple folders and files by using the file/folder name, an icon, and other properties specicified by the developer. This component uses the mgt-file component (#703) . The developer is able to specify a specific drive or or site, display a list of files based on insight type (trending, used, or shared), or provide queries render to a custom list of file

[2020-10-21 15:51] elisenyang opened #705 "New component: mgt-file-picker"
The file picker component provides a button, a drop down list of files, and as well as button to launch a full file browsing experience to enable a user to select a file from OneDrive or SharePoint for further action. This component uses the mgt-file-list (#704) component to display files in the dropdown. The selected file object(s) is returned to the developer.

![image](https://user-images.githu

[2020-10-21 15:53] elisenyang commented on #599
Specs are added in #703, #704 , and #705.

[2020-10-21 15:53] #599 closed

[2020-10-21 18:35] sebastienlevert commented on #523
Hey @nmetulev! More than happy to grab this one and start working on this small task!

I was thinking to go on and basically modify this https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt/src/graph/graph.presence.ts#L114 to allow using the latest endpoint where we can send a single query with all the user ids.

Would that make sense?

[2020-10-21 20:02] nmetulev commented on #523
Thanks for your help here @sebastienlevert, that sounds great, feel free to submit a PR.

[2020-10-21 20:11] nmetulev commented on #690
Just created #706 to fix this issue.

[2020-10-21 21:03] nmetulev opened #707 "Create Electron sample and documentation"
The sample should demonstrate how a developer would:
* add authentication on native platforms
* integrate with SSO on Windows
* use the components to render data

Deliverable:
* sample in samples folder with detailed README
* documentation guide on getting started
* blog post on using Graph Toolkit with Electron

[2020-10-22 09:37] Olli64 opened #708 "Create MSAL 2.0 provider"
Greetings!

Is there going to be msal 2.0 support any time soon?
We cannot use this toolkit before we can use auth code + pkce that was featured in msal 2.0

Br,
Olli

[2020-10-22 16:02] nmetulev commented on #667
Thanks, in this case, the approach of splitting up first and last token will likely work. However, in investigating my own organization's tenant, I noticed that there are cases where the `givenName` is `abc` and the `surname` is `x yz`. Those cases will not work since the graph only supports `startsWith` operations (`contains` is not supported), but I think that's a good compromise. My proposed so

[2020-10-22 16:07] nmetulev commented on #708
Hey @Olli64, an msal 2.0 support sounds like a great idea. We can add that to our backlog and use this issue to track the progress.

In the short term, you can leverage msal 2.0 by using the [SimpleProvider](https://docs.microsoft.com/en-us/graph/toolkit/providers/custom#simpleprovider) with your own implementation of msal 2.0

[2020-10-22 16:29] #523 closed

[2020-10-22 16:51] sebastienlevert commented on #538
Thanks for the details @simonagren. So your backend would basically act as an authenticated proxy to the graph, right? I understand the concept and I think it's a great idea! As it seems that it's the only way to communicate with the Graph while leveraging the Teams SSO, I think it's a fair approach. What would be phenomenal, is that if I was creating an app in Teams and would identify the require

[2020-10-22 17:47] Olli64 commented on #708
Great, thanks for advice, I'll look into it!

[2020-10-22 21:09] sebastienlevert commented on #322
I was actually facing the same issue earlier! Let me take that one!

[2020-10-22 21:30] beth-panx commented on #691
@jasonjoh and @hugoabernier you two can fight for it 😆

Jk I mentioned this to Hugo also. So whomever gets to it, can you just assign it to yourself and comment here so that the rest of us know not to duplicate the work? You guys are amazing!!

[2020-10-23 15:46] nmetulev opened #711 "[Docs] Update React getting started to add Auth/Provider, remove non mgt-react docs"

[2020-10-23 15:52] nmetulev opened #712 "[MGT-GET] Cache requests"
## Description
Mgt-get should cache requests via the caching service. The refresh method should have an option to invalidate the data and fetch it from the graph

## Preferred Solution
Cache each request via the `CachingService`.
Add an option on the caching service to configure the cache invalidation time
Modify the refresh method to allow for the cache to be invalidated.

[2020-10-23 15:59] nmetulev opened #713 "[MGT-React] If no template property is provided, assume it's default"
## Description
Today, `mgt-react` components require a template to specify the template property

[code]

Update `mgt-react` to assume the template value is `default` if no template value is provided

[code]

[2020-10-23 16:05] nmetulev opened #714 "[MGT-GET] dataChanged event should allow for the data to be manipulated before being rendered"
## Description
Allow the developer to filter or process the graph data before it is rendered by the component

## Rationale
Today, there is no way to filter or modify the data returned from the graph before it is passed to the template engine for rendering. This proposal would allow the data to be manipulated before passed to the template.

## Preferred Solution

[code]

[2020-10-23 16:08] nmetulev opened #715 "[MGT React] Export mgt types imported in generated.ts"
## Description
mgt-react should export types used by mgt-react components

## Rationale
Today, the developer is required to import from both `@microsoft/mgt` and `@microsoft/mgt-react`. This proposal would allow the types to be re-exported from mgt-react so only one import statement is needed for most scenarios.

## Preferred solution
Update the generator code to add an export statement at the end

[2020-10-23 16:14] nmetulev opened #716 "[Templating] don't wrap rendered templates in div when possible"
## Description
Don't wrap rendered templates in div and instead use the root element in the template as the root element of the rendered template

## Rationale
The `div` makes it difficult to include templates in lists or in general with layout

[2020-10-23 16:15] nmetulev opened #717 "[MGT-GET] Add header and footer templates"
## Description
Add `header` and `footer` templates to mgt-get so they can be used together with the `value` template.

## Rationale
Together with #716, this will allow the developer to create their own lists

[2020-10-24 11:32] simonagren commented on #538
@sebastienlevert yes I'm still building two examples, as I think it needs discussion, what is actually secure :) Most off the Teams-sample apps using SSO have a backend returning the accesstoken to the front-end. The difference for us is that we would give an option to host the backend whereever. And I think this option would allow us to easier build in "on the fly consent", later on.

And the oth

[2020-10-26 16:00] #322 closed

[2020-10-26 16:28] nmetulev opened #720 "[Proposal] Improve how scopes are used and documented"
## Rationale
Today, it is difficult for a developer to know exactly what scopes are used by a component such as agenda. For example, the agenda uses components like mgt-person, mgt-people, mgt-person-card, which require their own scopes but are not documented in the agenda docs. When the agenda is used for the first time by a user who has not consented, the user is redirected to consent to each sc

[2020-10-26 18:21] waldekmastykarz commented on #720
This would be very helpful indeed! 👍

[2020-10-27 20:23] #620 closed

[2020-10-27 20:23] #692 closed

[2020-10-27 20:24] #590 closed

[2020-10-27 22:41] nmetulev opened #726 "[person-card] Add meetings tab"
Meetings with person, attachment from meetings, etc

[2020-10-29 03:04] #693 closed

[2020-10-29 20:01] MaJaHa95 opened #727 "People Picker Copy and Paste"
# Proposal: Allow people/groups to be copied from the People Picker control

## Description
I'd like to put a couple names into the People Picker, then be able to <kbd>CTRL+C</kbd>, submit them, then <kbd>CTRL+V</kbd> into _another_ People Picker to perform the same operation there.

## Rationale
I often use the People Picker to grant proprietary authorization to application objects. Because of th

[2020-10-29 21:22] nmetulev opened #728 "[Analytics] add provider to SdkVersion header for analytics purposes"
Update SdkVersion header to include the provider information. Ex:

[code]

[2020-10-29 21:34] beth-panx opened #729 "Add "good first issue" badge to README"
# Proposal: Add "good first issue" badge to README

## Description
![Screen Shot 2020-10-29 at 2 25 31 PM](https://user-images.githubusercontent.com/7429891/97634889-b6d39900-19f3-11eb-93be-077b96d85eca.png)

## Rationale
Easier for community to follow issues they can help with.

[2020-10-30 02:35] #690 closed

[2020-10-30 02:40] #695 closed

[2020-10-30 19:41] beth-panx opened #731 "Move --default-font-family css var to global file"
# Proposal: Move --default-font-family css var to global file

## Rationale
Solidified global css vars

[2020-11-03 05:44] pravinchandankhede opened #732 "Minimum Required characters"
# Proposal: Minimum Required Characters to begin search

## Description
As of now, I do not see a way to say minimum 3 characters required to search. It starts searching immediately as soon as first character is typed. We should have an ability to restrict this since the 1 or 2 character search can bring lot of results back.

## Rationale
1 character search brings in a lot of data which slows down

[2020-11-03 15:56] waldekmastykarz commented on #681
This would absolutely be very useful. In fact, I'm just working on refactoring an SPFx web part that uses this setting to retrieve events. Ideally, the mgt-agenda component would support specifying the timezone as a string but also automatically retrieving it for the current user from `/me/mailboxSettings`.

[2020-11-03 22:42] #605 closed

[2020-11-03 23:09] nmetulev opened #733 "[MGT-TODO] Update todo to use v1 graph endpoint instead of beta"
Graph apis for todo are now available as part of v1

[2020-11-03 23:48] vogtn commented on #732
Hi @pravinchandankhede

Thanks for this request. The people picker currently uses a [debounce](https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt/src/components/mgt-people-picker/mgt-people-picker.ts#L916) function to throttle request to a set amount of time. This is how we throttle user searches.

Is there a specific reason you need the functionality to specify to a

[2020-11-03 23:55] vogtn commented on #727
Hi @MaJaHa95

Thanks for the details and outlining the feature. We agree this would be a great addition to the people-picker. Is this something you'd have the willingness to help us with?

Thanks!

[2020-11-04 00:15] nmetulev opened #734 "[Mgt.dev] stories should run inside of a iframe, seperate from the editor"
Currently the stories and editor run in the same document. This causes issues such as:
* the editor can edit itself (#378)
* timers do not get cleared (#302)
* modules can not be imported for demo purposes

and more.

The poropsal is to implement a sandbox for stories where they can run in their own iframe, separate from the code editor, similar to how services like jsfiddle work today.

[2020-11-04 01:48] nmetulev commented on #616
Closing issue with #676 now merged

[2020-11-04 01:48] #616 closed

[2020-11-04 01:48] beth-panx commented on #616
You beat me to it 🥇

[2020-11-04 08:54] waldekmastykarz commented on #681
As discussed with @nmetulev, let's split this issue in two for easier tracking:

1. Settings the preferred timezone based on the value specified by the user
1. Automatically retrieving timezone and including it in the Graph request

Let's keep this issue focused on 1 and I'll create a new issue for 2.

[2020-11-04 09:01] waldekmastykarz opened #735 "In the Agenda component, automatically retrieve preferred timezone for the current user"
# Proposal: In the Agenda component, automatically retrieve preferred timezone for the current user

## Rationale

Retrieving events from the calendar using the current user's preferred timezone is necessary to properly take into account start and endtime of events. Automating the retrieval of the preferred timezone will simplify working with the Agenda component and lower the amount of custom cod

[2020-11-04 09:27] waldekmastykarz opened #736 "[BUG] `yarn start` fails with error"
**Describe the bug**

Running `yarn start` fails with error

**To Reproduce**

Steps to reproduce the behavior:

1. Clone the repo
1. `yarn`
1. `yarn build`
1. `yarn start` > error

**Expected behavior**

Start the project as described in the contrib guide

**Screenshots**

Error:

[code]

**Environment (please complete the following information):**
 - OS: macOS 10.15.7
 - Node: v12.18.4
 - yarn v

[2020-11-04 09:32] waldekmastykarz commented on #736
FWIW, after running `yarn build` and `yarn start` again, all seems to be working just fine. So not sure if it was just a one-off glitch or if there is something else going on on the initial build.

[2020-11-04 11:49] Janath opened #738 "Teams Provider - TypeError: callback is not a function"
Bellow error occurs when initialise teams provider first time or reload the tab. I believe this is triggered from teams.initialize() in TeamsProvider.

MS Teams : Developer preview mode
SDK versions
"@microsoft/mgt": "^1.3.5",
"@microsoft/mgt-react": "^2.0.0-preview.3",
"@microsoft/teams-js": "^1.8.0",

Page error
![image](https://user-images.githubusercontent.com/1796509/98106445-78574600-1eed-11

[2020-11-04 16:15] #681 closed

[2020-11-04 16:33] nmetulev commented on #577
Internal feedback that should be addressed by this issue

1. After running yarn start as described in the contrib guide, I'm seeing this in the browser:

    ![MicrosoftTeams-image](https://user-images.githubusercontent.com/711864/98138689-36d88380-1e78-11eb-8829-0c8f6d91b3e0.png)

    Right now I have no idea what I should do next or where this file is located in the project and what I should adj

[2020-11-04 17:00] pravinchandankhede commented on #732
@vogtn thanks for reply. Do we have a way to specify character limit in debounce or its time interval based only?
Here objective is not to retrict number of search but the payload being downloaded as giving open search will result in heavy transactions.
In my azure ad directory we have around 500k users, groups are additional. Even a 3 character search results in long list hence need way to specif

[2020-11-04 20:04] sebastienlevert commented on #700
I'd love to get that one if you want @nmetulev! You can assign this to me!

Do you want to think we should add some UI components (an actual refresh button, for example) to the default agenda component or leave it to the developer?

[2020-11-04 20:07] sebastienlevert commented on #701
Would love to contribute on that one @nmetulev! You can definitely assign that to me!

[2020-11-04 21:24] nmetulev commented on #701
Thanks @sebastienlevert, it's yours :)

[2020-11-04 21:32] nmetulev commented on #700
Thanks @sebastienlevert, it's yours :)

The request by the developer was to add a method so they can initiate the refresh when they either create a new event, or periodically to make sure the latest is loaded. I like this because it opens up the refresh button up to the developer in how they want to do it (if they want to).

Implementation wise, [this could be a good start](https://github.com/micr

[2020-11-05 05:53] aakashbhardwaj619 commented on #683
Hi @shweaver-MSFT, I would like to work on this if it's Ok.

[2020-11-05 10:09] Namrata99sah opened #740 ""OPEN TAB" Look and Feel"
Hi, Is there any graph toolkit to reproduce the Open Tab UI (Word app) into Outlook?

![image](https://user-images.githubusercontent.com/62616681/98227294-25c56a80-1f7d-11eb-957e-db356b08f846.png)

[2020-11-05 15:48] sebastienlevert commented on #701
This actually also works on the `v1.0` endpoint. Should we take advantage of it instead of relying on the `/beta`?

[2020-11-05 16:20] nmetulev commented on #701
Awesome - I agree, we should use v1.0 unless the API is unavailable.

[2020-11-05 16:36] nmetulev commented on #683
@aakashbhardwaj619, it's yours - feel free to submit a PR

[2020-11-05 18:01] sebastienlevert commented on #701
The current behavior of `mgt-people-picker` current does not limit the search to "only" the members of the specified `group-id`... Is this the preferred behavior or was this a limitation back then? I would expect this issue to fix this, but wanted to make sure we're on the same page!

[2020-11-05 22:45] vogtn commented on #732
@pravinchandankhede

We don't currently have a way to specify debounce character limit or time interval, as its set to a standard 400ms.
Our picker currently populates the results via the following functions:
`findPeople()`
https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt/src/components/mgt-people-picker/mgt-people-picker.ts#L679
`findUsers()`
https://github.com/mic

[2020-11-05 22:48] vogtn commented on #740
Hi @Namrata99sah

We'll need more information to be able to take action on this request. We currently do not have any component that would appear to support this functionality.  Could you be referencing to the `file-picker` component? We are currently working on this and you can follow any progress below :
https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/533

Thanks

[2020-11-05 23:04] beth-panx commented on #736
I switched to the same node and yarn version and I am on macOS 10.15.7. Can't repro this error so I am going to close this issue. 😊

[2020-11-05 23:04] #736 closed

[2020-11-05 23:42] nmetulev commented on #701
hmm, the people picker should limit the search to only the members of the group - it's a bug if it doesn't. Fixing that sounds awesome :)

[2020-11-05 23:45] sebastienlevert commented on #701
It definitely does not limit it 😉 The PR includes the fix and limits it only to the specified group 👍

[2020-11-06 02:38] nmetulev opened #743 "[People Picker] default people should have a different behavior when type === "group" and/or when group-id is set"
**Describe the bug**

When there is no input in the people picker and a user focuses or clicks, the people picker shows a list of people relevant to the user.

However,

1. When group-id is set, the people picker fetches all members of that group, even if there are a lot of members in that group. The number of people fetched should be limited to the `show-max` number and avoid downloading a large

[2020-11-06 04:52] nmetulev opened #744 "[Person] Add an option to disable usage of Contacts apis"
## Description
Add an option to enable/disable usage of the `Contacts` api in the person component.

## Rationale
The person component uses the Contacts apis and requires the `Contact.Read` permission when looking up person details and/or image. However, in some cases, the developer might not want to use the contacts api or are unable to use the contacts api because of the extra scope required.

#

[2020-11-06 05:00] #573 closed

[2020-11-06 05:01] nmetulev commented on #738
Hey @Janath, thanks for creating this bug.

I noticed in your index.html you are importing the npm package and using the toolkit via the es modules. However, in your auth.html, you are using the cdn bundle (script tag). I'm wondering if that might be causing an issue of loading two different versions of the toolkit. Could you try using only the npm package or only the cdn bundle?

If that doesn't

[2020-11-06 07:15] AmeyaPhadnis-2019H1030012G commented on #743
Can I work on this issue

[2020-11-06 14:37] jasonjoh opened #745 "[BUG] Times in Agenda component are shifted incorrectly when using the preferred-timezone attribute"
**Describe the bug**
When using the `preferred-timezone` attribute to specify the user's time zone, the time gets adjusted a second time. Looks like `prettyPrintTimeFromDateTime` is the culprit:

[code]

For example, I'm using a user with "Pacific Standard Time", but my computer's time is set to "Eastern Standard Time". An appointment that starts at 8AM PST ends up rendering as 3AM!

I don't think

[2020-11-06 16:03] nmetulev opened #747 "[Proxy Provider] Add support for fetching the access token on the client"
## Description
This is based on a discussion around the Node.js proxy provider sample (#739). In the sample, the client fetches an initial token using msal.js and uses the proxy provider to send it to the backend. The backend swaps the token from the client for an access token to make the appropriate graph calls.

This issue is a proposal to add the client logic for fetching the initial token dire

[2020-11-06 16:41] #745 closed

[2020-11-06 16:46] nmetulev opened #748 "[Documentation] Add docs for Localization and Right To Left support"
Add docs for features added in #619

[2020-11-06 16:50] #102 closed

[2020-11-06 16:53] nmetulev opened #749 "[Person Card] Localize Person Card"
## Description
The person card should be localized now that #619 is merged

[2020-11-06 16:54] nmetulev opened #750 "[Person Card] Add Right To Left"
## Description
Add Right to Left support to Person Card now that #619 is merged

[2020-11-06 17:51] sebastienlevert commented on #743
The `group-id` part of this is managed in the current WIP PR #741

[2020-11-06 20:41] vesterwang opened #752 "[BUG]Person Picker throws error for external users"
**Describe the bug**
Person Picker component in Teams throws unhandled error or external users: ×
Unhandled Rejection (Error): There is an unterminated string literal at position 27 in '"[upn: <xxxx_microsoft.com'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to azure portal -> Azure Active Directory -> Users
2. Click on "+ New user"
3. Choose "Invite user", add a user from other tenan

[2020-11-06 21:08] #691 closed

[2020-11-06 23:19] beth-panx opened #755 "[BUG] mgt-person doesn't render person that are not in people api"
**Describe the bug**
When a new tenant is populated (for example), trying to use <mgt-person person-query="Person Foo"></mgt-person>, if Person Foo has not interacted with the user signed in, mgt-person will not render Person Foo.

**Expected behavior**
We should fall back to use advanced queries to search /users endpoint

**note** Refer to mgt-people-picker fall back methods.

[2020-11-07 00:12] Abderahman88 commented on #729
@beth-panx Assign this to me please.

PR is created.

Do all tasks need to be completed? (Only changed README-file)

[2020-11-07 00:23] #729 closed

[2020-11-07 00:28] Abderahman88 commented on #729
@beth-panx Alignment, badge height is not that perfect. I need to fix this.

I'll open a new issue for this.

![image](https://user-images.githubusercontent.com/36161889/98426243-61088c00-2098-11eb-8e5f-be9768fbeeb9.png)

[2020-11-07 00:36] Abderahman88 opened #757 "[BUG] Fix styling "good first issue"-badge"
**Describe the bug**
The styling of the "good first issue"-badge is different than other badges.

**Expected behavior**
Badges need to be the same height and same distance from each other.

**Screenshots**
![image](https://user-images.githubusercontent.com/36161889/98426351-c52b5000-2098-11eb-9841-86300311ea6c.png)

**Environment (please complete the following information):**
 - OS: Windows
 - Bro

[2020-11-07 00:36] Abderahman88 commented on #757
Assign to me please 😄

[2020-11-07 00:40] nmetulev commented on #743
Right, let's wait until #741 is merged before moving forward on this issue.

[2020-11-07 00:40] nmetulev commented on #757
Done :)

[2020-11-07 00:41] #683 closed

[2020-11-08 14:54] TechWatching commented on #538
@simonagren I have trouble understanding why a backend is needed, couldn't we just use the token from Teams SSO to retrieve a graph token with the correct permissions using Msal.js ? Even if permissions are not pre-consented by the administrator, doesn't Msal.js allow us to display a pop-up for the user to consent the permissions if it was not done before ? Sorry if it's a stupid question, there i

[2020-11-08 15:09] simonagren commented on #538
Since the front end idtoken could only be used to retrieve basic permissions, and we need additional scopes in MGT, we need a workaround.
The recommended workaround is to use the on-behalf-of flow.

The first thing I looked at was getting the idtoken from the Teams SDK, and using fetch to call an backend (the backend used the obo-flow to get an access token with the requested scopes). Every MGT co

[2020-11-08 15:12] simonagren commented on #538
@TechWatching I'm working on some samples that could be shown in some time. And the current .Net samples will look similar.
I'm working on Azure function and also a Node.js express backend in an Teamds Toolkit React app

[2020-11-08 16:01] TechWatching commented on #538
Thanks for the explanation. 👍 Not always easy to understand how Azure AD and authentication work. I can't wait to see that working because it would simplify a lot using mgt in a Teams tab.

[2020-11-08 23:57] thomyg opened #759 "Sample: Teams Blazor WebAssembly"
# Proposal: Sample: Teams Blazor WebAssembly

## Description
Would like to share a sample using mgt in a Teams Tab using Blazor WebAssembly. As I don't want to surprise you with a sample PR out of nowhere, here the issue. The example exists already at https://github.com/thomyg/MGT-Teams-Blazor-WASM and as soon as we get the Blazor Server sample PR included, this would be my next contribution.

[2020-11-09 20:42] #757 closed

[2020-11-10 04:54] #667 closed

[2020-11-10 04:55] nmetulev commented on #667
@metahumantobe, #742 resolves this issue by using the latest users search api

[2020-11-10 05:51] #700 closed

[2020-11-10 13:24] waldekmastykarz opened #760 "In MGT React add support for specifying CSS class name on elements"
# Proposal: In MGT React add support for specifying CSS class name on elements

## Description

In MGT React add support for specifying CSS class name on elements.

## Rationale

This would allow developer to style components in a specific way that matches their application.

## Preferred Solution

<Agenda className="my-class" />

## Additional Context

This issue is inspired by the need to style

[2020-11-10 13:56] aakashbhardwaj619 commented on #713
Hi @nmetulev, I would like to give this a shot. Can you assign this to me?

[2020-11-10 17:44] sebastienlevert commented on #743
I confirm that we are now always scoping the max number of groups with #741. This one can be closed!

[2020-11-10 17:47] sebastienlevert commented on #712
I'll take this one! This sounds fun!

[2020-11-10 19:21] sebastienlevert opened #761 "[mgt-get] Making the raw response available in the templates"
# Proposal: Adding support for {{ response }} in mgt-get templates

## Description
Right now, when utilizing a `mgt-get` component, we don't have access to the actual "top" response values. We have access to the properties of the `context` but not all of fully response. Utilizing `{{ response }}` in a template would allow to get the raw value of the data.

## Rationale
An example would be to use a

[2020-11-10 20:16] sebastienlevert commented on #761
Got a version working here https://github.com/sebastienlevert/microsoft-graph-toolkit/tree/761

Curious to get your opinion before I send a PR!

[2020-11-10 23:19] nmetulev commented on #713
Hey @aakashbhardwaj619, it's yours :)

[2020-11-10 23:19] nmetulev commented on #712
I like it, thanks @sebastienlevert

[2020-11-10 23:20] nmetulev commented on #711
https://github.com/microsoftgraph/microsoft-graph-docs/pull/10424 is now merged 🍾

[2020-11-10 23:20] #711 closed

[2020-11-10 23:50] #744 closed

[2020-11-11 12:23] TechWatching opened #764 "[BUG] Errors on the authentication pop up when using Teams Provider"
**Describe the bug**
When building a Teams tab using the Microsoft Graph Toolkit with Teams Provider in a React.js application, some errors happen after the entering credentials in the authentication pop up.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the https://github.com/TechWatching/TestingMgtTab to reproduce the issue.
2. Configure a Teams app registration (cf [documentation](

[2020-11-11 23:29] elisenyang commented on #562
@nmetulev Added these edits. Can you review and let me know if this addresses the issues?

https://github.com/microsoftgraph/microsoft-graph-docs/pull/10645

[2020-11-12 21:23] MaJaHa95 commented on #727
Oof, guess I didn't hit send when I first tried to respond 😅.

_But,_ I'd definitely have willingness, although I have pretty well no idea where to start. I've never used LitElement, but it looks decently straightforward.

I did do some extra playing, and I found that Outlook Web Access has basically exactly what I'm talking about, in the To bar. So that's probably good design inspiration. Not tha

[2020-11-13 00:58] nmetulev commented on #752
This issue is cased in scenarios where the email address of person is not formatted as an email address. Discovered that in some tenants, the person object might represent email addresses as `[upn: <email@domain.com>]` instead of `email@domain.com`. When extracting an email from a person, we should pattern match to ensure we handle this as well. Here is an example of person object with this format

[2020-11-13 05:35] nmetulev commented on #761
We do a really bad job of documenting the templating, but if I'm understanding this correctly, I think you can do this today with `this`. For example, this would work and expand the full response in the template:

[code]

Even cooler, you can write regular js in there, so you can also console log `this`

[code]

Is this what you had in mind?

[2020-11-13 06:00] #740 closed

[2020-11-13 07:00] #738 closed

[2020-11-14 02:01] sebastienlevert commented on #761
This is definitely what I had in mind! Definite would require a bit of docs. Just pushed a small change to the docs to cover that! https://github.com/microsoftgraph/microsoft-graph-docs/pull/10681

[2020-11-14 21:25] #701 closed

[2020-11-14 21:27] nmetulev commented on #743
🎆 PR merged and resolves this issue

[2020-11-14 21:27] #743 closed

[2020-11-15 16:46] HiltonGiesenow commented on #538
@simonagren I've got a working sample of the existing msteams-tab-sso-sample-nodejs that I've converted into dotnet, if it's of any help for this. The original is at https://github.com/OfficeDev/msteams-tabs-sso-sample-nodejs and my dotnet version is here: https://github.com/HiltonGiesenow/msteams-tabs-sso-sample-nodejs/tree/master/src/dotnet

[2020-11-15 16:46] HiltonGiesenow commented on #538
also happy to actually help with the dotnet implementation for what you're trying to do, if there's anything left to do?

[2020-11-15 18:52] HiltonGiesenow commented on #538
@sebastienlevert I think it's not only about the consent, albeit that that is part of it, but it's also about handling token refresh better, I think

[2020-11-15 20:23] garrytrinder opened #768 "Add `mgt-react` examples to documentation"
Currently the examples on the `Templates in the Microsoft Graph Toolkit` page in the docs only provide examples of how to define custom templates using the `mgt-` style components and does not provide any detail of how to define similar templates when using `mgt-react`.

After following the `Use the Microsoft Graph Toolkit with React` guide, I wanted to expand the app and so started to look into i

[2020-11-16 01:09] nmetulev commented on #761
Thank you @sebastienlevert, I really appreciate the assist. I'll go ahead and close this issue

[2020-11-16 01:09] #761 closed

[2020-11-16 08:28] waldekmastykarz commented on #768
This is a great suggestion and something I ran into myself but didn't think to bring up, so thanks for doing that @garrytrinder. Since MGT React has its own way of defining templates, which is more natural to React, but different than when using vanilla web components, it would definitely be beneficial to include in the docs as a follow-up to the quickstart we currently have.

[2020-11-16 20:14] vogtn opened #769 "[BUG] people-picker highlight text missing"
**Describe the bug**
The people-picker component features highlighted text in the flyout, to represent the searched text in each
person's name.

Recent css changes have made this feature break.

**To Reproduce**
Steps to reproduce the behavior:
1. Render a `mgt-people-picker` component
2. Search any text that results with people
3. Observe missing highlighted text

**Expected behavior**
The text s

[2020-11-16 20:59] #769 closed

[2020-11-17 07:33] waldekmastykarz opened #771 "Create companion project for MGT React quickstart using CodeTour"
With the [VSCode CodeTour extension](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.codetour&WT.mc_id=opensource-00000-wmastyka), you can create a guided experience for developers to follow and learn interactively how the different pieces of the project play together.

It would be great to give this approach a try and create a companion project for the [MGT React walkthrough we c

[2020-11-17 11:07] garrytrinder commented on #771
Great idea, love this!

[2020-11-17 11:08] garrytrinder commented on #771
@waldekmastykarz I'd be happy to help test this and give feedback.

[2020-11-17 14:27] waldekmastykarz commented on #771
Awesome! Will keep it in mind and will definitely reach out as soon as I have something to show.

Right now, my idea is to take an empty React project as the starting point and then guide developers through the different steps. Would that work? Any considerations that we should take into account?

[2020-11-17 17:00] #562 closed

[2020-11-17 17:38] #712 closed

[2020-11-17 17:45] garrytrinder commented on #771
Sounds like a great place to start, assuming little configuration of React is required, I think the first step should be `npm install` to install the essential packages, with a follow step to install `mgt-react` and then include this in the project.

[2020-11-18 01:00] #732 closed

[2020-11-19 05:22] nmetulev commented on #621
#774 restores the person card v1.0 templating to ensure there is no breaking change for developer upgrading. Keeping this issue open since the additional proposed templates have not been added and should be added in future releases.

[2020-11-19 08:57] waldekmastykarz commented on #771
The great thing is that React tools already do the basic scaffolding for you, so you start with a working React app and we can build it out from there, which shortens the time-to-F5 😄

[2020-11-19 17:29] #265 closed

[2020-11-19 22:11] beth-panx opened #775 "Add dark theme to ALL component"
- [ ] login
- [ ] person
- [ ] person-card
- [ ] people
- [ ] agenda
- [ ] tasks
- [ ] todo
- [ ] sub-components?

[2020-11-20 01:13] #302 closed

[2020-11-20 01:13] #378 closed

[2020-11-20 01:13] #734 closed

[2020-11-20 06:33] metahumantobe commented on #672
Hi,
Thank You for resolving the issue soon.
A mentioned in this link (https://github.com/microsoftgraph/microsoft-graph-toolkit/releases), this issue is fixed in _v2.0.0-preview.6_. So I downloaded this version and tried replicating this issue and the issue still persists.
So I have a query if this issue will be fixed when a stable version 2.0 will be released like the latest version now is 1.3.6

[2020-11-20 17:06] #672 closed

[2020-11-20 17:08] nmetulev commented on #672
Hi @metahumantobe, we had another fix (#766) that also added few fixes that might affect this. That fix should be in the next preview next week, I believe it should improve the experience even further. Please try that out (once it's published) and let us know

[2020-11-20 23:15] nmetulev opened #776 "[BUG] Themes add non-theme styles to apps which can interfere with FluentUI styles"
**Describe the bug**
When the toolkit is imported, we add a style element in the header with the theming variables. However, that also includes some non theme styles such as `ms-Icon` which interfere with apps using the fluentUI styles.

**Expected behavior**
The style element added to the page should only include theme variables specific to the toolkit and nothing else.

[2020-11-23 17:25] #713 closed

[2020-11-23 20:58] nmetulev opened #779 "[BUG] mgt-element should export SimpleProvider and follow the same dist file format as other packages"
**Describe the bug**
`mgt-element` does not currently export the SimpleProvider. Add the appropriate export so the Simple Provider is accessible easily.

Also, `mgt-element` is the only package that uses the root of the `dist` folder as an output, while other packages use `dist/es6` - Update the outDir to `dist/es6` and update all references.

[2020-11-24 18:20] nmetulev opened #780 "Move samples/examples to mgt.dev"
## Description
Now that #773 is merged, we should be able to move most samples in the `samples/examples` folder to mgt.dev

## Additional Context
Not all samples will be able to be moved, but those that can should as this will allow us to test everything easier

[2020-11-24 18:34] #633 closed

[2020-11-24 18:39] nmetulev opened #782 "[Docs] Update mgt-person-card docs for 2.0"
## Description
Update documentation with new features for `mgt-person-card`

[2020-11-24 18:41] nmetulev opened #783 "[Docs] Document package split"
## Description
Document package split
    - [ ] Add list of packages to the get started overview page
    - [ ] Update GitHub & npm READMEs
    - [ ] Update package download instructions in all get started guides

[2020-11-24 18:48] nmetulev opened #784 "[Docs] Update Tasks Documentation"
## Description
- [ ] Convert Tasks component page to Planner
    - [ ] Update link in Overview page
    - [ ] update link in GitHub README
    - [ ] update mgt.dev sample
- [ ] Add new To Do Component page
    - [ ] add link to Overview Page
    - [ ] add link to GitHub README

[2020-11-24 22:16] frankok commented on #768
https://stackoverflow.com/questions/64573688/working-example-for-graph-toolkit-using-sharepoint-spfx-react-and-get-component

[2020-11-24 22:23] frankok opened #785 "[BUG] Person not rendering after upgrade"
**Describe the bug**
I upgraded (removed and then added back in) the mgt and mgt-react packages. After this, the Person components does not render anything.
I am using SharePointProvider.

**To Reproduce**
Steps to reproduce the behavior:
Add the following to a tsx file:
[code]

**Expected behavior**
My profile is rendered.

**Screenshots**

**Environment (please complete the following information

[2020-11-24 23:53] vogtn commented on #727
Thanks @MaJaHa95 Let me know if you come across any other questions, to answer your previous ones:

**1. How do we actually handle the selection?**
We are thinking the added complexity of tracking a drag state or mouse tracking will interfere with some of our current functionality, so we'll stick to using key controls and base the functionality on products with similar behavior.

Primarily:
[code]

[2020-11-25 20:31] bashdx opened #787 "[Docs] Change npmClient property in lerna.json config file to fit either npm or yarn"
## Description

The default `npmClient` property in the `lerna.json` file in the root folder has a default value of `yarn`. For contributors who don't have yarn installed this causes a compilation error when running any `build` commands. Changing this property to `npm` solved the issue.

This should be noted in the contribution guide. Thank you!

[2020-11-29 07:49] HiltonGiesenow opened #788 "Toolkit not working with Static Site Generator"
[I've posted this as a a question on SO as well, in case it was just my setup: https://stackoverflow.com/questions/65022000/build-error-using-static-site-generator-gatsby-and-microsoft-graph-toolkit]

Graph Toolkit does not work with a static site generator (in my case Gatsby) because of it's reliance on lit-html and lit-element, which both don't support Server Side Rendering (SSR). This is an ong

[2020-11-29 14:31] mohamedcherifmo commented on #626
Sorry for the late reply, was a bit busy but thankfully @hagarwahsh took the time to do it :).
[todo-indexdb-poc-master.zip](https://github.com/microsoftgraph/microsoft-graph-toolkit/files/5612296/todo-indexdb-poc-master.zip)

[2020-11-30 17:04] bhargavichalasani opened #789 "mgt-person: option to display mailnickname instead of email address in display fields"
# Proposal: mgt-person: option to display mailnickname (alias) instead of email address in display fields

## Description
mgt-person component should have capability to display mailnickname (alias) in line2 instead of email address.
ex:- bhargavi instead of bhargavi@xyz.com

[2020-11-30 17:23] bhargavichalasani opened #790 "mgt-person: capability to have custom templates for line1 and line2"
# Proposal: mgt-person: capability to have custom templates for line1 and line2

## Description
mgt-person component should support custom templates for line 1 and line 2 so that users can display their own templates. While supporting custom templates all other capabilities like image and person presence should work as is without adding any custom code. Ex:- The custom templates should support ext

[2020-11-30 20:18] henrylao1213 opened #792 "mgt-people-picker blocks text entry when dropdown too long"
**Description**

When mgt-people-picker component dropdown is longer than the height of its position to the bottom of the window it will reposition itself to fill the window.
![a](https://user-images.githubusercontent.com/58538646/100659556-a6218600-3305-11eb-8a1f-446a9450885f.png)
This has been problematic for some of our users because

1). The dropdown obstructs the text field making it harder f

[2020-12-01 04:53] #750 closed

[2020-12-01 10:30] waldekmastykarz opened #794 "[BUG] error when having multiple SPFx web parts on the page using MGT React"
**Describe the bug**

When you have more than one SharePoint Framework web part on the page using MGT, only the first web part works. Other web parts fail with an error similar to the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Download https://github.com/pnp/sp-starter-kit/blob/master/source/react-personal-calendar/sharepoint/solution/react-personal-calendar.sppkg
1.

[2020-12-01 18:34] #775 closed

[2020-12-01 21:49] nmetulev opened #795 "Localization and RTL docs"

[2020-12-01 21:50] nmetulev opened #796 "Theming docs"

[2020-12-01 22:02] #731 closed

[2020-12-01 22:10] nmetulev commented on #787
Thanks for creating the issue. I agree we should do a better job at documenting the requirements. We will add that to our contributor guide.

linked to #577

[2020-12-01 22:14] nmetulev commented on #788
Thanks for creating the issue @HiltonGiesenow. This is something that I've wanted to do as well, but unfortunately it's not something that is supported by our dependencies as you've noted. This is something we are tracking in #329 - let's use that issue for any discussion.

[2020-12-01 22:14] #788 closed

[2020-12-02 18:03] nmetulev opened #797 "[mgt-person] render placeholder while loading/fetching data"
## Description
The person component does not currently render anything while it is loading. Update the person component to always allocate the needed space when loaded.

## Rationale
As the person object is loading, because the space is not allocated, the page moves around when the person component finally loads. When there are a lot of people objects on the page, this can cause the page content t

[2020-12-02 18:45] nmetulev opened #799 "[mgt-person] Add fallback value when no person/user is found in graph"
## Description
Add the ability to fallback to a value to display for the user when no user/person/contact is found in the graph.

## Rationale
There are times where the graph might not have been updated with a new user, but we have some user details (such as email) locally. In that case, the person component today will just display an empty user avatar and not render a person. There should be a wa

[2020-12-02 18:47] nmetulev opened #800 "[Docs] Add Readme pages to all packages"
## Description
Most packages are missing a Readme - the readme is used by the npm package to describe the package on npmjs.com

[2020-12-03 01:29] #749 closed

[2020-12-03 04:21] beth-panx opened #801 "[BUG] simple provider sample broken"
**Describe the bug**
Sign in function doesn't work.
<img width="454" alt="Screen Shot 2020-12-02 at 8 19 38 PM" src="https://user-images.githubusercontent.com/7429891/100963672-bd19d100-34db-11eb-89f9-85db6d485cee.png">

**To Reproduce**
Steps to reproduce the behavior:
1. run mgt repo `yarn start`
2. navigate to simple-provider.html in the sample folder
3. click 'sign in' button
4. See error

**E

[2020-12-03 05:33] #779 closed

[2020-12-03 18:32] #674 closed

[2020-12-03 18:33] #795 closed

[2020-12-03 18:47] nmetulev opened #802 "Publish 2.0"
This issue tracks the publishing progress for a release. It will get updated as tasks are completed

- [x] Prep the release branch
  - [x] Create `release/1.x` branch for 1.x from the current `release/latest` branch for servicing of 1.x
  - [x] Merge main into 'release/latest'
  - [x] Update the package versions to 2.0
- [x] Publish release to GitHub
  - [x] Write release notes
    - [x] Write sum

[2020-12-03 22:07] #748 closed

[2020-12-03 23:40] #733 closed

[2020-12-04 01:31] nmetulev commented on #768
mgt-react docs have been merged in our preview docs and will be published later this month with the release of 2.0. See PR: https://github.com/microsoftgraph/microsoft-graph-docs/pull/10897

[2020-12-04 01:31] #768 closed

[2020-12-04 01:32] #783 closed

[2020-12-04 01:32] #782 closed

[2020-12-04 01:49] #796 closed

[2020-12-04 04:56] nmetulev commented on #794
Hey @waldekmastykarz, this is a known issue at this time and we are tracking it in #229.

There is no easy solution to this while we are waiting for [scoped elements](https://github.com/WICG/webcomponents/blob/gh-pages/proposals/Scoped-Custom-Element-Registries.md) to make it into the w3c spec. But I'm wondering if there is something that can be done with [SPFx library types](https://docs.microsof

[2020-12-04 04:56] #794 closed

[2020-12-04 05:00] nmetulev commented on #229
There is no easy solution to this while we are waiting for [scoped elements](https://github.com/WICG/webcomponents/blob/gh-pages/proposals/Scoped-Custom-Element-Registries.md) to make it into the w3c spec. But I'm wondering if there is something that can be done with [SPFx library types](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/library-component-tutorial) as a workaround for webparts?

[2020-12-04 08:00] waldekmastykarz commented on #229
Good idea! Let's check with ODSP if there are no limitations that would prevent us from doing it.

[2020-12-04 18:50] abisleem opened #804 "Person Assigner Component"
# Proposal: Person-Assigner Component

## Description
Basically the same things as ADO's feature where you can assign work items to users with a search bar and can choose an 'unassigned' field.

## Rationale
For project management type applications where you want to assign work items to specific people.

## Preferred Solution
![image](https://user-images.githubusercontent.com/69599457/101202423-13

[2020-12-04 19:19] beth-panx opened #805 "[BUG] RTL presence icon css is broken"
**Describe the bug**
![Screen Shot 2020-12-04 at 11 18 38 AM](https://user-images.githubusercontent.com/7429891/101205493-8c907f00-3622-11eb-94f9-745a68b20a6d.png)

[2020-12-04 19:21] nmetulev opened #806 "Add support for disabling incremental consent in the MsalProvider and Msal2Provider"
## Description
Add a configuration option to the MsalProvider to disable asking for incremental consent

## Rationale
The components currently ask for the minimum required permission for an API to work. However, in some cases, the developer might already have a higher permission that would allow the API to work. In that case, asking for permission might not be necessary and the developer should ha

[2020-12-04 22:11] amrutha95 opened #807 "[BUG] People-picker - Dropdown positioned incorrectly in Firefox"
**Describe the bug**
![image](https://user-images.githubusercontent.com/22471775/101220476-96be7780-363a-11eb-8ddd-58556e18da1a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to people picker on the story book in firefox

[2020-12-04 22:27] amrutha95 opened #808 "[BUG] People picker - textbox height changes after adding/removing people"
**Describe the bug**
Height changes when a person is added/all people selected are removed in the people picker
![image](https://user-images.githubusercontent.com/22471775/101221487-a939b080-363c-11eb-9554-171f0ec60db7.png)

[2020-12-04 23:51] amrutha95 opened #809 "[BUG] Proxy Provider node sample - Unable to log in"
**Describe the bug**
A clear and concise description of the bug

Error on logging in on the Proxy Provider Node Sample
![image](https://user-images.githubusercontent.com/22471775/101226190-82817700-3648-11eb-82b3-7fb9b8d6b53a.png)

[2020-12-07 00:48] Abderahman88 commented on #799
Like to try this one.

Can you assign to me?

[2020-12-07 03:05] nmetulev commented on #799
You got it, it's yours. Feel free to submit a PR. Let me know if you have any questions.

[2020-12-07 03:43] nmetulev commented on #229
After chatting with @waldekmastykarz, in addition to investigating whether an SPFx library type would work, he suggested we change the  error that happens when trying to register the same component type with a warning. The idea is to log a warning in the console if a component is already registered to let the developer know that someone else might already have imported a different version of the t

[2020-12-07 03:50] nmetulev opened #810 "Throw a warning and not an error when a component attempts to register twice"
Re #229

## Description
Change the error that happens when trying to register the same component type with a warning. The idea is to log a warning in the console if a component is already registered to let the developer know that someone else might already have imported a different version of the toolkit and is using it.

Example:

## Rationale
This will give the developer more information about t

[2020-12-07 03:57] nmetulev opened #811 "Publish preview package on every commit to main. Publish new release on commit to release/latest"
## Description
Update our github action to publish a new preview release to npm on every new commit to main and to publish a new GA release to npm on every commit to release/latest

## Rationale
This will make every new feature and bug fix available faster and streamline the publishing process, saving time for the maintainers.

## Preferred Solution
Update the github actions yaml and add tasks to:

[2020-12-07 04:04] nmetulev commented on #229
As for prototyping with the SPFx library types, that seems like a good solution for SPFx developers. This is how I see it working from a high level:

* Create a new npm package for SPFx. Could be called `@microsoft/mgt-spfx`.
* The package should only take dependency on the `@microsoft/mgt-components` and `@microsoft/mgt-sharepoint-provider` packages as those are the only ones needed. It can the r

[2020-12-07 04:38] nmetulev commented on #672
Hi @metahumantobe, we release another preview of next update, please let us know if you are still seeing this issue with that update as well.

[2020-12-07 04:43] nmetulev opened #812 "Change mgt-react dependency from @microsoft/mgt to @microsoft/mgt-components"
## Description
Replace the @microsoft/mgt-react dependency of @microsoft/mgt to @microsoft/mgt-components

## Rationale
mgt-react does not need the entire toolkit to work and should only take dependency on the components

[2020-12-07 11:54] waldekmastykarz commented on #229
Awesome idea!

- Many folks on SPFx use React but definitely not everyone. Shall we consider `@microsoft/mgt-spfx` and `@microsoft/mgt-spfx-react` or could you use both `@microsoft/mgt` and `@microsoft/mgt-react` with `@microsoft/@spfx`?
- The requirement of being able to support multiple things loading MGT on one page is typical for any system that supports building widgets that aren't isolated i

[2020-12-07 15:52] jasonjoh commented on #809
@amrutha95 from the error it sounds like there was a failure to exchange the token sent in the request for a Graph-compatible token. Unfortunately I don't have enough information to give you a quick fix, I can only suggest ways to track this down.

- Ensure that you've set `AUTH_PASS_THROUGH` to false in your .env file. The sample does not support pass-through.
- Go back and make sure you did all

[2020-12-07 16:54] nmetulev commented on #229
Great point. @microsoft/mgt-react should just work on top of @microsoft/mgt-spfx since mgt-react just uses the components, it doesn't need to register them. If that's not the case, then we should make sure it works that way - I can help with this.

Makes sense, @microsoft/mgt-spfx it is :)

Awesome. Either way, we can make it work

[2020-12-07 17:13] beth-panx opened #813 "[BUG] Remove signin/knobs addon panel"
**Describe the bug**
Currently the addons doesn't introduce any value to storybook

**To Reproduce**
Go to storybook local

[2020-12-07 17:46] beth-panx opened #814 "[BUG] storybook (mgt.dev) doesn't work in Safari localhost... :("
**Describe the bug**
storybook local version doesn't load in Safari

[2020-12-07 19:10] aakashbhardwaj619 commented on #755
Hi @nmetulev, I think I can take this up. Can you assign this to me?

[2020-12-07 19:50] beth-panx commented on #294
closed via #773

[2020-12-07 19:50] #294 closed

[2020-12-07 20:42] sebastienlevert opened #815 "[BUG] When using mgt@next, the handleAuth method of the TeamsProvider fails"
**Describe the bug**
While building a sample of MGT within Microsoft Teams, I'm using the TeamsProvider in a `auth.html` page. On that page, when using mgt@next, I'm always getting an error coming from the `UserAgentApplication` within the MSAL package.

**To Reproduce**
Steps to reproduce the behavior:
1. Use this sample : https://github.com/OfficeDev/M365Bootcamp-TeamsOneProductivityHub/blob/mai

[2020-12-07 22:33] vogtn opened #816 "[BUG] Teams-channel-picker storybook selected state issue"
**Describe the bug**
a `mgt-teams-channel-picker` component rendered in a storybook story in a "selected team" state, leaves the component unstable or unusable depending on the browser.

chromium browsers: input box is unavailable, the user isn't able to make a selection unless they remove it.

Firefox: input cursor is raised (superscriptish) and search icon is displaced.

**To Reproduce**
Steps t

[2020-12-07 23:31] rabwill commented on #229
This is great new @nmetulev 😍 a package for SPFx would be perfect. I am happy to work with you to test out and provide feedback. Thanks also to @waldekmastykarz 💪🏾

[2020-12-08 01:02] Abderahman88 commented on #799
@nmetulev

I can do 2 things to get the result:
1) change the returning template in  `protected renderNoData()` in mgt-person.ts

[code]

2) change `protected async loadState()` in mgt-person.ts

I was looking at option 2, but not sure that it's the best option.
[code]

![noUser](https://user-images.githubusercontent.com/36161889/101422443-006aaa00-38f7-11eb-96e0-fedb8c1f8df4.PNG)

[2020-12-08 02:39] abeisleem opened #817 "[BUG] MgtPerson doesn't work when overwritting user-id attribute with personDetail"
**Describe the bug**
Mgt-person doesn't properly work for some users when it is first initialized with the `user-id` attribute in html and then later changed via `personDetails` in javascript.

**To Reproduce**
Create an mgt-person element using the user-id attribute. Then reference it with in javascript using DOM and change it's `personDetails` property to some other user. This breaks in particul

[2020-12-08 02:47] nmetulev commented on #799
Thanks for looking into this @Abderahman88

I think there is a 3rd option that might work - during rendering the person details, use the fallbackDetails if personDetails is null. For this to work, you could update the [`render`](https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt-components/src/components/mgt-person/mgt-person.ts#L392-L397) method:

[code]

You will al

[2020-12-08 04:19] nmetulev commented on #755
Thanks @aakashbhardwaj619, it's your. Please reach out to me and @beth-panx if you have any questions

[2020-12-08 16:56] #776 closed

[2020-12-08 19:48] amrutha95 commented on #809
Hi @jasonjoh
I tried all the steps again, and logged in with the same user that created the tenant. It works now.
Thank you!

[2020-12-08 19:48] #809 closed

[2020-12-08 20:02] nmetulev commented on #815
Hey @sebastienlevert, thanks for opening this. We are tracking this issue in #764 and I will have a PR to fix this later today.

[2020-12-08 20:02] #815 closed

[2020-12-08 21:21] beth-panx opened #819 "[BUG] persn-card-extensions.html in samples needs update"
**Describe the bug**
additional-details template is adding an extra section in the overview page of person-card
![Screen Shot 2020-12-08 at 1 20 04 PM](https://user-images.githubusercontent.com/7429891/101542804-30966500-3958-11eb-800a-459586741e37.png)

[2020-12-08 21:39] #801 closed

[2020-12-08 21:41] #784 closed

[2020-12-08 21:42] beth-panx opened #821 "[BUG] Circular dependency"
**Describe the bug**
../../packages/mgt-components/dist/es6/graph/graph.photos.js
../../packages/mgt-components/dist/es6/graph/graph.user.js
imports each other

[2020-12-09 00:26] vogtn commented on #785
Hey @frankok

We are currently unable to reproduce this issue with the latest package or the version provided. Can you provide us any additional error information or a reproduction?

[2020-12-09 00:32] beth-panx opened #822 "Update light theme class name"
# Proposal:  mgt-light vs mgt-default

## Description
add mgt-default as the class name for light theme.

## Rationale
Since Microsoft Teams themes are named as default, dark, contrast, etc., @sebastienlevert proposed to have mgt-default equivalent to mgt-light

[2020-12-09 08:00] #785 closed

[2020-12-09 08:01] frankok commented on #785
Closed this, since it seemed to fix itself.

[2020-12-09 12:49] waldekmastykarz commented on #229
Hey @nmetulev, just to check if I get the spec correctly:

- we create a new SPFx package with a library component
- the library component references `@microsoft/mgt-components` and `@microsoft/mgt-sharepoint-provider` but doesn't need to do anything else beyond that
- with the SPFx library component on the page you should be able to use multiple instances of mgt (react) on the page without any ad

[2020-12-09 13:02] waldekmastykarz commented on #229
Btw, I'll created a repo that we can use to test the setup: https://github.com/waldekmastykarz/mgt-spfx

[2020-12-09 13:07] waldekmastykarz commented on #229
@nmetulev when trying to install the MGT dependencies, I'm getting the following error:

[code]

[2020-12-09 13:40] waldekmastykarz opened #825 "[BUG] Error Can't resolve '@microsoft/microsoft-graph-client/lib/es/middleware/MiddlewareUtil' in gulp bundle task in SPFx"
**Describe the bug**

Error while trying to bundle an SPFx package using MGT React

[code]

A clear and concise description of the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Create new SPFx project using SPFx v1.11 (React web part)
1. `npm un @microsoft/rush-stack-compiler-3.3`
1. `npm i @microsoft/rush-stack-compiler-3.7 -D`
1. Update `tsconfig.json` to reference rush-stack-compil

[2020-12-09 14:39] frankok opened #826 "Add click events to line properties in Person component"
# Proposal: Add click events to line properties in Person component

## Description
I would like to be able to add a link to the Delve profile to the person being displayed. It would also be nice to be able to click on the mail link on line2, for easier sending a mail to the person.

## Rationale

## Preferred Solution
Add individual click handlers, like line1Clicked, line2Clicked.

## Additional

[2020-12-09 18:03] sebastienlevert opened #828 "[BUG] --task-border has no effect on the mgt-todo component"
**Describe the bug**
When setting `--task-border` on the `mgt-todo` component, nothing really changes. It only works with `--task-complete-border`.

**To Reproduce**
Steps to reproduce the behavior:
1. Drop a `mgt-todo` component.
2. Add the following style :

[code]

**Expected behavior**
I should get a border around all my todo items.

**Screenshots**
![image](https://user-images.githubuserconte

[2020-12-09 18:07] nmetulev opened #829 "[BUG] [mgt-login] css properties don't work in the signed in state"
**Describe the bug**
Setting `--button-color` and `--button-color--hover` do not have an effect when the mgt-login component is signed in.

**To Reproduce**
Repro:
https://jsfiddle.net/metulev/fju2kLvr/2/

Sign out and notice the difference (note: sign out/sign in takes few seconds when using the mock-provider)

**Expected behavior**
They css custom properties should work the same way for signed i

[2020-12-09 18:37] abeisleem commented on #755
@nmetulev & @aakashbhardwaj619 may I suggest an implementation detail for this fix: It would be preferable if the PeoplePicker, for instance (which calls the people api), and/or the method that calls the people api has a filter that fetches/validates that the people list requested contains people that exist in the user api. As opposed to the Person component making requests to the people api if it

[2020-12-09 19:07] #752 closed

[2020-12-09 20:58] #807 closed

[2020-12-09 21:00] beth-panx commented on #808
Closed via #823

[2020-12-09 21:00] #808 closed

[2020-12-10 00:00] Abderahman88 commented on #799
@nmetulev

I have an issue to declare the double bracket property. Is this because of a prettier config?

![DoubleBrackets2](https://user-images.githubusercontent.com/36161889/101703218-b7dff780-3a82-11eb-8a8c-8cd7c6923361.PNG)

In a simple React project, this is no problem.
![DoubleBrackets1](https://user-images.githubusercontent.com/36161889/101703282-d8a84d00-3a82-11eb-8c6f-5f6dc87deb53.PNG)

[2020-12-10 02:04] vogtn opened #835 "[BUG] Teams-channel-picker overflow"
**Describe the bug**

The `mgt-teams-channel-picker` overflow doesn't appear to be working, a user is able to type past the defined space of the textbox.

**To Reproduce**
Steps to reproduce the behavior:
1. render a `mgt-teams-channel-picker`
2. Type so that the space taken with characters extends past the visible area of the textbox
3. observe

**Expected behavior**
The teams channel picker shou

[2020-12-10 02:20] rabwill commented on #229
@waldekmastykarz  and @nmetulev  so far so good, I had to add `@microsoft/mgt-element` package as well for Providers in the library.
Just quick sanity check. We could load this our library as an application customizer right? with highest sequence so this is loaded first?

[2020-12-10 02:47] rabwill commented on #229
@waldekmastykarz @nmetulev react components don't seem to work on top of just mgt-components so may be mgt-react should also be exported? I also had to add mgt-elements into the library for below

[code]

Just a thought what if we add this library as an application customizer, so we know for sure it's loaded in sequence and in every page?

[2020-12-10 04:57] #828 closed

[2020-12-10 05:44] nmetulev commented on #799
Hey @Abderahman88, if you are setting the details in html, then you should be able to do this:

[code]

[2020-12-10 05:56] nmetulev commented on #229
This is so cool!

I just created a PR to change the dependency of mgt-react to just mgt-components (#839), that should help to keep the dependency light.

mgt-element makes sense, that's where all the provider glue lives. We could re-export mgt-element from mgt-react, but not sure if that makes a ton of sense.

This also makes sense, since the components now live globaly on the page, they only nee

[2020-12-10 08:54] waldekmastykarz commented on #229
Nope, that makes perfect sense. If you use MGT across multiple web parts/extensions, you shouldn't need to load the init code multiple times.

[2020-12-10 15:46] #816 closed

[2020-12-10 16:30] nmetulev opened #840 "[BUG] [Teams-channel-picker] search icon wraps to second line"
**Describe the bug**
When the selected channel in the teams channel picker is bigger than the width of the component, the search icon wraps to the second page.

**To Reproduce**
Select a channel on the teams-channel-picker and change this size until the search icon wraps

**Expected behavior**
It should fade away as part of the overflow

**Screenshots**
If applicable, add screenshots to help expla

[2020-12-10 18:30] amrutha95 commented on #817
Closing this since this is related to #755

[2020-12-10 18:30] #817 closed

[2020-12-10 18:34] Abderahman88 commented on #799
I think I'm getting close.

left person : `<mgt-person person-query="Bill Gates" view="twoLines" fallback-details='{"email": "my@email.com", "displayName": "Bill Gates"}'></mgt-person>`

right person : `<mgt-person person-query="me" view="twoLines" person-card="hover" show-presence></mgt-person>`

1) Screenshot when logged out
![NoUserFallback](https://user-images.githubusercontent.com/36161889/10

[2020-12-10 18:43] nmetulev commented on #825
Closing issue since this is resolved in the latest package and I verified it was working with @waldekmastykarz

[2020-12-10 18:43] #825 closed

[2020-12-10 19:20] #800 closed

[2020-12-10 19:43] #764 closed

[2020-12-10 21:51] #819 closed

[2020-12-10 21:55] beth-panx opened #842 "[Docs] Add documentation for common custom css properties"
## Description
Document the common custom css property names in the shared-sass-variables.scss file

[2020-12-10 22:49] #805 closed

[2020-12-10 22:57] #829 closed

[2020-12-10 23:09] #715 closed

[2020-12-10 23:09] #812 closed

[2020-12-10 23:25] sebastienlevert opened #844 "[BUG] Refresh tokens are not supported in MGT"
**Describe the bug**
After a long moment where a browser goes idle for instance, MGT stops working. It's probably related to refresh tokens and the way they are handled. I was wondering if these were supported and if yes, what is the expected behavior?

**To Reproduce**
Steps to reproduce the behavior:
1. Use any app you have
2. Add a `mgt-person` component on the page
3. Login
4. Leave the page i

[2020-12-10 23:45] nmetulev commented on #799
I think this could work, but I think it could have undesired effect in the way we are fetching data from the graph because we are checking for the personDetails value and use that.

Keeping fallbackDetails and personDetails seperate would be a more ideal approach as that would avoid any issues with how the data is loaded currently.

[2020-12-11 16:08] Abderahman88 commented on #799
Yes, I was thinking the same to keep them seperate. Thnx

[2020-12-11 18:44] chingucoding commented on #760
I am not sure if I understand this proposal correctly, do you want to be able to set the className property on MGT-React components and those classes should be applied to the actual webcomponent? In that case, that's already possible:

[code]

yields following DOM entry:

[code]

[2020-12-11 19:07] chingucoding commented on #159
@shweaver-MSFT Was this addressed by #281? The "host" of the mgt-person-card is binding to `--mgt-flyout-set-width`, however nothing similar seems to exist for the height.

[2020-12-13 07:11] rangeranger opened #845 "[mgt-people-picker] - Ability to add filter of people properties"
Please give the ability to add user [property ](https://docs.microsoft.com/en-us/graph/api/resources/user?view=graph-rest-1.0#properties)filters to the search.

I added this component to an Angular app and it is also returning the users that are no longer in the company. I cannot add 'accountEnabled' filter to the search as I can with Graph api.

At least give an ability to add additional properti

[2020-12-13 09:54] HiltonGiesenow opened #846 "[BUG] Need to Sign in continually"
I've upgraded to the latest 2.0 version, and I need to *continually* sign in now - every page reload seems to lose the signin info. I'm still looking into it more, but just an early fyi.

**To Reproduce**
Upgrade an existing app using MGT, to 2.0, and try to sign in, then refresh the page or browse to another route (React).

**Expected behavior**
MGT should remember the existing login (this seems

[2020-12-13 15:00] michaelmaillot opened #847 "[BUG] SPFx : Module not found: Error: Can't resolve '@microsoft/microsoft-graph-client/lib/es/middleware/MiddlewareUtil'"
**Describe the bug**
When building a SPFx WebPart with Graph Toolkit, I got the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Init SPFx project with a WebPart
2. Execute `npm i @microsoft/mgt @microsoft/mgt-react @microsoft/rush-stack-compiler-3.7`
3. Update the `tsconfig.json` file to replace the `extends` parameter by the one mentioned [here](https://docs.microso

[2020-12-14 14:16] waldekmastykarz commented on #760
I believe I had errors in React when using `className` due to how components' inheritance was set up. Perhaps it's been fixed already.

[2020-12-14 16:36] wvstrien commented on #825
Not working for me; neither after npm install @microsoft/mgt@latest

[2020-12-14 16:37] wvstrien commented on #847
Experiencing same issue, when extending an existing SPFx solution to utilize MGT; applying steps described in https://docs.microsoft.com/en-us/graph/toolkit/get-started/build-a-sharepoint-web-part

Problem originates once includes this in .ts file:

protected async onInit() {
    Providers.globalProvider = new SharePointProvider(this.context)
}

[2020-12-14 19:52] wvstrien commented on #847
I experienced the same; I could resolve via this:
1. install i @microsoft/mgt@next  (the solution from https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/825)
2. And also needed: npm i @microsoft/microsoft-graph-client@latest

[2020-12-14 20:10] wvstrien opened #848 "[BUG] Failed to execute 'define' on 'CustomElementRegistry': the name "mgt-mock-provider" has already been used with this registry"
Update SPFx solution to use MGT according to https://docs.microsoft.com/en-us/graph/toolkit/get-started/build-a-sharepoint-web-part

In the Internal React Component, add in the render() method:
 <Person personQuery="me"></Person>

Gulp serve:
[SPLoaderError.loadComponentError]:
Failed to load component "13f0c9bc-0937-46b2-8651-949f7bed9ee9" (ConfMngtSearchKeyUsersWebPart). Original error: Failed t

[2020-12-14 20:32] vogtn opened #849 "[BUG] [mgt-tasks] embedded people-picker close-icon height"
**Describe the bug**
When using a `mgt-tasks` component, assignment of users is possible through the embedded `people-picker` component.

On the latest version of the toolkit, the vertical centering for each "close-icon" of an assigned user is off:

**To Reproduce**
Steps to reproduce the behavior:
1. Render an mgt-tasks component
2. edit assigned users to a current or new task
3. Select a user
4.

[2020-12-14 21:20] wvstrien commented on #848
Problem appears to come from node-modules/@microsoft/mgt-element/dist/es6/mock/mgt-mock-provider.js; that code is executed multiple times when trying to load the webpart

![mgt-mock-provider-defined-multiple-times](https://user-images.githubusercontent.com/36774518/102137051-85574580-3e5a-11eb-94d5-88da4008cea9.png)

[2020-12-14 21:29] michaelmaillot commented on #847
Confirm it's also working even with @latest version of both `mgt` and `mgt-react`(2.0.0), from the moment where you install the Graph JavaScript Client Library.

Maybe a missing dependency in mgt package?

[2020-12-14 21:37] sinhakislay commented on #848
I also have the exact same issue after upgrading my project to latest version graph toolkit 2.0

[2020-12-15 03:45] nmetulev commented on #847
Sorry about this folks.

@michaelmaillot, I think you're right, it looks like graph client v1.1 version is being pulled by default instead of 2x. I just created #850 to add the missing dependency back in.

[2020-12-15 03:58] nmetulev commented on #848
Thanks for creating the issue @wvstrien, and sorry about the trouble. I tried to repro the issue by creating a new webpart, but I wasn't able to. Are you able to share more? How are you referencing the toolkit?

[2020-12-15 04:00] nmetulev commented on #846
Hey @HiltonGiesenow, were you able to narrow down the issue? I'm not able to repro in a React app

[2020-12-15 07:33] waldekmastykarz commented on #844
This is by design. Since the browser is a public client, refresh tokens should not be stored in it. That said: the client should have all the information necessary to obtain a new access token if the one it had previously expired. I'd therefore suggest we rename this issue to refer to MGT not obtaining valid access token after them expiring.

[2020-12-15 15:37] sebastienlevert commented on #844
Yeah, that definitely makes sense to me!

[2020-12-15 16:15] wvstrien commented on #848
Hi @nmetulev ,

I followed the steps outlined in https://docs.microsoft.com/en-us/graph/toolkit/get-started/build-a-sharepoint-web-part; and in addition to resolve on https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/847 I 1) installed @microsoft/mgt@next (aka preview) as that would fix; and when that did not, also 2) installed @microsoft/microsoft-graph-client@latest

In the soluti

[2020-12-15 16:47] beth-panx commented on #780
Closed via #834

[2020-12-15 16:47] #780 closed

[2020-12-15 16:51] beth-panx commented on #320
closed via #773

[2020-12-15 16:51] #320 closed

[2020-12-15 17:26] wvstrien commented on #848
Update, also happening when I revert to @microsoft/mgt 2.0
(install of mgt preview turns out not needed to fix https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/847; sufficient is to update the microsoft-graph-client

  "dependencies": {
    "@microsoft/mgt": "^2.0.0",

[2020-12-15 17:48] wvstrien commented on #848
Update:
after degrading to earlier versions, the problem is gone:
    "@microsoft/mgt": "^1.3.6",
    "@microsoft/mgt-react": "^1.3.0-preview.3",

In particular had to uninstall latest version of @microsoft/mgt-react from 2.0.0 to 1.3.0

[2020-12-15 18:12] #847 closed

[2020-12-15 21:12] #802 closed

[2020-12-15 21:12] #527 closed

[2020-12-15 21:16] #158 closed

[2020-12-15 21:19] nmetulev commented on #318
Duplicate of #577

[2020-12-15 21:19] #318 closed

[2020-12-15 21:20] #413 closed

[2020-12-15 21:23] #571 closed

[2020-12-15 21:24] nmetulev commented on #579
@beth-panx, can this be closed?

[2020-12-16 11:53] jithin77 opened #852 "Microsoft Graph Toolkit People Picker Read-only Property"
I am using Microsoft Graph Toolkit People Picker Component as illustrated in the documentation [https://docs.microsoft.com/en-us/graph/toolkit/components/people-picker][1].

All the functionality is working fine but unable to set the people picker to disabled/read-only. I have tried `disabled="true" but no luck. Anybody came across similar scenario?

[2020-12-16 12:30] waldekmastykarz commented on #852
Unless I'm missing something, it doesn't seem to be supported at the moment. If that's the case indeed, it would be a great addition to the component.

[2020-12-16 19:50] #792 closed

[2020-12-17 05:35] nmetulev commented on #848
@wvstrien, to clarify, installing @microsoft/microsoft-graph-client@latest does not solve the issue for you?

The issue you are describing sounds like there are two versions of the graph toolkit loaded, do you by any chance have a non matching version of `mgt-react` and `mgt`? I wonder if an older version of `mgt` is being loaded somehow, could you try to delete your `node_modules` folder and rest

[2020-12-17 05:36] nmetulev commented on #847
Quick update, just released v2.0.1 that contains this fix - please let us know if the issue persists.

[2020-12-17 12:18] metahumantobe commented on #672
Hi @nmetulev, thanks for informing. I've downloaded the latest version and I'm not getting this issue anymore. Thank You.

[2020-12-17 17:20] nmetulev commented on #852
Agree, this is a great feature that should be added, and likely fairly straightforward to add.

[2020-12-17 17:26] nmetulev commented on #844
I suspect this is a TeamsProvider issue and does not apply to MsalProvider. In the TeamsProvider, we use msal under the covers to handle the new tokens, but I wonder if that requires a redirect to do that and that's why it's failing since we need to use the auth popup for the redirect.

@sebastienlevert, did you see any console errors that can help narrow down why a new access token is not retriev

[2020-12-17 17:27] nmetulev commented on #760
I wonder if this works in `jsx` but not `tsx`? As in, maybe we just need to add the `className` property to the prop types for the components?

[2020-12-17 17:35] Ofer-Gal opened #854 "showPresence always show offline in Person component of mgt-react": "^2.0.1""
In SPFx web part using the latest "@microsoft/mgt-react": "^2.0.1", I have:

`
import { Person, PersonViewType } from '@microsoft/mgt-react';
`
then in the render
`<Person personQuery={email} showPresence={true} view = {PersonViewType.oneline}/>`

I tried 3 different PersonViewType types but all show the picture and name as expected but the presence is always
showing offline.

The old Way :
`<mgt-

[2020-12-17 18:10] nmetulev commented on #845
Thanks for the feature request @rangeranger.

To clarify, is the request to add a filter property that will pass it to the call to the graph when searching for users?

The people picker is also using the `people` and `groups` endpoint for searching, likely need to add something similar for each endpoint For example:

[code]

[2020-12-17 18:16] rangeranger commented on #845
@nmetulev: Yes, my request is for user filter. Not for groups. But, as you said it also makes a call for groups having a filter for groups is beneficial. But, the filter types are different for groups and users.

[2020-12-17 18:21] nmetulev commented on #159
@chingucoding, this was not added to person card - the challenge is that the person card has been designed with that specific size in mind and we are concerned that changing the size will break the layout. The `--mgt-flyout-set-width` was added internally to ensure when the person card can fit in narrow screens, but it's not meant to be used by developers.

Do you have a use case in mind?

[2020-12-17 18:25] chingucoding commented on #159
I don't really have a use case in mind. So is it better to close this then as "won't add" given that changes to the sizing could easily break layout?

[2020-12-17 21:06] nmetulev commented on #159
Agree!

[2020-12-17 21:06] #159 closed

[2020-12-17 21:37] chingucoding commented on #760
@nmetulev Indeed, this is an issue with typescript usage, trying to assign a value to the className property gives the following error:

[code]

What would the appropriate way to fix this? Add that to the prop types of the mgt-react controls?

[2020-12-17 22:40] #813 closed

[2020-12-17 22:43] nmetulev commented on #826
I agree, this is a good feature to add. @frankok, would you be up to adding this to the person component. We could add `line1-clicked`, `line2-clicked`, and `line3-clicked` events

[2020-12-17 22:45] nmetulev commented on #845
Got it, that seems reasonable. Would you be up to helping us implement it?

[2020-12-17 23:57] sebastienlevert commented on #844
This is what I am getting. Basically waited for 65 minutes and then I can't use the people card (that was not open before that specific moment).

![image](https://user-images.githubusercontent.com/7620955/102557598-9346d980-4099-11eb-9997-f89179d7fd91.png)

Might be related to the was the Teams Provider handles the challenge? I feels like it wants to iframe something here...

[2020-12-18 00:26] nmetulev commented on #760
The simplest would be to add the prop in the script that generates the react props. We could add it here when the props object is instantiated: https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/main/packages/mgt-react/scripts/generate.js#L43

For example
[code]

@chingucoding, do you fancy a PR?

[2020-12-18 08:39] chingucoding commented on #760
Sure, I'll create a PR!

[2020-12-18 09:41] waldekmastykarz commented on #760
Rather than adding a custom `className` property, shouldn't we use it from React by changing the inheritance of our component classes?

[2020-12-18 09:59] chingucoding commented on #760
Good point, otherwise we would keep adding properties everytime someone is missing a react property. I can't think of a reason why the components shouldn't inherit from React.Component. Though, a possible issue is that not every property might make full sense to expose? For example the props property might not have any effect at all, exposing that as an API doesn't really make much sense then.

[2020-12-18 10:20] waldekmastykarz commented on #854
![image](https://user-images.githubusercontent.com/11164679/102603146-b49fd800-4122-11eb-90ef-fd711ff4415f.png)

I can get the React component to show the correct presence using the exact setup you mentioned @Ofer-Gal. What I have noticed though, is that once the component retrieves the presence, it reuses it on subsequent loads (no presence requests are being issued to Graph), so even if the pers

[2020-12-18 12:04] wvstrien commented on #848
@nmetulev as https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/847 is now fixed, I restored my solution to use latest of mgt and mgt-react. And now also this issue is gone.

For reference, this is now in package.json:
  "dependencies": {
    "@microsoft/mgt": "^2.0.1",
    "@microsoft/mgt-react": "^2.0.1",
    "@microsoft/microsoft-graph-client": "^2.2.1",
    "@microsoft/sp-core-li

[2020-12-18 12:30] waldekmastykarz commented on #844
Could this line be the cause of this behavior? https://github.com/microsoftgraph/microsoft-graph-toolkit/blob/0252b1febed38fc617f6427b00ca211661126256/packages/providers/mgt-teams-provider/src/TeamsProvider.ts#L349-L359

Notice line 355 that doesn't yield auth prompt but rather returns null.

[2020-12-18 12:48] waldekmastykarz commented on #760
Looking at it further, it seems like exposing the specific properties on the component is the way to go after all. HTML attributes are not exposed by default and if a component should allow setting a specific HTML property, it should expose it as a property. Sorry for the confusion.

[2020-12-18 12:51] chingucoding commented on #760
Right, I see; thank you for the clarification/update! While we are at it, do you guys think it would be better to add more than just `className`, for example `id` or `aria-label`?

[2020-12-18 12:54] Ofer-Gal commented on #854
no presence requests are being issued to Graph is not the desired behavior in my opinion.
My web part refreshes every 30 seconds to show the user current state of everything including the presence of the users showing in it.
how do I verify if there are requests issued to the presence Graph endpoint?
I assume the required Presence.Read or Presence.Read.All permissions are set because the previous

[2020-12-18 18:48] nmetulev commented on #760
Good idea - I think `id` is a good candidate to also include while you are adding `className`.

Can `aria-*` attributes be set as properties? If not, we'd have to update the wrapper to recognize them as such and set them as attributes instead. IMO, out of scope for this issue if that's the case

[2020-12-18 18:52] nmetulev commented on #844
I think you are right. We need to open up the auth popup here and signal to it fetch a new token. We'd likely need to also update the `handleAuth` method to go down a refresh token path instead of the signin path in that case.

[2020-12-18 18:53] nmetulev commented on #848
That's great, thanks for the update. I will go ahead and close this issue in that case

[2020-12-18 18:53] #848 closed

[2020-12-18 19:04] nmetulev commented on #854
I think you are right about your dev tenant - it sounds like the call to the graph is made as appropriate, but the graph is returning "Offline". Just to confirm, can you see the presence of that user in your dev tenant as Available in Teams?

Regarding the caching of the presence call - 2.0 of the toolkit now caches the presence calls by default for 5 minutes. It doesn't sound like you are running

[2020-12-18 19:06] chingucoding commented on #760
Yes, you can set aria attributes as properties. I've updated my PR #855 to also expose the id property now. I agree that aria is something that is out of scope for this issue and should be tracked if the need arises.

[2020-12-18 19:25] nmetulev commented on #760
Sounds good - let me know when you've updated the PR with the id property and I'll merge it :)

[2020-12-18 19:28] chingucoding commented on #760
Oh forgot to push the commit haha, commit is in the PR now, only waiting for CI to finish now.

[2020-12-18 20:09] chingucoding commented on #760
@nmetulev CI for #855 passed with the id changes now.

[2020-12-18 20:13] #760 closed

[2020-12-18 23:13] Ofer-Gal commented on #854
Cool solution thank you @nmetulev

[2020-12-18 23:32] nmetulev commented on #854
You're welcome. I'll go ahead and close this issue as it sounds like things are working, but let us know if that is not the case.

[2020-12-18 23:32] #854 closed

[2020-12-21 08:07] Ramakrishnan24689 commented on #852
Hi @nmetulev ,

I would like to work on this one. Can you assign it to me?

[2020-12-21 13:56] frankok commented on #826
I don't know Web Components very well, but maybe someone else can contribute?

[2020-12-22 11:50] waldekmastykarz commented on #852
Awesome @Ramakrishnan24689! Appreciate your help! 👏

[2020-12-23 22:24] rdweaver opened #859 "Update presence Interval property for the person component."
# Proposal: updatePresenceInterval property for the person component.
## Description
I would like the ability to set  an updatePresenceInterval property (time in milliseconds) for how often the person component should go check if the users presence changed.

## Rationale
I have a list of contacts that I am displaying with using the Person component, and I want the presence for the contacts to be u

[2020-12-23 23:37] vogtn commented on #859
Hi @rdweaver we have a proposal for this similar feature here:

https://github.com/microsoftgraph/microsoft-graph-toolkit/issues/264

At the moment, this task is available for our community to help out on. If this is something you'd like to help out with, we can further the discuss spec details once the team becomes available after holidays.

[2020-12-24 00:56] ozippy commented on #708
It took me a few hours to work out why I couldn't get the <Login/> component for React to work. All that would happen would be I would sign-in and end up back at the sign-in button. No errors reported in the console. With some help from Fiddler, I worked out that it was because the Azure app registration was not configured for multi-tenant. It might be useful to highlight that in the docs. (I foun

[2020-12-25 05:55] HiltonGiesenow commented on #846
SDPE = "Seriously Dumb Programmer Error" - silly error my side, closing issue now

[2020-12-25 05:55] #846 closed

[2020-12-25 13:57] aakashbhardwaj619 commented on #755
Hi, @abeisleem! Not sure if I got your point, but since the _/me/people_ endpoint only returns a subset of the users from the _/users_ endpoint, I've added the fallback call to find the person using the _/users_ endpoint only if the person is not returned from the _/people_ endpoint. A similar approach is being followed in the People-Picker component where the first call is made to the _/me/people

[2020-12-28 23:15] sinhakislay opened #861 "[BUG] - SelectedItem property is not available"
**Describe the bug**
I have a very basic code where I want to use mgt-teams-channel-picker and on button click I want to render Team Channel name and ID in HTML

Source code:
[code]
Here the problem is that "picker.selectedItem" has compile error as "Property 'selectedItem' does not exist on type 'Element'.ts(2339)"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a SharePoint Web Part

[2020-12-29 09:57] tmarinov82 opened #862 "A simple React Application doesn't work"
I created a simple React App. As instructed create Azure AD App registration as instructed here: https://docs.microsoft.com/en-us/graph/toolkit/get-started/add-aad-app-registration.
This is my index.js file:

import React from 'react';
import ReactDOM from 'react-dom';
import './index.css';
import App from './App';
import reportWebVitals from './reportWebVitals';
import { Providers } from '@micros